@model IEnumerable<Speedbird.DriverDets>
<style>
    .table{
        width:100%;
        min-width:100% !important;
    }
</style>
@if (Model != null)
{
    <div>
        <br />
        <table class="table table-sm table-striped">
            <thead class="bg-primary">
                <tr>
                    <th>

                    </th>
                    <th>
                        Driver Name
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Car Model
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Score
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="radio" value=@item.DriverID name="DID" id="DID" />
                        </td>
                        <td>
                            @item.DriverName
                        </td>
                        <td>
                            @item.Phone
                        </td>
                        <td>
                            @item.CarModel
                        </td>
                        <td>
                            @item.GeoName
                        </td>
                        <td>@item.Score</td>
                    </tr>



                }
               

            </tbody>
        </table>
    </div>

}
<script>
    $(document).ready(function () {
        $("input[type='radio']").on('change', function () {
            var selectedValue = $("input[name='DID']:checked").val();
            if (selectedValue) {
                $("#DID").val(selectedValue);
            }
        });

    });
   </script>
