<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="~/scripts/themes/fontawesome-stars.css">
@*<div class="modal fade" id="DrvReviewModal" tabindex="-1" role="dialog" aria-labelledby="DrvReviewLabel" aria-hidden="true">*@
    <div class="modal-dialog" rol
         e="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DrvReviewModalLabel">Feedback</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("ReviewDriver", "SR", FormMethod.Post, new { id = "ReviewDrv" }))
            {

                @Html.AntiForgeryToken()
                @Html.Hidden("SRID", (int)ViewBag.SRDID)

                @Html.Hidden("SRDID", (int)ViewBag.SRDID)
                <div class="modal-body">


                    <div>
                        <br />
                        <table class="table table-sm table-striped">
                            <thead class="bg-primary">
                                <tr>
                                    <th colspan="2">
                                        <center class="text-light">Please score the driver. 5 is best and 1 worst.</center>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in ViewBag.Quests)
                                {
                                    <tr>
                                        <td width="30%">
                                            <select id="Star" name="Star" class="jqStar">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>

                                        </td>
                                        <td width="70%">
                                            @Html.Hidden("QuestionID", (int)item.QuestionID)
                                            @item.FQuestion
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>

                </div>

            }
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="SaveRev" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>

        </div>
    </div>
@*</div>*@



    <script>
    $(function () {
        $('#SaveRev').click(function () {
                var detFrm = $('#ReviewDrv');

                if (typeof(detFrm[0]) == 'object')
                {
                    $.ajax({
                        url: '@Url.Action("ReviewDriver", "SR")',
                        type: 'post',
                        data: $(detFrm).serialize(),
                        success: function () {
                            @*window.location.assign('@Url.Action("SRDiaryDets")');*@
                            $('#snackbar').css("display", "block");
                            $('#snackbar').delay(5000).fadeOut('slow');
                        }
                    });
                }
        });

        //$('#DrvReviewModal').on('shown.bs.modal', function (event) {

        //    var button = $(event.relatedTarget); // Button that triggered the modal
        //    var recipient = button.data('srdid');
        //    var modal = $(this);
        //    modal.find('#SRDID').val(recipient);

        //    modal.find('#Example').focus();


        //});


        $('.jqStar').barrating({
            theme: 'fontawesome-stars'

        });


    })


    </script>
