@model Speedbird.ServiceRequest
<style>

    #map {
        height: 350px;
        width: 100%;
    }
</style>
<div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
    <span class="h3">@ViewBag.Title</span>
    <a href="@Url.Action("Index","SR",new { sid= ViewBag.sid})"><i class="fas fa-undo-alt fa-inverse h3 float-right DropShadow"></i></a>
</div>

@using (Html.BeginForm("Manage", "SR", FormMethod.Post, new { id = "" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("AgentID")
    if (Model?.SRID > 0)
    { @Html.HiddenFor(model => model.SRID)
    @Html.HiddenFor(model => model.EmpID)
    @Html.HiddenFor(model => model.AgentID)

    @Html.Action("GetSRInfo", "SR", new { id = Model.SRID, mode = ViewBag.mode })

}

<div class="form-row">
    @if (Model?.SRID > 0)
    {
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Agent Name</span></div>

        @if (ViewBag.AgentName != null)
        {
            @Html.HiddenFor(model => model.AgentID)

            <input type="text" id="UserName" name="UserName" style="color:black;" data-autocomplete-idholder="#AgentID" value=" @ViewBag.AgentName " data-autocombo-url="@Url.Action("AutoCompleteAgent")" class="form-control disabled" />
        }
        else
        {
            <input type="text" id="UserName" name="UserName" style="color:black;" data-autocomplete-idholder="#AgentID" value="" data-autocombo-url="@Url.Action("AutoCompleteAgent")" class="form-control" />
        }
        @Html.ValidationMessageFor(model => model.CustID, "", new { @class = "text-danger" })
    </div>
    }
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Enquiry Source</span></div>
        @Html.DropDownList("EnquirySource", null, htmlAttributes: new { @type = "text", @class = " form-control" })
        @Html.ValidationMessageFor(model => model.EnquirySource, "", new { @class = "text-danger" })
    </div>
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">ServiceType</span></div>
        @Html.DropDownList("ServiceTypeID", null, htmlAttributes: new { @type = "text", @class = " form-control" })
        @Html.ValidationMessageFor(model => model.ServiceTypeID, "", new { @class = "text-danger" })
    </div>


</div>
<div class="form-row">
    @if (Model?.SRID > 0)
    {
        <div class="input-group col mb-3">
            <div class="input-group-prepend"><span class="input-group-text">Status</span></div>
            @Html.DropDownList("SRStatusID", null, htmlAttributes: new { @type = "text", @class = " form-control" })
            @Html.ValidationMessageFor(model => model.SRStatusID, "", new { @class = "text-danger" })
        </div>
    }
    else
    {
        <div class="input-group col mb-3">
            <div class="input-group-prepend"><span class="input-group-text">Requests</span></div>
            <div class="form-control" style="padding:0px !important">@Html.TextArea("Event", null, htmlAttributes: new { @class = "form-control" })</div>
        </div>
    }
</div>

if (Model?.SRID == null)
{
    <div class="form-row">
        @Html.Hidden("CID")
        <div class="input-group col mb-3">
            <div class="input-group-prepend"><span class="input-group-text">First Name</span></div>
            @Html.Editor("FName", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="input-group col mb-3">
            <div class="input-group-prepend"><span class="input-group-text">Sur Name</span></div>
            @Html.Editor("SName", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="input-group col mb-3">
            <div class="input-group-prepend"><span class="input-group-text">Phone</span></div>
            @Html.Editor("Phone", new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="input-group col mb-3">
            <div class="input-group-prepend"><span class="input-group-text">Email</span></div>
            @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
}

<div id="ExistingCust">
    <br />
    @if (Model?.SRID == 0)
    {
    <table class="table table-sm table-striped">
        <thead class="bg-primary">
            <tr>
                <th>

                </th>
                <th>
                    First Name
                </th>
                <th>
                    Sur Name
                </th>
                <th>
                    Mobile
                </th>
                <th>
                    Email
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>

            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>

            <tr>
                <td colspan="5"><center>This Table Will Display Existing Customers.</center></td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>

            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>


        </tbody>
    </table>
    }
</div>


<div class="input-group col ">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>
}

<script>

        $(document).ready(function () {

        //Submit form
        $('#SaveDetails').click(function () {
            var detFrm = $('#detFrm');

            //Save the details form if it exists else just move on.
            if (typeof (detFrm[0]) == 'object') {
                $.ajax({
                    url: detFrm.action,
                    type: 'post',
                    data: $(detFrm).serialize(),
                    success: function () {
                        window.location.assign('@Url.Action("Index")');
                    }
                });
            }
        });


        });


</script>

<script>
    $(document).ready(function () {
        $("#FName,#SName,#Phone,#Email").keyup(function () {

            var fname = $('#FName').val();
            var sname = $('#SName').val();
            var phone = $('#Phone').val();
            var email = $('#Email').val();

            if (fname.length == 3 || sname.length == 3 || phone.length == 3 || email.length == 5) {
                $('#ExistingCust').html("");
                $('#ExistingCust').load("/SBBoss/SR/ExistingCustRec?fn=" + fname + "&&sn=" + sname + "&&ph=" + phone + "&&em=" + email);
            }
            $("textarea").jqte();
        })
    });
</script>