<style>
    .actions {
        width: 200px !important;
    }
</style>
<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">Booking Folders</span>
        <a href="@Url.Action("Manage","SR")"><i class="fas fa-plus-circle fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>

        <table id="SRTbl" class="table table-sm table-striped">
            <thead class="thead-light">
                <tr role="row">
                    <th class="bg-success text-white text-center" scope="col" width="10px">Paid</th>
                    <th class="bg-danger text-white text-center" scope="col">Not paid</th>
                    <th class="bg-warning text-center" scope="col">Part-Paid</th>
                    <th class="bg-secondary text-white text-center" scope="col">Canceled</th>

                </tr>
                <tr role="row">
                    <th><input type="text" class="form-control" placeholder="N#"></th>
                    <th></th>

                    <th><input type="text" class="form-control" placeholder="Filter First Name"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Sur Name"></th>

                    <th><input type="text" class="form-control" placeholder="Filter Phone"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Email"></th>
                    <th></th>
                    <th><input type="text" class="form-control" placeholder="Agent Name"></th>
                    <th>@Html.DropDownList("SRStatus",(IEnumerable<SelectListItem>)ViewBag.SRStatusID, new { @class = "form-control"})</th>


                    <th width="5%"></th>
                </tr>
                <tr role="row">
                    <th scope="col" width="10px">No.</th>
                    <th scope="col">Date/Time</th>
                    <th scope="col">Name</th>
                    <th scope="col">Sur Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                    <th scope="col">Enquiry Source</th>
                    <th scope="col">Agent Name</th>
                    <th scope="col">Status</th>

                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>



<script>
    $(function () {
        var oTable = $('#SRTbl').DataTable({

            serverSide: true,
            
            ajax: {
                context: this,
                "type": "POST",
                "url": '@Url.Action("GetSRList")',
                "contentType": 'application/json; charset=utf-8',
                'data': function (data) {
                    return data = JSON.stringify(data);
                }
            },

            processing: true,
            paging: true,
            pagingType: "full_numbers",
            deferRender: true,
            columns: [
                { data: "SRID" },
                { data: "DT" },
                { data: "FName" },
                { data: "SName" },
                { data: "Phone" },
                { data: "Email" },
                { data: "Src" },
                { data: "AgentName" },
                { data: "Status" },
    


            ],
            columnDefs: [
                {

                    'targets': 9,
                    'searchable': false,
                    'orderable': false,
                    'bSortable': false,
                    'render': function (data, type, full, meta,row) {


                        if (full.PayStatusID == @((int) Speedbird.PayType.Cancelled)) {
                            return '<a href="/SBBoss/SR/manage/' + full.SRID + '"><i class="fas bg-secondary fa-edit fa-inverse h3 float-right DropShadow"></i></a>';
                        }
                        else {
                            if (full.PayStatusID ==  @((int)Speedbird.PayType.Full_Paid )) {
                            return '<a href="/SBBoss/SR/manage/' + full.SRID + '"><i class="fas bg-success fa-edit fa-inverse h3 float-right DropShadow"></i></a>';
                            }
                            if (full.PayStatusID ==  @((int)Speedbird.PayType.Part_Paid)){
                                return '<a href="/SBBoss/SR/manage/' + full.SRID + '"><i class="fas bg-warning fa-edit fa-inverse h3 float-right DropShadow"></i></a>';
                            }
                            if (full.PayStatusID ==  @((int)Speedbird.PayType.Not_Paid)) {
                                return '<a href="/SBBoss/SR/manage/' + full.SRID + '"><i class="fas bg-danger fa-edit fa-inverse h3 float-right DropShadow"></i></a>';
                            }
                        }






                    },


                },
            

                {
                targets: 'no-sort',
                orderable: false
                }]

        });


        $("#SRTbl thead th input[type=text]").on('change', function () {
            oTable.column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });

        $("#SRStatus").on('change', function () {
            oTable.column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });

    })


</script>
