<style>
    .btn-secondary.focus, .btn-secondary:focus {
        box-shadow: 0 0 0 0.3rem rgba(10, 120, 218, 0.53);
    }
</style>
@*Assign Review Modal*@
<div class="modal fade" id="ACModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="AssignCust">    </div>
</div>
@*EOF Assign Cust Modal*@
@*Assign Driver Modal*@
<div id="AssignDriver"> </div>

@*EOF Assign Driver Modal*@
@*Assign Review Modal*@
<div id="Review"> </div>
@*EOF Assign Review Modal*@

<div id="EditComm"> </div>

<div class="card border rounded DropShadow">

    <div class="card-body">
        <h5>&nbsp;</h5>

        @if (ViewBag.SRID != null)
        {
            @Html.Hidden("SRID", (int)ViewBag.SRID)
            <div class="btn-group-lg" role="group" aria-label="Basic example">
                <button id="DetailsBtn" type="button" class="btn btn-secondary">Details</button>
                <button id="NoteBtn" type="button" class="btn btn-secondary">Notepad</button>

                <button id="SRBtn" type="button" class="btn btn-secondary">Services</button>
                <button id="CustBtn" type="button" class="btn btn-secondary">Passengers</button>

                <button id="ImgBtn" type="button" class="btn btn-secondary">Images</button>
                <button id="RecptBtn" type="button" class="btn btn-secondary">Booking Summary</button>
            </div>
        }
        else
        {
            ViewBag.SRID = 0;
        }



        <hr />



        <div id="TabContent">
            @if (ViewBag.mode == 1)
            {@Html.Action("FetchDetails", "SR", new { id = (int)ViewBag.SRID })}
            @if (ViewBag.mode == 2)
            {@Html.Action("SRLogs", "SR", new { id = (int)ViewBag.SRID, mode = ViewBag.mode })}

            @if (ViewBag.mode == 3)
            {@Html.Action("SRdetails", "SR", new { id = (int)ViewBag.SRID, EID = (int)ViewBag.EID })}

            @if (ViewBag.mode == 4)
            {@Html.Action("SRCustomers", "SR", new { id = (int)ViewBag.SRID })}
            @if (ViewBag.mode == 5)
            {@Html.Action("SRUpload", "SR", new { id = (int)ViewBag.SRID })}
            @if (ViewBag.mode == 6)
            {@Html.Action("Reciepts", "SR", new { id = (int)ViewBag.SRID })}
        </div>
        <hr />
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        $('#DetailsBtn').click(function () {
            $('#TabContent').load(
                '@Url.Action("FetchDetails", new { id = (int)ViewBag.SRID })'
            );
        });

        $('#SRBtn').click(function () {
            var detFrm = $('#detFrm');

            //Save the details form if it exists else just move on.
            if (typeof (detFrm[0]) == 'object') {
            $.ajax({
                    type: 'post',
                    data: $(detFrm).serialize()
                }).done(function () {
                    $('#TabContent').load(
                        '@Url.Action("SRdetails", new { id = (int)ViewBag.SRID })'
                    );

                    });
            } else {
                $('#TabContent').load(
                    '@Url.Action("SRdetails", new { id = (int)ViewBag.SRID })'
                    );

            }
        });

        $('#ImgBtn').click(function () {
            var detFrm = $('#detFrm');
            if (typeof (detFrm[0]) == 'object') {

                $.ajax({
                    url: detFrm.action,
                    type: 'post',
                    data: $(detFrm).serialize()
                }).done(function () {
                    $('#TabContent').load(
                        '@Url.Action("SRUpload", new { id = (int)ViewBag.SRID })'
                    );

                });

            } else {
                $('#TabContent').load(
                    '@Url.Action("SRUpload", new { id = (int)ViewBag.SRID })'
                    );

            }
        });
          $('#CustBtn').click(function () {
            var detFrm = $('#detFrm');
            if (typeof (detFrm[0]) == 'object') {

                $.ajax({
                    url: detFrm.action,
                    type: 'post',
                    data: $(detFrm).serialize()
                }).done(function () {
                    $('#TabContent').load(
                        '@Url.Action("SRCustomers", new { id = (int)ViewBag.SRID })'
                    );

                });

            } else {
                $('#TabContent').load(
                    '@Url.Action("SRCustomers", new { id = (int)ViewBag.SRID })'
                    );

            }
        });
         $('#NoteBtn').click(function () {
            var detFrm = $('#detFrm');
            if (typeof (detFrm[0]) == 'object') {

                $.ajax({
                    url: detFrm.action,
                    type: 'post',
                    data: $(detFrm).serialize()
                }).done(function () {
                    $('#TabContent').load(
                        '@Url.Action("SRLogs", new { id = (int)ViewBag.SRID })'
                    );

                });

            } else {
                $('#TabContent').load(
                    '@Url.Action("SRLogs", new { id = (int)ViewBag.SRID })'
                    );

            }
        });
        $('#RecptBtn').click(function () {
            var detFrm = $('#detFrm');
            if (typeof (detFrm[0]) == 'object') {

                $.ajax({
                    url: detFrm.action,
                    type: 'post',
                    data: $(detFrm).serialize()
                }).done(function () {
                    $('#TabContent').load(
                        '@Url.Action("Reciepts", new { id = (int)ViewBag.SRID})'
                    );

                });

            } else {
                $('#TabContent').load(
                    '@Url.Action("Reciepts", new { id = (int)ViewBag.SRID })'
                    );

            }
        });


    });
</script>