@model Speedbird.SRReciept

@{
    ViewBag.Title = "Booking Summary";
}


<div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
    <span class="h3">@ViewBag.Title</span>
    <a href="@Url.Action("Index", "SR", new { sid = ViewBag.sid })"><i class="fas fa-undo-alt fa-inverse h3 float-right DropShadow"></i></a>
</div>
@Html.Action("GetSRInfo", "SR", new { id = ViewBag.SRID, mode = ViewBag.mode })
<h4>Profit/Loss Summary</h4>
<table class="table table-striped">
    <tr>
        <th>Amount Spent</th>
        <th>Amount Recieved</th>
        <th>Total Profit</th>
    </tr>
    <tr>
        <td>
            @ViewBag.Debit
        </td>
        <td>
            @ViewBag.Credit
        </td>
        <td>
            @(ViewBag.Credit - ViewBag.Debit)
        </td>
    </tr>
</table>
<br />
<h4>Services</h4>
<table class="table table-striped">
    <tr>
        <th>Service Name</th>
        <th>Cost Price</th>
        <th>Sell Price</th>
        <th>Tax</th>
        <th>Commsion</th>
        <th>Total Profit</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (var item in (IEnumerable<Speedbird.SRdetailDets>)ViewBag.Services)
    {
        <tr>
            <td>
                @((Speedbird.ServiceTypeEnum)item.ServiceTypeID)
            </td>
            <td>
                @item.Cost
            </td>
            <td>
                @item.SellPrice
            </td>
            <td>
                @item.Tax
            </td>
            <td>
                @item.Commision @item.PercComm
            </td>
            <td>
                @item.Total
            </td>
            <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ECommModal" data-srdid="@item.SRDID">
                    Edit Commision
                </button>
            </td>
        </tr>
    }

</table>
<br />
<h4>Sell and Cost price per pax</h4>
<table class="table table-striped">
    <tr>
        <th>Customer Name</th>
        <th>Cost Price</th>
        <th>Sell Price</th>
        <th>Cost Per Pax</th>
        <th>Sell Cost Per Pax</th>
    </tr>
    @{ decimal PcTotal = 0, PsTotal = 0;}
    @foreach (var item in (IEnumerable<Speedbird.PaxDets>)ViewBag.PaxDetail)
    {
        <tr>

            <td>
                @item.UserName
            </td>
            <td>
                @item.Cost
            </td>
            <td>
                @item.SellPrice
            </td>
            <td>
                @item.PCost
            </td>
            <td>
                @item.PSell
            </td>
        </tr>
        PcTotal += item.PCost;
        PsTotal += item.PSell;
    }
    <tr>
        <td></td>
        <td></td>
        <td><b>Total:</b></td>
        <td>@PcTotal</td>
        <td>@PsTotal</td>
    </tr>

</table>
<br />
<h4>Debit Details</h4>
<table class="table table-striped">
    <tr>
        <th>Date</th>
        <th>Note</th>
        <th>Type</th>
        <th>Amount</th>
    </tr>
    @foreach (var item in (IEnumerable<Speedbird.RPDetails>)ViewBag.Reciepts)
    {
        <tr>
            <td>
                @($"{item.Date:dd/MMM/yyyy}")
            </td>
            <td>
                @item.Note
            </td>
            <td>
                @((Speedbird.AmtType)item.Type)
            </td>
            <td>
                @item.Amount
            </td>
        </tr>
    }

</table>
<br />
<h4>Credit Details</h4>
<table class="table table-striped">
    <tr>
        <th>Date</th>
        <th>Note</th>
        <th>Type</th>
        <th>Amount</th>
    </tr>
    @foreach (var item in (IEnumerable<Speedbird.RPDetails>)ViewBag.Payments)
    {
        <tr>
            <td>
                @($"{item.Date:dd/MMM/yyyy}")
            </td>
            <td>
                @item.Note
            </td>
            <td>
                @((Speedbird.AmtType)item.Type)
            </td>
            <td>
                @item.Amount
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@{
    var rec = (IEnumerable<Speedbird.SRdetailDets>)ViewBag.Services;
}


@if (rec.Count() >0)
{
    <script>
           $('#EditComm').load('@Url.Action("_EditComm")', { SRID: @rec.First().SRID});
    </script>
}
<script>
    $(function () {
        //DateTime picker
        $('.eadate').datepicker({
            dateFormat: "dd-M-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true
        }).attr('type', 'text').attr('autocomplete', 'off');

        //Disable the browsers default date picker
        jQuery.validator.methods["date"] = function (value, element) { return true; }

    })
</script>
