@model Speedbird.SRReciept

@{
    ViewBag.Title = $"Manage Reciepts";
}


<div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
    <span class="h3">@ViewBag.Title</span>
    <a href="@Url.Action("Index","SR",new { sid= ViewBag.sid})"><i class="fas fa-undo-alt fa-inverse h3 float-right DropShadow"></i></a>
</div>

@Html.Action("GetSRInfo", "SR", new { id = ViewBag.SRs.SRID, mode = ViewBag.mode })

<div class="section-to-Not-print">

    @using (Html.BeginForm("Reciepts", "SR", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal ">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.Hidden("SRID", (int)ViewBag.SRs.SRID)

            @if (Model?.RecieptID != null)
            {@Html.Hidden("RecieptID", (int)Model.RecieptID)}


            <div class="form-row">

                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Date</span></div>
                    @Html.EditorFor(model => model.RecieptDate, new { htmlAttributes = new { @type = "text", @class = "eadate form-control" } })
                    @Html.ValidationMessageFor(model => model.RecieptDate, "", new { @class = "text-danger" })
                </div>
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Select Bank</span></div>
                    @Html.DropDownList("BankID", null, htmlAttributes:  new { @type = "text", @class = "form-control" } )
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Amount</span></div>
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @type = "text", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-row">
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Pay Mode</span></div>
                    @Html.DropDownList("PayMode", null, htmlAttributes: new { @type = "text", @class = " form-control" })
                    @Html.ValidationMessageFor(model => model.PayMode, "", new { @class = "text-danger" })
                </div>
                <div class="input-group col mb-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>

        </div>
    }
</div>
<br />


<hr />
<table class="table table-sm section-to-print index-css" width="100%">
    <tr>
        <th>Date </th>
        <th>Pay Mode</th>
        <th>Amount</th>

        <th class="section-to-Not-print"></th>
    </tr>
    @foreach (var item in (IEnumerable<Speedbird.SRReciept>)ViewBag.Reciepts)
    {
        <tr>
            <td>
                @($"{item.RecieptDate:dd/MMM/yyyy}")
            </td>
            <td>
                @((Speedbird.PayModeEnum)item.PayMode)
            </td>
            <td>
                @item.Amount
            </td>
            <td>
                <a href="@Url.Action("Manage","SR",new {id = (int?)ViewBag.SRID, mode=5, EID=item.RecieptID })">Edit</a>
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        //DateTime picker
        $('.eadate').datepicker({
            dateFormat: "dd-M-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true
        }).attr('type', 'text').attr('autocomplete', 'off');

        //Disable the browsers default date picker
        jQuery.validator.methods["date"] = function (value, element) { return true; }

    })
</script>