@model Speedbird.Customer
<style>

    #map {
        height: 350px;
        width: 100%;
    }
</style>
<div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
    <span class="h3">@ViewBag.Title</span>
    <a href="@Url.Action("Index","SR",new { sid= ViewBag.sid})"><i class="fas fa-undo-alt fa-inverse h3 float-right DropShadow"></i></a>
</div>

@using (Html.BeginForm("SRCustomers", "SR", FormMethod.Post, new { id = "" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    if (Model?.CustomerID > 0)
    { @Html.HiddenFor(model => model.CustomerID) }

<div class="form-row">
    @Html.Hidden("SRID", (int)ViewBag.SRID)

    @Html.Hidden("CID")
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">First Name</span></div>
        @Html.Editor("FName", new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Sur Name</span></div>
        @Html.Editor("SName", new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Phone</span></div>
        @Html.Editor("Phone", new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Email</span></div>
        @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Person Type</span></div>
        <select name="Type" class="form-control">
            <option value="Infant">
                Infant
            </option>
            <option value="Child">
                Child
            </option>
            <option value="Adult">
                Adult
            </option>

        </select>
        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })

    </div>
    <div class="input-group col mb-3">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</div>
}
<div class="row">
    <div class="col-8">
        <div class="row">
            <div id="ExistingCust" class="col-12">
                <br />
                <table class="table table-sm table-striped">
                    <thead class="bg-primary">
                        <tr>
                            <th>
                                Sr No
                            </th>
                            <th>
                               Name
                            </th>
                      
                            <th>
                                Phone
                            </th>
                            <th>
                                Email
                            </th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="5">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="5">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="5"><center>This Table Will Display Existing Customers.</center></td>
                        </tr>
                        <tr>
                            <td colspan="5">&nbsp;</td>
                        </tr>

                        <tr>
                            <td colspan="5">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="5">&nbsp;</td>
                        </tr>


                    </tbody>
                </table>

            </div>
        </div>


    </div>
    <div class="col-4">
        <div class="section-to-Not-print">
            @using (Html.BeginForm("SRCustomers", "SR", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal ">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.Hidden("SRID", (int)ViewBag.SRID)


                    <div class="form-group">
                        @Html.Label("Upload Name", htmlAttributes: new { @class = "control-label " })
                        <div class="col-md-10">
                            <input type="Text" name="UploadName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Upload Image", htmlAttributes: new { @class = "control-label " })
                        <div class="col-md-10">
                            <input type="file" name="UploadedFile" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-primary" style="float:right" />
                        </div>
                    </div>
                    <br />
                    <hr>
                </div>
            }
        </div>

    </div>
</div>



<div class="row col-12">
    @{
        var rec = ((IEnumerable<Speedbird.Customer>)ViewBag.Custs);
    }

    @if (rec.Count() > 0)
    {
        <table class="table table-striped ">
            <tr>
                <th colspan="6" class="bg-success"><center><Big>Registered Customers</Big></center></th>
            </tr>
            <tr class="">
                <th>Sr No</th>
                <th>
                    Name
               
                <th>
                    Phone
                </th>


                <th>
                    Email
                </th>
                <th> Type</th>
                <th></th>
            </tr>
            @{int i = 1;}
            @foreach (var item in (List<Speedbird.Customer>)ViewBag.Custs)
            {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)&nbsp;@Html.DisplayFor(modelItem => item.SName)
       
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)

                </td>
                <td>
                    @Html.ActionLink("Delete", "SRCustomers", new { cid = item.CustomerID, id = ViewBag.SRID }, new { @Class = "delcust" })
                </td>
            </tr>
                i++;
            }

        </table>
    }
</div>



<script>
    $(document).ready(function () {
        $("#FName,#SName,#Phone,#Email").keyup(function () {

            var fname = $('#FName').val();
            var sname = $('#SName').val();
            var phone = $('#Phone').val();
            var email = $('#Email').val();

            if (fname.length == 3 || sname.length == 3 || phone.length == 3 || email.length == 5) {
                $('#ExistingCust').html("");
                $('#ExistingCust').load("/SBBoss/SR/ExistingCustRec?fn=" + fname + "&&sn=" + sname + "&&ph=" + phone + "&&em=" + email);
            }
            $("textarea").jqte();
        });

    });

</script>