@model IEnumerable<Speedbird.SRdetailDets>

@{
    ViewBag.Title = $"Dairy";
}

<style>
    .card-body {
        padding-bottom: 5%;
    }
</style>

<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>
    </div>
    <div class="card-body">

        @using (Html.BeginForm("SRDiaryDets", "SR", FormMethod.Get))
        {
            <div class="row d-print-none">
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;Date:</td>
                        <td> @Html.TextBox("AN", ViewBag.CurrentFilter as string, new { @class = "form-control eadate", @type = "text" })</td>
                        <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>
<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">Daily Dairy</span>
    </div>
    <div class="card-body">

        <div id="SRDetTbl">
            @foreach (var sd in Model)
            {
                <div class="h3"><a target="_blank" href="@Url.Action("Manage","SR")/@sd.SRID">@sd.SRDID : @(((Speedbird.ServiceTypeEnum)sd.ServiceTypeID).ToString())</a></div>
                @Html.Action("FetchDailyRecords", "SR", new { sType = (Speedbird.ServiceTypeEnum)sd.ServiceTypeID, srdid = sd.SRDID })
            }
        </div>



    </div>
</div>






