@model PagedList.IPagedList<Speedbird.ServiceRequestDets>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Service Request Queue";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>
        <table class="table">
            <tr>                
                <th scope="col">Date/Time</th>
                <th scope="col">Name</th>
                <th scope="col">Sur Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Enquiry Source</th>
                <th scope="col">Agent Name</th>
                <th width="5%">Open</th>
                <th>Remind</th>
                <th>Ignore</th>
            </tr>
            
            @foreach (var item in Model)
            {
            <tr>
            
                <td>
                    @($"{item.TDate:dd/MM/yy hh:mm}")

                </td>
                <td>
                    @item.FName
                </td>
                <td>
                    @item.SName
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @((Speedbird.EnquirySourceEnum)item.EnquirySource)
                </td>
                <td>
                    @item.AgentName
                </td>

                <td>
                    <a href="@Url.Action("Manage","SR", new {id = item.SRID })"><i title="Edit" class="fas fa-edit fa-inverse h3 float-right DropShadow"></i></a>
                </td>
                <td>
                    @Html.TextBox("AN", ViewBag.CurrentFilter as string, new { @type = "datetime", @class = "form-control" })
                </td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#IgnoreReasonModal" data-srid="@item.SRID">
                        No Action
                    </button>
                </td>
            </tr>
                
            }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                       new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>



<div class="modal fade" id="IgnoreReasonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="IgnoreReasonModalLabel">Explain why this Service Request should be ignored.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            @using (Html.BeginForm("IgnoreReason", "SR", FormMethod.Post, new { id = "IgReasonFrm" }))
            {

                 @Html.AntiForgeryToken()
                <input type="hidden" id="SRID" name="SRID" />
                <div class="modal-body">
                    @Html.TextArea("IgnoreReason")
                </div>
            }
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="SaveDetails" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                </div>

        </div>
    </div>
</div>
<script>
    $('#IgnoreReasonModal').on('shown.bs.modal', function (event) {

        var button = $(event.relatedTarget) // Button that triggered the modal
          var recipient = button.data('srid') // Extract info from data-* attributes

          var modal = $(this)
          modal.find('#SRID').val(recipient)
    })

     $('#SaveDetails').click(function () {
            var detFrm = $('#IgReasonFrm');
         
            //Save the details form if it exists else just move on.
            if (typeof (detFrm[0]) == 'object') {
                $.ajax({
                    url: '@Url.Action("IgnoreReason", "SR")',
                    type: 'post',
                    data: $(detFrm).serialize(),
                    success: function () {
                        window.location.assign('@Url.Action("SRQueueIndex", new { st = (int)ViewBag.ServiceRequestTypeId })');
                    }
                });
            }
        });


</script>