
@model  Speedbird.PackageDets


    
        <div class="col-8">
            
                <h2 style="margin-left:60px;">@Model.PackageName</h2>
                <br /> 
                <div class="DetailBlock">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <td class="desc">
                                    <i class="material-icons" style="color:#009de0;">&#xe25f;</i>  @Model.PackageName HighLights
                                </td>
                            </tr>                            
                            <tr>
                                <td style="color:#11496d;">
                                    @Html.Raw(Model.Highlights)                                    
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="DescriptionBlock">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <td class="desc">
                                    <i style="font-size:24px" class="fa">&#xf036;</i>
                                    Description
                                </td>
                            </tr>
                          
                            <tr>
                                <td>
                                    @Html.Raw(Model.Description)
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div id="blueimp-gallery" class="blueimp-gallery">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev" style="color:wheat">‹</a>
                    <a class="next" style="color:white">›</a>
                    <a class="close" style="color:wheat">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>
                <div id="links" style="margin-left:30px;">
                    @foreach (var item in Model.Pic)
                    {
                        <a href="/Images/@item.PictureName" title="@Model.PackageName">
                            <img height="200px;" src="/Images/@item.PictureName" alt="@Model.PackageName">
                        </a>
                    }                    
                </div>
            <br />
            <hr />
            <br />
                <div class="DetailBlock" style="padding:30px;min-height:0;">

                    <div class="row">
                        <div class="row desc d-lg-table-cell" style="padding:30px;">
                            <i style="font-size:24px" class="fa">&#xf072;</i>
                            Package Details
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-2">
                            Start Time
                        </div>
                        <div class="col-10">
                            @Html.Raw(Model.StartTime)
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-2">
                            Duration
                        </div>
                        <div class="col-10">
                            @Html.Raw(Model.Duration)
                        </div>
                    </div>
                   
                    <hr />
                    <div class="row">
                        <div class="col-2">
                            Group Size
                        </div>
                        <div class="col-10">
                            @Model.GroupSize
                        </div>
                    </div>                    
                    <hr />
                    <div class="row">
                        <div class="col-2">
                            Itinerary
                        </div>
                        <div class="col-10">
                            @Html.Raw(Model.Itinerary)
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-2">
                            Inclusions
                        </div>
                        <div class="col-10">
                            @Html.Raw(Model.Inclusion)
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-2">
                            Exclusions
                        </div>
                        <div class="col-10">
                            @Html.Raw(Model.Exclusion)
                        </div>
                    </div>
                    <hr />
                    
                </div>

                
            </div>
            