
@model  Speedbird.CarBikeDets

<div class="col-8">
    <h2 style="margin-left:60px;">@Model.CarBikeName</h2>
    <br />
    <div class="DetailBlock">
        <div class="row">
            <table class="table">
                <tr>
                    <td class="desc">
                        <i style="font-size:24px" class="fa">&#xf036;</i>
                        Description
                    </td>
                </tr>
                <tr>
                    <td style="color:#11496d;">
                        @Html.Raw(Model.Description)
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="DetailBlock">
        <div class="row">
            <table class="table">
                <tr>
                    <td class="desc">
                        <i style="font-size:24px" class="fa">&#xf152;</i>
                        Speifications
                    </td>
                </tr>
                <tr>
                    <td>
                        Location
                    </td>
                    <td>
                        @Model.GeoName
                    </td>
                </tr>
                <tr>
                    <td>
                        Ac
                    </td>
                    <td>
                        @Model.HasAc
                    </td>
                </tr>
                <tr>
                    <td>
                        Location
                    </td>
                    <td>
                        @Model.GeoName
                    </td>
                </tr>
                <tr>
                    <td>
                        No of People
                    </td>
                    <td>
                        @Model.NoPax
                    </td>
                </tr>
                @if (Model.InclHelmet == false)
                {
                    <tr>
                        <td>
                            No Of Small Bags
                        </td>
                        <td>
                            @Model.NoSmallBags
                        </td>
                    </tr>
                    <tr>
                        <td>
                            No Of Large Bags
                        </td>
                        <td>
                            @Model.NoLargeBags
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Has Carrier
                        </td>
                        <td>
                            @Model.HasCarrier
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Has Ac
                        </td>
                        <td>
                            @Model.HasAc
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            Has Helmet
                        </td>
                        <td>
                            @Model.InclHelmet
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>

    <br />
    <br />
    <div class="desc">
        <i style="font-size:24px; margin-left:30px;" class="fa">&#xf302;</i>   Images
        <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev" style="color:wheat">‹</a>
            <a class="next" style="color:white">›</a>
            <a class="close" style="color:wheat">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        <div id="links" style="margin-left:30px;">
            @foreach (var item in Model.pic)
            {
                <a href="/Images/@item.PictureName" title="@Model.CarBikeName">
                    <img height="200px;" src="/Images/@item.PictureName" alt="@Model.CarBikeName">
                </a>
            }
        </div>
    </div>
</div>
       


