<style>
    .EATranspHeader {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding-left: 15px;
    }

    .EAUpMovedDiv {
        position: relative;
        top: -248px;
    }

    .EATitle {
        font-family: "Merriweather Sans", serif;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -1px;
        line-height: 44px;
        padding-top: 51px;
        margin-bottom: 5px;
        font-variant: small-caps;
    }

    .EAIconText {
        font-variant: small-caps;
        font-family: "Merriweather Sans", serif;
        color: white;
        font-size: 18px;
    }

    #map {
        height: auto;
        width: 90%;
        margin-left: 30px;
    }
</style>
@model  Speedbird.AccomodationDets



<div class="col-12 col-xl-6 EAUpMovedDiv">
    <div class="EATranspHeader">
        <h1 class="EATitle">@Model.AccomName</h1>
        <div class="FloatBadge" style="top:0!important;left:15px!important;">
            @Model.GeoName
        </div>
        <hr style="background-color:white; border:1px solid white; margin:3px;" />
        @foreach (var i in ViewBag.Icns)
        {
            <img src="/Icons/@i" height="43px;" />
            <span class="EAIconText">@i.Substring(0, i.IndexOf('.'))</span>
        }
        <hr style="background-color:white; border:1px solid white;margin:3px;" />

    </div>

    <div class="DetailBlock">
        <div class="row">
            <table class="table">
                <tr>
                    <td class="desc">
                        <i class="material-icons" style="color:#009de0;">&#xe25f;</i>  @Model.AccomName
                    </td>
                </tr>

            </table>
        </div>

    </div>
    <div class="DescriptionBlock">
        <div class="row">
            <table class="table">
                <tr>
                    <td class="desc">
                        <i style="font-size:24px" class="fa">&#xf036;</i>
                        Description
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.Raw(Model.Description)
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col-9 offset-1">
            <div id="blueimp-gallery" class="blueimp-gallery">
                <div class="slides"></div>
                <h3 class="title"></h3>
                <a class="prev" style="color:wheat">‹</a>
                <a class="next" style="color:white">›</a>
                <a class="close" style="color:wheat">×</a>
                <a class="play-pause"></a>
                <ol class="indicator"></ol>
            </div>
            <div id="links" style="margin-left:30px;">
                @foreach (var item in Model.pic)
                {
                    <a href="/Images/@item.PictureName" title="@Model.AccomName">
                        <img height="200px" src="/Images/@item.PictureName" alt="@Model.AccomName" class="img-thumbnail">
                    </a>
                }
            </div>
        </div>
    </div>
    <br />
    <hr />

    <div class="DetailBlock px-2 py-2" style="min-height:0;">

        <div class="row">
            <div class="row desc d-lg-table-cell" style="padding-left:30px;margin-left:0px;">
                <i style="font-size:24px" class="fa">&#xf072;</i>
                Accomodation Details
            </div>
        </div>

        @*<div class="row">
            <div class="col-6">
                <b>Lattitude:</b>
                <span>@Html.Raw(Model.Lat)</span>
            </div>
            <div class="col-6">
                <b>Longitude:</b>
                <span>@Html.Raw(Model.longt)</span>
            </div>
        </div>*@
        <br />
        <br />
        <div class="row">
            <i style="font-size:24px; margin-left:30px;" class="fa">&#xf279;</i>   Location Map
            <div id="map" width="80%"></div>
        </div>
        <hr />
    </div>
</div>

        <script>

    function initMap() {
        var uluru = { lat: @Model.Lat, lng: @Model.longt };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }



        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAC6Yyjmk9tLMPEe6ID2rmzwcYPCHKYrZU&callback=initMap">
        </script>
