<head>
    <script src="/Scripts/jquery.masonry.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/css/blueimp-gallery.min.css"> 
</head>
<style>
    /*small change*/
    .carousel {
        width: 100% !important;
        bottom: 30px;
        height: 455px;
        overflow: hidden
    }

    td {
        width: 80px;
    }

    table {
        padding: 30px;
    }

    .img-fluid {
        max-width: 100%;
        width: 100%;
        height: 450px;
    }

    .carousel-control-prev, .carousel-control-next {
        top: 200px;
        overflow: hidden;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 100px;
        width: 50px;
    }
    /*reused*/
    .breadcrumb span {
        padding: 0;
        margin: 0;
        /*font-size: 10px;*/
        text-decoration: none;
        color: dimgray;
        /*font-family: "Quattrocento Sans",serif;*/
    }

    .breadcrumb {
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
        position: absolute;
        margin-top: 0;
        margin-bottom: 0;
    }

    .breadcrumb-item {
        padding-top: 0;
        margin-top: 0;
        /*font-size: 10px;*/
        background-color: white;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 5px;
        width: auto;
        display: inline-block;
        color: #a5a5a5;
        /*font-family: "Quattrocento Sans",serif;*/
    }

    /*Specific*/
    .DetailBlock, .DescriptionBlock {
        padding: 50px;        
        min-height: 450px;
        margin-bottom: 20px;
        width: 100%;
    }

    .DetailBlock {
        background: #f4f3ea;

    }

    .DescriptionBlock {
        background: white;
    }


    .addcart {
        background-color: #fff;
        box-shadow: 0 3px 5px rgba(50,50,50,0.4);
        margin-right: 30px;
        padding: 10px;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-family: "Merriweather Sans",serif;
    }

    nput {
        padding: 10px;
        font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        border-radius: 0 !important;
    }

    .form-control {
        border-radius: 0 !important;
        font-size: 14px;
        font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    }

    .clickable {
        cursor: pointer;
    }

    .block-sb-info {
        background-color: #eeeeec;
        box-shadow: 0 3px 5px rgba(50,50,50,0.4);
        margin-bottom: 20px;
        padding: 20px;
        margin-right: 30px;
    }

    h2 {
        font-family: "Merriweather Sans",serif;
        font-size: 46px;
        color: #006aa7;
        font-weight: bold;
        padding-left: 18px;
    }

    h3 {
        font-family: "Merriweather Sans",serif;
        font-size: 37px;
        color: #006aa7;
        font-weight: bold;
        padding-left: 18px;
    }

    .block-title {
        display: block;
        font-size: 1.5em;
        -webkit-margin-before: 0.83em;
        -webkit-margin-after: 0.83em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
        color: #006aa7;
    }

    li {
        margin-bottom: 3px;
        /*list-style: none outside none;*/
        font-size: 17px;
        line-height: 17px;
        padding-left: 0;
        font-family: "Quattrocento Sans",serif;
    }

    .btn {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    .fa-check {
        height: 18px;
        width: 18px;
        margin-left: -50px;
    }

    .sbhr {
        margin-right: 30px;
    }



    #attract-card {
        width: 250px;
        height: 165px;
        margin: 27px;
    }

    #descimgcard {
        width: 250px;
        height: 165px;
        margin: 27px;
    }

    .card-block {
        height: 6px;
        color: white;
        background-color: white;
    }

    .card-title {
        font-family: "Quattrocento Sans",sans-serif;
        padding-top: 8px;
        background-color: #0094ff;
        font-size: 18px;
        text-align: center;
        color: black
    }

    #Container2 {
        margin-left: 20px;
    }

    .desc {
        text-transform: uppercase;
        color: #009de0;
        font-size: 25px;
        border-bottom: 1px solid #e8e7e2;
        font-weight: normal;
        font-family: "Merriweather Sans",serif;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.4;
    }

    .img-title {
        position: absolute;
        top: 70px;
        max-width: 90%;
        padding-left: 20px;
        font-size: 48px;
        line-height: 58px;
        font-family: 'Merriweather Sans';
        letter-spacing: -3px;
        font-weight: bold;
        color: #fff;
        text-shadow: 4px 4px 4px #000;
    }

    .money {
        font-size: 30px;
        font-weight: bold;
        font-family: "Quattrocento Sans",serif;
        margin-top: 15px;
        line-height: 10px !important;
        margin-left: 10px;
        margin-right: 20px;
        background-color: #fff;
        text-align: right;
        color: #e53f20;
    }

    .sub_label {
        margin-right: 20px;
        text-align: right;
        font-size: 12px;
        color: grey;
    }

    #accomfaccard {
        width: 250px;
        height: 150px;
    }

    #cardimgtop {
        width: 248px;
        height: 150px;
    }
</style>

<hr style="padding-bottom:0;margin-bottom:0;padding-top:2px;margin-top:0;line-height: 1.428571429;" />

<div class="row">

    <nav class="breadcrumb ml-5">
        <span class="breadcrumb-item" href="#">&nbsp; &nbsp; </span>
        <a class="breadcrumb-item" href="@Request.UrlReferrer.AbsoluteUri">Home</a>      
        @*<a class="breadcrumb-item" href="Request.Url.AbsoluteUri">@ViewBag.Loc</a>*@
    </nav>
</div>
<br />

<div class="container-fluid">
    <div class="row">
        <img src="/Images/Goa.jpg" width="100%" height="400px;" />
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        @if (ViewBag.ST == ServiceTypeEnum.Accomodation)
        {
            @Html.Action("InfoAccomPartial", "Home", new { ServiceID = ViewBag.ServiceID, st = ViewBag.ST })
        }
        @if (ViewBag.ST == ServiceTypeEnum.CarBike)
        {
            @Html.Action("InfoCarBikePartial", "Home", new { ServiceID = ViewBag.ServiceID, st = ViewBag.ST })
        }
        @if (ViewBag.ST == ServiceTypeEnum.Packages || ViewBag.ST == ServiceTypeEnum.SightSeeing || ViewBag.ST == ServiceTypeEnum.Cruise)
        {
            @Html.Action("InfoPackagePartial", "Home", new { ServiceID = ViewBag.ServiceID, st = ViewBag.ST })
        }
        <div class="col-4">
            <br />
            <br />
            <br />
            <div class="addcart">
                <div class="container">
                    <center>
                        <div class="col-md-12">
                            @Html.Action("GetPrice", "Home", new { ServiceID = ViewBag.ServiceID, st = ViewBag.ST })
                        </div>
                        <div style="background-color:#428bca;">
                            <h2 class="block-title" style="color:white">Book This Experience</h2>
                        </div>
                        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("ServiceTypeID", (int)ViewBag.ST)
                            @Html.Hidden("ServiceID", (int)ViewBag.ServiceID)

                            <div class="form-group">
                                <div class="col-12"><input id="dp1" name="CheckIn" type="date" class="form-control clickable input-md" placeholder="&#xf133;  Check-In"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-12"><input id="dp2" type="date" name="CheckOut" class="form-control clickable input-md" placeholder="&#xf133;  Check-Out"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.DropDownList("nums", ViewBag.nums as IEnumerable<SelectListItem>, "Select No Of People", new { @class = "form-control nopax" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="number" name="Qty" placeholder="&#xf2c0  Quantity" class="form-control" />
                                </div>
                            </div>
                            <fieldset>
                                <div style="background-color:#428bca;">
                                    <h2 class="block-title" style="color:white">Customer Details</h2>
                                </div>
                                @if (ViewBag.CustRec != null)
                                {
                                    @Html.Hidden("CustomerID", (int)ViewBag.CustRec.CustomerID)
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" name="fname" value="@ViewBag.CustRec.FName" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" name="sname" value="@ViewBag.CustRec.SName" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" name="email" value="@ViewBag.CustRec.Email" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" name="phno" value="@ViewBag.CustRec.Phone" class="form-control" />
                                        </div>
                                    </div>


                                }
                                else
                                {
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" name="fname" placeholder="&#xf2c0  First Name" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" name="sname" placeholder="&#xf2c0  Sur Name" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" name="email" placeholder="&#xf003 Your Email..." class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" name="phno" placeholder="&#xf2a0 Mobile No..." class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="File" name="UploadedFile" class="form-control" placeholder="ID Proof" />
                                        </div>
                                    </div>
                                }
                            </fieldset>

                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.TextArea("Query", null, new { @class = "form-control", placeholder = "Entery Your Query Here...." })
                                </div>
                            </div>
                            <button class="btn btn-success">Submit Query</button>
                            <button class="btn btn-success">Add To Cart</button>
                        }
                    </center>
                </div>
                <br />

            </div>
            <br />
            <hr class="sbhr" />

            <div class="block-sb-info">

                <div class="container  ">
                    <h3>Why Speed Bird?</h3>
                    <ul class="tck">
                        <li>
                            <i class="fa fa-check" style="font-size:48px;color:green"></i>
                            We Personally vet our offers
                        </li>
                        <li>
                            <i class="fa fa-check" style="font-size:48px;color:green"></i>
                            We use only professional operators
                        </li>
                        <li>
                            <i class="fa fa-check" style="font-size:48px;color:green"></i>
                            Our prices are transparent 100%
                        </li>
                    </ul>

                </div>
            </div>
            <hr class="sbhr" />

        </div>
    </div>
</div>


<script>
    var $container2 = $('#Container2');
    $container2.imagesLoaded(function () {
        $container2.masonry({
            itemSelector: '.Package',
            columnWidth: 10,
            isFitWidth: true,
            isAnimated: true,
        });
    });
</script>
<script src="/Scripts/blueimp/blueimp-gallery.min.js"></script>
<script>
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = { index: link, event: event },
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
</script>