
<style>

    h2 {
        font-size: 47px;
        color: #006aa7;
        font-weight: 800;
        margin: 0;
        margin-bottom: 8px;
        padding: 0;
        font-family: "Merriweather Sans",serif;
    }




    .card-img-top {
        height: 220px;
    }


    .card {
        width: 280px !important;
        margin-right: auto;
        box-shadow: 0 3px 5px rgba(50,50,50,.6);
        position: relative;
        overflow: hidden;
        display: block;
        color: #11496d;
        padding-bottom: 24px;
        background-color: #428bca;
        margin-bottom: 14px;
        height: 500px;
        background-color: ghostwhite;
    }

    .card-title {
        text-align: left;
    }

    .card-body {
        text-align: left;
    }



    .breadcrumb {
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
        position: absolute;
        margin-top: 0;
        margin-bottom: 0;
    }

    .breadcrumb-item {
        padding-top: 0;
        margin-top: 0;
        /*font-size: 10px;*/
        background-color: white;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 5px;
        width: auto;
        display: inline-block;
        color: #a5a5a5;
        /*font-family: "Quattrocento Sans",serif;*/
    }

    .container {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
    }



    .HeroTitle {
        font-size: 140px;
        font-family: "Quattrocento Sans",sans-serif;
        font-weight: 300;
        position: absolute;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        line-height: 80%;
        top: 300px;
        left: 50px;
    }

    .sidenav {
        width: auto;
        background: #eee;
        overflow-x: hidden;
        padding: 18px;
        height: auto;
        box-shadow: 0 3px 5px rgba(50,50,50,.6);
        background-color: white;
        margin-left: 10px;
        position: relative;
        top: -40px;
    }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #2196F3;
            display: block;
        }

            .sidenav a:hover {
                color: #064579;
            }


    .imgicon {
        padding-left: 5px;
        padding-right: 80px;
        bottom: -10px;
        padding-bottom: 0;
        float: left;
    }

    .EASearchImg {
        position: relative;
        top: -40px;        
        z-index: 30;
        min-width:103%;
        border: 7px solid grey;
        border-radius:3px;        
    }
</style>


<hr style="padding-bottom:0;margin-bottom:0;padding-top:2px;margin-top:0;line-height: 1.428571429;" />

@*<div class="row">

    <nav class="breadcrumb ml-5">
        <span class="breadcrumb-item" href="#">&nbsp; &nbsp; </span>
        <a class="breadcrumb-item" href="@Request.UrlReferrer.AbsoluteUri">Home</a>
        <a class="breadcrumb-item" href="#!">Search</a>
    </nav>
</div>*@


    <img src="/Images/page1pic.jpg" alt="Goa" style="position:relative; z-index: -10;opacity: 0.99; width:auto;min-width:100%; height:400px;margin:0;">


<div class="container-fluid">

    
    <div class="row justify-content-center">
        <div class=" col-2">            
            <img src="/Images/search.png" class="EASearchImg" />
            <div class="sidenav">
                <div class="form-group">
                    <label class="lead">Destination</label>
                    <div class="col-md-12">
                        <select class="GeoSelect w-100" multiple="multiple">
                            <option value="0">Default</option>
                        </select>
                    </div>
                </div>

                <hr />

                <div class="form-group">
                    <label class="lead" for="amount">Price range:</label>
                    <input type="text" id="amount" class="prange" value=" " readonly style="border:0; color:#000000; font-weight:bold;">

                    <div class="col-12"><div id="slider-range"></div></div>
                </div>
                <hr />

                @Html.Hidden("st", (int)ViewBag.st)
                @Html.Hidden("LocId", (int)ViewBag.LocId)

                @if (@ViewBag.st == ServiceTypeEnum.CarBike)
    {
            <div class="form-group">
                <label class="lead">No Of Passengers</label>
                <div class="col-md-12">
                    @Html.DropDownList("nums", ViewBag.nums as IEnumerable<SelectListItem>, "---", new { @class = "form-control nopax" })
                </div>
            </div>

            <div class="form-group">
                <label class="lead">Large Bags</label>
                <div class="col-md-12">
                    @Html.DropDownList("nums", ViewBag.nums as IEnumerable<SelectListItem>, "---", new { @class = "form-control large" })
                </div>
            </div>

            <div class="form-group">
                <label class="lead">Small Bags</label>
                <div class="col-md-12">
                    @Html.DropDownList("nums", ViewBag.nums as IEnumerable<SelectListItem>, "---", new { @class = "form-control Small" })
                </div>
            </div>

            <div class="form-group">
                <label class="lead">Has air conditioning</label>
                <div class="col-md-12">
                    @Html.DropDownList("TF", ViewBag.TF as IEnumerable<SelectListItem>, "---", new { @class = "form-control Ac" })
                </div>
            </div>
            <div class="form-group">
                <label class="lead">Has Carrier</label>
                <div class="col-md-12">
                    @Html.DropDownList("TF", ViewBag.TF as IEnumerable<SelectListItem>, "---", new { @class = "form-control Carrier" })
                </div>
            </div>
            <div class="form-group">
                <label class="lead">Is Bike?</label>
                <div class="col-md-12">
                    @Html.DropDownList("TF", ViewBag.TF as IEnumerable<SelectListItem>, "---", new { @class = "form-control IsBike" })
                </div>
            </div>

}


                @if (@ViewBag.st == ServiceTypeEnum.Packages || @ViewBag.st == ServiceTypeEnum.SightSeeing || @ViewBag.st == ServiceTypeEnum.Cruise)
    {

            <label class="lead">Categories</label>
foreach (var item in ViewBag.Cats)
{
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" name="cat" value="@item.CategoryID" class="cat form-control">
                    </div>
                </div>
                <label class="form-control">@item.CategoryName</label>
            </div>
}

            <hr />

            <label class="lead">Activities</label>
foreach (var item in ViewBag.Acts)
{
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" name="act" value="@item.ActivityID" class="act form-control">
                    </div>
                </div>
                <label class="form-control">@item.ActivityName</label>
            </div>
}


            <hr />

            <div class="form-group">
                <label class="lead">Group Size</label>
                <div class="col-md-12">
                    @Html.DropDownList("nums", ViewBag.nums as IEnumerable<SelectListItem>, "---", new { @class = "form-control gsize" })
                </div>
            </div>
            <div class="form-group">
                <label class="lead">Difficulty</label>
                <div class="col-md-12">
                    @Html.DropDownList("nums", ViewBag.nums as IEnumerable<SelectListItem>, "---", new { @class = "form-control diffic" })
                </div>
            </div>
            <div class="form-group">
                <label class="lead">Duration</label>
                <div class="col-md-12">
                    @Html.DropDownList("nums", ViewBag.nums as IEnumerable<SelectListItem>, "---", new { @class = "form-control dur" })
                </div>
            </div>
            <div class="form-group">
                <label class="lead">Guide Language</label>
                <div class="col-md-12">
                    @Html.DropDownList("GuideLanguageID", ViewBag.GuideLanguageID as IEnumerable<SelectListItem>, "---", new { @class = "form-control language" })
                </div>
            </div>

            <hr />

            <label class="lead">Attractions</label>
foreach (var item in ViewBag.Attracts)
{
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" name="attract" value="@item.AttractionID" class="attract form-control">
                    </div>
                </div>
                <label class="form-control">@item.AttractionName</label>
            </div>
}


}

                @if (@ViewBag.st == ServiceTypeEnum.Accomodation)
    {
            <hr />
            <label class="lead">Facilities</label>
foreach (var item in ViewBag.fac)
{
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" name="fac" value="@item.FacilityID" class="fac form-control">
                    </div>
                </div>
                <label class="form-control">@item.FacilityName</label>
            </div>
}




}




            </div>
        </div>
        @Html.Hidden("maxPrice")
        @Html.Hidden("minPrice")

        <div class=" col-5" id="partialview">
            <br />
            @Html.Action("PackagesPartialView", "Home", new { st = ViewBag.st, DestIds = new List<int>() { (int)ViewBag.LocId } })
        </div>
    </div>





</div>
<script type="text/javascript">



    //Filter
  $(document).ready(function () {

        var CatSt = $('#st').val();

        var setFilters = function () {
            CatValues = [];
            $.each($(".cat:checked"), function () {
                CatValues.push($(this).val());
            });
            ActValues = [];
            $.each($(".act:checked"), function () {
                ActValues.push($(this).val());
            });
            AttractValues = [];
            $.each($(".attract:checked"), function () {
                AttractValues.push($(this).val());
            });
            FacValues = [];
            $.each($(".fac:checked"), function () {
                FacValues.push($(this).val());
            });
            DestValues = [];
            var Dests = $('.GeoSelect').val();
            for (var i = 0; i < Dests.length; i++) {
                DestValues.push(Dests[i]);
            }

            if (DestValues.length < 1)
                DestValues.push($('#LocId').val());

            $('#partialview').html(" ");
            $('#partialview').load(
                '@Url.Action("PackagesPartialView", "Home")',
                {
                    st: CatSt, CatID: CatValues, ActID: ActValues,
                    Gsize: $(".gsize option:selected").text(), diff: $(".diffic option:selected").text(),
                    dur: $(".dur option:selected").text(), AttractID: AttractValues,
                    GuideLanguageID: parseInt($(".language option:selected").val()),
                    maxPrice: $("#maxPrice").val(), minPrice: $("#minPrice").val(),
                    FacilityID: FacValues, NoPax: parseInt($(".nopax option:selected").val()),
                    large: parseInt($(".large option:selected").val()), small: parseInt($(".large option:selected").val()), HasAc: $(".Ac option:selected").val(),
                    HasCarrier: $(".Carrier option:selected").val(), DestIds: DestValues, IsBike: $(".IsBike option:selected").val()
                }
            );

        };


        $(".cat,.act,.gsize,.diffic,.dur,.attract,.language,.fac,.nopax,.large,.small,.Ac,.Carrier,.IsBike").change(setFilters);
        $(".GeoSelect").on('change', function (e) {
            setFilters();
        });

    //Slider

        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 100000,
            values: [2000, 10000],
            slide: function (event, ui) {
                $("#amount").val("Rs " + ui.values[0] + " - Rs " + ui.values[1]);
                $("#minPrice").val(ui.values[0]);
                $("#maxPrice").val(ui.values[1]);
            },
            stop: function (event, ui) {
                setFilters();
                //alert("Hey Diptesh!");
            }

        });
        $("#amount").val("Rs" + $("#slider-range").slider("values", 0) +
            " - Rs" + $("#slider-range").slider("values", 1));


  });

</script>
