@model  IEnumerable<Speedbird.CategoryRec>
<style>

    h2 {
        font-size: 57px;
        color: #006aa7;
        font-weight: 900;
        margin-bottom: 8px;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 20px;
        font-family: "Merriweather Sans",serif;
        margin-left:90px;
    }


    .card {
        width: 380px !important;
        box-shadow: 0 3px 5px rgba(50,50,50,.6);
        position: relative;
        overflow: hidden;
        display: block;
        color: #11496d;
        padding-bottom: 24px;
        background-color: #428bca;
        margin-bottom: 14px;
        height: auto;
        background-color: grey;

    }

    .card-img-top {
        height: 280px;
    }

    #Container, #Container2 {
        margin: 0 auto;
    }

    .card-title {
        font-family: "Quattrocento Sans",sans-serif;
        padding-top: 8px;
        background-color: #428bca;
        font-size: 18px;
        text-align:center;
    }

    .card-block {
        height: 8px;
        color: white;
        background-color: black;
    }

   
    .breadcrumb {
        padding-top: 0;
        padding-bottom: 0;
        background-color: white;
        position:absolute;
        margin-top:0;
        margin-bottom:0;

    }
    .breadcrumb-item {
        padding-top: 0;
        margin-top: 0;
        font-size: 10px;
        background-color: white;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-right: 5px;
        width: auto;
        display: inline-block;
        color: #a5a5a5;
        font-family: "Quattrocento Sans",serif;
    }
    .container {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
   .breadcrumb span {
        padding: 0;
        margin:0;
        font-size: 10px;
        text-decoration: none;
        color:dimgray;
        font-family: "Quattrocento Sans",serif;
    }
    .HeroTitle{
        font-size: 140px;
        font-family: "Quattrocento Sans",sans-serif;
        font-weight: 300;
  
        position: absolute;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        line-height: 80%;
        bottom: 200px;
        left:90px;
    }
</style>

<head>
    <script src="/Scripts/jquery.masonry.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <link href="https://fonts.googleapis.com" rel="stylesheet">
</head>
<div class="container">
    <hr style="padding-bottom:0;margin-bottom:0;padding-top:2px;margin-top:0;line-height: 1.428571429;" />

    <div class="row">
        <nav class="breadcrumb">
            <span>you are here:&nbsp;</span>
            <a class="breadcrumb-item" href="@Request.UrlReferrer.AbsoluteUri">Home</a>
            <a class="breadcrumb-item" href="@Request.Url.AbsoluteUri">@ViewBag.Loc</a>
        </nav>
    </div>

</div>
<br />

<center>
    <img src="/Images/page1pic.jpg" alt="Goa" style="width:auto;min-width:100%; height:400px;margin:0; background-color: lightgrey;">
</center>
<h1 class="HeroTitle">@ViewBag.Loc</h1>

<div class="container-fluid">
    
        <h2>
            Best Tours and Excursion
        </h2>
    

    <div id="Container">
        <center>
            <a href="/Home/LoadPackages/?st=@Speedbird.ServiceTypeEnum.Accomodation&&loc=@ViewBag.Loc">
                <div class="card ServiceTypes" style="width: 20rem;">
                    <img class="card-img-top" src="/Images/@ViewBag.Accomodation.PictureName" alt="Card image cap">
                    <div class="FloatBadge">
                        @ViewBag.Loc
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Accomodation</h4>
                    </div>
                </div>
            </a>
            <a href="/Home/LoadPackages/?st=@Speedbird.ServiceTypeEnum.Packages&&loc=@ViewBag.Loc">
                <div class="card ServiceTypes" style="width: 20rem;">
                    <img class="card-img-top" src="/Images/@ViewBag.Package.PictureName" alt="Card image cap">
                    <div class="card-block">
                        <div class="FloatBadge">
                            @ViewBag.Loc
                        </div>
                        <h4 class="card-title">Packages</h4>
                    </div>
                </div>
            </a>
            <a href="/Home/LoadPackages/?st=@Speedbird.ServiceTypeEnum.CarBike&&loc=@ViewBag.Loc">

                <div class="card ServiceTypes" style="width: 20rem;">
                    <img class="card-img-top" src="/Images/@ViewBag.CarBike.PictureName" alt="Card image cap">
                    <div class="FloatBadge">
                        @ViewBag.Loc
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Car / Bike Rentals</h4>
                    </div>
                </div>
            </a>
            <a href="#">

                <div class="card ServiceTypes" style="width: 20rem;">
                    <img class="card-img-top" src="/Images/@ViewBag.CarBike.PictureName" alt="Card image cap">
                    <div class="FloatBadge">
                        @ViewBag.Loc
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Taxi Hire</h4>
                    </div>
                </div>
            </a>
            @if (ViewBag.loc != "Goa")
    {
        <a href="/Home/LoadPackages/?st=@Speedbird.ServiceTypeEnum.SightSeeing&&loc=@ViewBag.Loc">

            <div class="card ServiceTypes" style="width: 20rem;">
                <img class="card-img-top" src="/Images/@ViewBag.SightSeeing.PictureName" alt="Card image cap">
                <div class="FloatBadge">
                    @ViewBag.Loc
                </div>
                <div class="card-block">
                    <h4 class="card-title">Sight Seeing</h4>
                </div>
            </div>
        </a>
if (ViewBag.loc == "International")
{
        <a href="/Home/LoadPackages/?st=@Speedbird.ServiceTypeEnum.Cruise&&loc=@ViewBag.Loc">

            <div class="card ServiceTypes" style="width: 20rem;">
                <img class="card-img-top" src="/Images/@ViewBag.Cruise.PictureName" alt="Card image cap">
                <div class="FloatBadge">
                    @ViewBag.Loc
                </div>
                <div class="card-block">
                    <h4 class="card-title">Cruise</h4>
                </div>
            </div>
            </a>
            }
            }

        </center>


    </div>

        <h2>Package Categories</h2>
    <div id="Container2">
        <center>
            @foreach (var item in Model)
            {
                <div class="card Package">
                    <img class="card-img-top" src="/Images/@item.pack.First().PictureName" alt="Card image cap">
                    <div class="FloatBadge">
                        @ViewBag.Loc
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">@item.CategoryName</h4>
                    </div>
                </div>
            }

        </center>
    </div>
</div>
<script>
    var $container = $('#Container');
    $container.imagesLoaded(function () {
        $container.masonry({
            itemSelector: '.ServiceTypes',
            columnWidth: 200,
            isFitWidth: true,
            isAnimated: true,
        });
    });
    var $container2 = $('#Container2');
    $container2.imagesLoaded(function () {
        $container2.masonry({
            itemSelector: '.Package',
            columnWidth: 200,
            isFitWidth: true,
            isAnimated: true,
        });
    });
</script>
