@model  List<Speedbird.AccomPackCarBike>

<link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">

<style>
    .checked {
        color: orange;
    }

    .price {
        left: 5px;
        bottom: 12px;
        font-family: 'Quattrocento Sans', sans-serif;
        color: rgb(17,73,109);
        font-size: 19.7px;
        font-weight: 700;
        display: block;
    }

    .currency {
        font-size: 12.7px;
    }

    .under {
        font-size: 9.7px;
        line-height: 8px;
    }

    .icons {
        bottom: 3px;
        left: 85px;
        display: block;
    }

    .EATitleFont {
        font-family: 'Quattrocento Sans', sans-serif;
        color: #11496d;
        font-size: 3.6em;
        font-weight: normal;
        line-height: 50px;
        margin-bottom: 15px;
        margin-top: 15px;
        display: block;
        text-align: center;
    }
</style>

<h2 class="EATitleFont">@ViewBag.ServiceTitle</h2>
<div id="ResContainer" style="">


    @foreach (var item in Model)
    {
        <a href="/Home/InfoPage/?st=@ViewBag.st&&ServiceID=@item.ServiceID">



            <div class="card ServiceTypes" style="width: 18rem;">
                @if (item.ServicePic != "")
                {
                    <img class="card-img-top" src="/Images/@item.ServicePic" alt="Card image cap">
                }
                else
                {
                    <img class="card-img-top" src="/Images/ComingSoon.png" alt="Card image cap">
                }
                <div class="card-body">
                    @foreach (var a in item.Attributes)
                    {
                        @: <span style="font-size:0.7em; color:white; background-color: @a.Color; ">
                            @:    <i class="fas fa-@a.fatext"></i>&nbsp;@a.AttributeText
                        @: </span>&nbsp;
                    }

                    <div class="FloatBadge" style="top:0!important;
        left:0!important;">
                        @item.ServiceGeoName
                    </div>
                    <h5 class="card-title">@item.ServiceName</h5>
                    <select name="AvgValue" class="AvgValue" data-val=@item.AvgReview>
                        <option value=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <p class="card-text">@Html.Raw(item.ServiceDescription)</p>


                    <span class="review">@item.TotalReview Reviews</span>
                    <span class="icons position-absolute">
                        @foreach (var a in item.Icons)
                        {
                            @:<img src="/Icons/@a" height="43px;" />
                        }
                    </span>&nbsp;

                    <span class="position-absolute price">
                        <span class="currency"> Rs.</span> @($"{item.Price:#,##0}")
                        <span class="under d-block mx-auto">per person</span>
                    </span>

                </div>



            </div>
        </a>
    }

</div>

<script type="text/javascript">
    $(function () {

        $('.AvgValue').each(function () {
            $(this).barrating({
                theme: 'fontawesome-stars',
                initialRating: $(this).data('val')
            });
        });
    });
</script>
<script>
    $(function () {
        //$container.imagesLoaded(function () {
        $('#ResContainer').masonry({
            itemSelector: '.ServiceTypes',
            columnWidth: 150,
            isAnimated: true,
        });
    });
    //});

</script>
