@model  List<Speedbird.AccomPackCarBike>


<h2>@ViewBag.ServiceTitle</h2>
<div id="ResContainer">



       @foreach (var item in Model)
        {

           <a href="/Home/InfoPage/?st=@ViewBag.st&&ServiceID=@item.ServiceID">

    <div class="card ServiceTypes" style="width: 18rem;">
        @if (item.ServicePic != "")
    {
        <img class="card-img-top" src="/Images/@item.ServicePic" alt="Card image cap">
}
else
{
    <img class="card-img-top" src="/Images/ComingSoon.png" alt="Card image cap">
}
    <div class="card-body">
        @foreach (var a in item.Attributes)
        {
            @: <span style="font-size:0.7em; color:white; background-color: @a.Color; ">
            @:    <i class="fas fa-@a.fatext"></i>&nbsp;@a.AttributeText
            @: </span>&nbsp;
        }
        
        <div class="FloatBadge">
            @item.ServiceGeoName
        </div>
        <h5 class="card-title">@item.ServiceName</h5>
        <p class="card-text">@item.ServiceDescription</p>


    </div>


            </div>
          </a>
        }
   
</div>


<script>
    
    //$container.imagesLoaded(function () {
    $('#ResContainer').masonry({
            itemSelector: '.ServiceTypes',
            columnWidth: 150,
            isAnimated: true,
        });
    //});

</script>
