@model PagedList.IPagedList<Speedbird.SRBooking>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Agent Payment History";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">&nbsp;</h5>
        @using (Html.BeginForm("PaymentList", "Agent", FormMethod.Get))
        {
            if (ViewBag.AgentID !=null)
            {
                @Html.Hidden("Id",(int)ViewBag.AgentID )
            }
            <div class="row d-print-none">
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;Supplier Name:</td>
                        <td>
                            <input type="text" id="UserName" name="UserName" style="color:black;" data-autocomplete-idholder="#AgentID" value=" @ViewBag.AgentName " data-autocombo-url="@Url.Action("AutoCompleteAgent")" class="form-control" disabled />
                        </td>
                        <td>&nbsp;From Date:</td>
                        <td> @Html.TextBox("fd", ViewBag.CurrentFilter as string, new { @class = "form-control eadate",type="text" })</td>
                        <td>&nbsp;To Date:</td>
                        <td> @Html.TextBox("td", ViewBag.CurrentFilter as string, new { @class = "form-control eadate" ,type = "text" })</td>
                        <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Index","Agent")"><i class="fas fa-undo-alt fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        
        <table class="table">
            <tr>
                <th>Sr No</th>
             
                <th>Booking No</th>
                <th>
                    Actual Amount
                </th>
                <th>
                    Paid Amount
                </th>
                <th>
                    Pending Amount
                </th>
            </tr>
            @{int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingNo)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaidAmt)

                    </td>
                    <td>
                        @(item.OA-item.PaidAmt)
                    </td>
                   

                </tr>
                i++;
            }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                  new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>



