@model PagedList.IPagedList<Speedbird.Accomodation>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Accomodation";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>        
    </div>
    <div class="card-body">
        <h5 class="card-title">&nbsp;</h5>
        @using (Html.BeginForm("Index", "Accomodation", FormMethod.Get))
        {
            <div class="row d-print-none">                
                    <table>
                        <tr style="text-align:center">
                            <td>&nbsp;Accomodation Name:</td>
                            <td> @Html.TextBox("AN", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>
                            <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                        </tr>
                    </table>
                
            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Manage","Accomodation")"><i class="fas fa-plus-circle fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>
        <table class="table">
            <tr>
                <th>Sr No</th>
                <th>
                    Accomodation Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Location
                </th>
                <th>
                    Latitude
                </th>
                <th>
                    Longitude
                </th>
                    
                <th></th>
            </tr>
            @{int i = 1;}
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccomName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GeoTreeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.longt)
                </td>
                <td>
                    <a href="@Url.Action("Manage","Accomodation", new {id = item.AccomodationID })"><i title="Edit" class="fas fa-edit fa-inverse h3 float-right DropShadow"></i></a>
                </td>
            </tr>
                i++;
             }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>




