@model Speedbird.PackageValidity

@{
    ViewBag.Title = $"Manage Accomodation Validity";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>
        <div class="section-to-Not-print">
       @using (Html.BeginForm("PVManage", "Accomodation", FormMethod.Post, new { id = "vpFrm" }))
       {
            @Html.AntiForgeryToken()

            <div class="form-horizontal ">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.Hidden("ServiceID", (int)ViewBag.Pack.AccomodationID)
                @Html.Hidden("ServiceTypeID", (int)ViewBag.sid)

                 @if (Model?.PVId > 0)
                {
                    @Html.HiddenFor(model => model.PVId)
                }

                <div class="form-row">
                    <div class="input-group col mb-3">
                        <div class="input-group-prepend"><span class="input-group-text">Valid From</span></div>
                        
                        @if (Model?.ValidFrom!= null)
                        { <input id="ValidFrom" name="ValidFrom" type="text" class="eadate form-control" value="@($"{Model.ValidFrom:dd-MMM-yyyy}")" /> }
                        else
                        { <input id="ValidFrom" name="ValidFrom" type="text" class="eadate form-control" />}

                        @Html.ValidationMessageFor(model => model.ValidFrom, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-group col mb-3">
                        <div class="input-group-prepend"><span class="input-group-text">Valid To</span></div>

                        @if (Model?.ValidTo != null)
                        { <input id="ValidTo" name="ValidTo" type="text" class="eadate form-control" value="@($"{Model.ValidTo:dd-MMM-yyyy}")" /> }
                        else
                        { <input id="ValidTo" name="ValidTo" type="text" class="eadate form-control" />}

                        @*@Html.EditorFor(model => model.ValidTo, new { htmlAttributes = new { @type = "date", @class = "form-control" } })*@
                        @Html.ValidationMessageFor(model => model.ValidTo, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group col mb-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>


            </div>
    }
        </div>
       <br />
        

        <hr />
        <table class="table table-sm section-to-print index-css" width="100%">
            <tr>
                <th>From </th>

                <th>To </th>
                <th class="section-to-Not-print"></th>
            </tr>
        @foreach(var item in(IEnumerable<Speedbird.PackageValidity>)ViewBag.Validity)
        {
            <tr>
                <td>
                    @($"{item.ValidFrom:dd/MMM/yyyy}")
                </td>
                <td>
                    @($"{item.ValidTo:dd/MMM/yyyy}")                    
                </td>
                <td>
                    <a href="#!" class="recEdit" data-id="@item.PVId">Edit</a>
                   @* <a href="@Url.Action("PVManage","Package",new {EID = item.PVId})">EDIT</a>*@
                </td>
            </tr>
        }
          
        </table>
   
   
    </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

<script>
    $(function () {

        $('.recEdit').on('click', function () {
            $('#TabContent').load(
                '@Url.Action("PVManage")' + '?sid=' + $('#sid').val() + '&EID=' +  $(this).data('id')
             );
        })


        //DateTime picker
        $('.eadate').datepicker({
            dateFormat: "dd-M-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true
        }).attr('type', 'text').attr('autocomplete', 'off');

        //Disable the browsers default date picker
        jQuery.validator.methods["date"] = function (value, element) { return true; }


        //Submit form code        
        var vpFrm = $('#vpFrm');
        vpFrm.submit(function (event) {
            event.preventDefault();

            $.ajax({
                url: '/SBBoss/Package/PVManage',
                type: 'post',
                data: $(vpFrm).serialize()
            }).done(function () {
                $('#TabContent').load(
                    '@Url.Action("PVManage")' + '?sid=' + $('#ServiceTypeID').val()

                );

            });
        });
    })
</script>