@model PagedList.IPagedList<Speedbird.Bank>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Banks";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>
    </div>
    <div class="card-body">
        
        @using (Html.BeginForm("Index", "Bank", FormMethod.Get))
        {
            <div class="row d-print-none">
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;Bank Name:</td>
                        <td> @Html.TextBox("AN", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>
                        <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Manage","Banks")"><i class="fas fa-plus-circle fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        
        <table class="table">
            <tr>
                <th>Sr No</th>
                <th>
                    Bank Name
                </th>
                <th>Acc. No.</th>
        
                <th></th>
                <th>
                </th>
            </tr>
            @{int i = 1;}
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BankName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.AccNo)
                </th>            
                <td>
                    <a href="@Url.Action("Manage","Banks", new {id = item.BankID })"><i title="Edit" class="fas fa-edit fa-inverse h3 float-right DropShadow"></i></a>
                </td>
                <td>
                    @Html.ActionLink("Transactions","BankAccount", new {id = item.BankID })
                   

                </td>
            </tr>
                i++;
            }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                  new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>



