@model PagedList.IPagedList<ClickLock.Models.ExistingFuncViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Give Users Permission";
}
<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
    </div>
    @if (ViewBag.errMsg != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.errMsg
        </div>
    }
    <div class="card-body">
        <h5>&nbsp;</h5>

        @using (Html.BeginForm("GetExistingFns", "UserRights", FormMethod.Post, new { id = "fgform"}))
        {
            @Html.Hidden("GroupID");
            <div class="form-inline">
                @Html.Label("Type a few letters of the group name and then choose a group from the list to edit its permissions", htmlAttributes: new { @class = "control-label col-md-6" })
                <input type="text" id="GroupName" name="GroupName" style="color:black;" data-autocomplete-idholder="#GroupID" value="" data-autogroup-url="@Url.Action("AutoCompleteGroups")" class="form-control" />
            </div>
        }

        <br />

        <div class="row">
            <div class="col-6">
                <div id="AvailableFns">                </div>
            </div>

            <div class="col-6" id="ExistingFunc">        </div>
        </div>
        @section Scripts {

            @Scripts.Render("~/bundles/jqueryval")
        }
        <script>

            $(document).ready(function () {
                $('#AvailableFns').hide();
                $('*[data-autogroup-url]')
                    .each(function () {
                        $(this).autocomplete({
                            source: $(this).data("autogroup-url"),
                            minLenght: 3,
                            delay: 500,
                            select: function (event, ui) {
                                $($(this).data("autocomplete-idholder")).val(ui.item.id);

                                var gp = $('#GroupID').val();
                                var $form = $("#fgform"),
                                    url = $form.attr('action');
                                var posting = $.post(url, { GroupName: $('#GroupName').val(), GroupID: $('#GroupID').val() });
                                posting.done(function (data) {
                                    $('#ExistingFunc').load("/UserRights/GetExistingFns?GID=" + gp);
                                    $('#AvailableFns').show();
                                    $('#AvailableFns').load("/UserRights/GetAllOtherFns?GID=" + gp);

                                });
                            }
                        });
                    });
            });

        </script>
    </div>
</div>