@model IEnumerable< ClickLock.Models.ExistingFuncViewModel>
   




    @if (Model != null)
    {
<div class="row" >
    <h4>Functions already in this group</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Sr No
                </th>
                <th>
                    Function Name
                </th>
                <th>
                    Writable?
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        <Big>@item.Module  ></Big> @item.FunctionName
                    </td>
                    <td>
                        @item.Writable
                    </td>
                    <td>
                        @using (Html.BeginForm("DelFuncRec", "UserRights", FormMethod.Post, new { id = "Delrec", @class = "drc" }))
                        {
                            
                            <div class=" col-md-3">
                                <input type="hidden" id="GroupID" name="GroupID" value="@item.GroupID" />
                                <input type="hidden" id="FunctionID" name="FunctionID" value="@item.FunctionID" />

                                <input type="submit" value="Delete Function" data-fid="@item.FunctionID" class="btn btn-default " />
                            </div>
                            
                        }
                    </td>

                </tr>
                i++;
            }
        </tbody>
    </table>
</div>
 <br />
   
        }
  <script>
       $(document).ready(function () {
           $('.drc').submit(function (e) {
               e.preventDefault();
               $('#ExistingFunc').html("");


               var gp = $('#GroupID').val();


               var $form = $(this),
                   url = $form.attr('action');

               var posting = $.post(url, { GroupID: gp, FunctionID: $form["0"][1].value  });               
               posting.done(function (data) {
                   $('#ExistingFunc').load("/UserRights/DelFuncRec?GID=" + gp);
                   $('#AvailableFns').load("/UserRights/GetAllOtherFns?GID=" + gp);
               });

           });
       })
</script>          