@model PagedList.IPagedList<Speedbird.MiceDetail>

@using PagedList.Mvc;
@{
    ViewBag.Title = "MICE Details";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">&nbsp;</h5>
        @using (Html.BeginForm("Index", "MiceDetails", FormMethod.Get))
        {
            <div class="row d-print-none">
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;Guest Name:</td>
                        <td> @Html.TextBox("AN", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>
                        <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Manage","MiceDetails")"><i class="fas fa-plus-circle fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>
        <table class="table">
            <tr>
                <th>Sr No</th>
                <th>
                    Guest Name
                </th>
                <th>
                    Date
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Email
                </th>
                <th>
                    Agent Name
                </th>
                <th>
                    Detail
                </th>
                <th></th>
            </tr>
            @{int i = 1;}
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detail)
                </td>
                @if (item.IsRead == true)
                {
                <td>
                    <i class="fa fa-check-circle" style="font-size:30px;color:green"></i>

                </td>
                }
                else
                {
                    using (Html.BeginForm("Mice", "MiceVisa", FormMethod.Post))
                     {
                    @Html.AntiForgeryToken()
                        @Html.Hidden("Id",item.MiceID)
                    <td>
                        <input type="submit" value="Mark Read" class="btn btn-primary" />
                    </td>
                     }
            
                 }
    
            </tr>
        i++;
    }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                   new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>



