@using Speedbird
@model Speedbird.AccomodationServiceDaily


<div class="row">
    <div class="col-12">
        <table class="SRDetsTbl SRDetsFullTable" width="100%">

            <tr>
                <th>Folder No</th>
                <th>Booked On</th>
                <th>Pax Name</th>
                <th>Pax No</th>
                <th>Agent</th>
                <th>Hotel</th>
                <th>Checkin</th>
                <th>Checkout</th>
                <th>Room Type</th>
                <th>No Of Rooms</th>
                <th>Adult</th>
                <th>Child</th>
                <th>CP</th>
                <th>Sellprice</th>
                <th>COM</th>
            </tr>

            <tr>
                <td>@Model.BookingNo</td>
                <td>@Model.TDate.EAFormat(withTime: false)</td>
                <td>@Model.PaxName </td>
                <td>@(Model.AdultNo + Model.ChildNo + Model.InfantNo) </td>
                <td>@Model.ContactName @Model.Agency @Model.PhoneNo</td>
                <td>@Model.AccomName </td>
                <td>@Model.checkin.EAFormat() </td>
                <td>@Model.checkout.EAFormat() </td>
                <td>@Model.RoomType</td>
                <td>@Model.NoOfRooms </td>
                <td>@Model.AdultNo </td>
                <td>@Model.ChildNo </td>
                <td>@Model.TotalCost.EAFormat() </td>
                <td>@Model.SellPrice.EAFormat() </td>
                <td>@Model.COM.EAFormat()</td>
            </tr>
            <tr>
                <th>Note</th>
            </tr>

            <tr>
                <td>@Model.Event</td>
            </tr>
        </table>
    </div>

</div>
<br />
