@using Speedbird
@model Speedbird.CarDaily
<div class="row">
    <div class="col-12">
        <table class="SRDetsTbl">
            <thead>
                <tr>
                    <th>Folder No</th>
                    <th>Booked On</th>
                    <th>Pax Name</th>
                    <th>Pax No</th>
                    <th>Agent,Agency,Conatct</th>
                    <th>Vehicle Type</th>
                    <th>Model</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Pickup Location</th>
                    <th>Pickup Address</th>
                    <th>Drop Location</th>
                    <th>Drop Address</th>
                    <th>No of Days</th>
                    <th>No Of Vehicles</th>
                    <th>Pay To</th>
                    <th>CP</th>
                    <th>Sell Price</th>
                    <th>COM</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.BookingNo</td>
                <td>@Model.TransDate.EAFormat(withTime: false)</td>
                <td>@Model.PaxName</td>
                <td>@Model.PaxNo</td>
                <td>@Model.ContactName,@Model.Agency,@Model.PhoneNo</td>
                <td>@((CarTypeEnum)Model.CarType)</td>
                <td>@Model.Model</td>
                <td>@Model.Fdate.EAFormat()</td>
                <td>@Model.Tdate.EAFormat()</td>
                <td>@Model.FromLoc</td>
                <td>@Model.PickUpPoint</td>
                <td>@Model.ToLoc</td>
                <td>@Model.DropPoint</td>
                <td>@Model.Qty</td>
                <td>@Model.BFCost</td>
                <td>@Model.PayTo</td>
                <td align="right">@Model.TotalCost.EAFormat() </td>
                <td align="right">@Model.SellPrice.EAFormat() </td>
                <td align="right">@Model.COM.EAFormat()</td>
            </tr>
            <tr>
                <th>Note</th>
            </tr>
            <tr>
                <td>@Model.Event</td>
            </tr>
        </table>
    </div>
</div>
<br />

@*@foreach (var item in ViewBag.ufs)
    {
        <span class="badge badge-secondary"><a target="_blank" style="color:white !important;" href="/Images/@item.Path">@item.UploadName</a> &nbsp; <a style="color:#fe7575 !important;" href="@Url.Action("Delete","SR",new {pid=item.SRUID , id=item.SRID})">X</a></span>
    }

    @using (Html.BeginForm("SRUpload", "SR", FormMethod.Post, new { id = "ServiceDetsUpld-" + Model.SRDID, enctype = "multipart/form-data" }))
    {
        <div class="form-inline">
            @Html.AntiForgeryToken()
            @Html.Hidden("SRID", (int)Model.SRID)
            @Html.Hidden("SRDID", (int)Model.SRDID)
            @Html.EAText("UploadName", "", "File Description")


            @Html.TextBox("UploadedFile", "", new { type = "file", @class = "UploadedFile", @data_uf = Model.SRDID })
        </div>
    }*@





<script>


        $(function () {
            //DateTime picker


            $('.eadate').datepicker({
                dateFormat: "dd-MM-yy",
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            });

            //Disable the browsers default date picker
            jQuery.validator.methods["date"] = function (value, element) { return true; }


        });




</script>
