@using Speedbird
@model Speedbird.SupplierInfo

<table class="SRDetsTbl SRDetsFinTbl SRDetsFullTable">
    <thead>
        <tr>
            <th>Cost                 </th>
            <th>COM</th>
            <th>Tax</th>
            <th>Sell</th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td align="right">@Model.TotalCost.EAFormat() </td>
        <td align="right">@(Model.SellPrice - Model.TotalCost) </td>
        <td align="right">@Model.Tax.EAFormat() </td>
        <td align="right">@Model.SellPrice.EAFormat() </td>
        <td>
            <button class="srdEdit" data-srdid="@Model.SRDID" data-stid="@Model.ServiceTypeID"><i title="Edit" class="fas fa-edit fa-inverse h3 float-right DropShadow"></i></button>
        </td>
    </tr>
</table>

