@using Speedbird
@model Speedbird.PackageDaily
<div class="row">
    <div class="col-12">
        <table class="SRDetsTbl">
            <thead>
                <tr>
                    <th>Folder No</th>
                    <th>Booked On</th>
                    <th>Pax Name</th>
                    <th>Pax No</th>
                    <th>Agent,Agency,Conatct</th>
                    <th>Package Type</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>No Of Days</th>
                    <th>Meal Plan</th>
                    <th>Start Point</th>
                    <th>End Point</th>
                    <th>Name of Tour</th>
                    <th>Travel Included</th>
                    <th>Hotel Category</th>
                    <th>Package Cost</th>
                    <th>Additional Charge Details</th>
                    <th>Additional Cost/Person</th>
                    <th>Net Cost/Person</th>

                </tr>
            </thead>
            <tr>
                <td>@Model.BookingNo</td>
                <td>@Model.TransDate.EAFormat(withTime: false)</td>
                <td>@Model.PaxName</td>
                <td>@Model.NOOfPax</td>
                <td>@Model.ContactName,@Model.Agency,@Model.PhoneNo</td>
                <td>@Model.PackageType</td>
                <td>@Model.Fdate.EAFormat()</td>
                <td>@Model.Tdate.EAFormat()</td>
                <td>@(Model.Tdate.Subtract(Model.Fdate).TotalDays)</td>
                <td>@((MealPlanEnum)Model.CarType)</td>
                <td>@Model.FromLoc</td>
                <td>@Model.ToLoc</td>
                <td>@Model.NameofTour</td>
                <td>@Model.IsReturn</td>
                <td>@Model.HotelCat</td>
                <td align="right">@Model.TotalCost.EAFormat() </td>
                <td>@Model.AddDtl</td>
                <td align="right">@Model.AddCost.EAFormat()</td>
                <td align="right">@Model.NetCost.EAFormat()</td>

            </tr>
            <tr>
                <th>CP</th>
                <th>Sell Price</th>
                <th>COM</th>
            </tr>
            <tr>
                <td align="right">@Model.TotalCost.EAFormat() </td>
                <td align="right">@Model.SellPrice.EAFormat() </td>
                <td align="right">@Model.COM.EAFormat()</td>
            </tr>
        </table>
        <div class="row">
            <div class="col-2 text-center">
                <strong>Note</strong>
            </div>
            <div class="col-10 text-center">
                @Model.Event
            </div>
        </div>
    </div>
</div>
<br />

<script>


    $(function () {
        //DateTime picker


        //$('.eadate').datepicker({
        //    dateFormat: "dd-MM-yy",
        //    showButtonPanel: true,
        //    changeMonth: true,
        //    changeYear: true
        //});

        ////Disable the browsers default date picker
        //jQuery.validator.methods["date"] = function (value, element) { return true; }


    });




</script>
