@using Speedbird
@model Speedbird.PassportDaily

<div class="row">
    <div class="col-12">
        <table class="SRDetsTbl SRDetsFullTable" width="100%">
            <thead>
                <tr>
                    <th>Folder No</th>
                    <th>Booked On</th>
                    <th>Pax Name</th>
                    <th>Pax No</th>
                    <th>Agent,Agency,Conatct</th>
                    <th>DOB</th>
                    <th>Passport No.</th>
                    <th>Nationality</th>
                    <th>Service Required</th>
                    <th>CP</th>
                    <th>Sell Price</th>
                    <th>COM</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.BookingNo</td>
                <td>@Model.TDate.EAFormat(withTime: false)</td>
                <td>@Model.PaxName</td>
                <td>@Model.PaxNo</td>
                <td>@Model.ContactName,@Model.Agency,@Model.PhoneNo</td>
                <td>@Model.Fdate.EAFormat()</td>
                <td>@Model.PassPortNo </td>
                <td>@Model.Nationality</td>
                <td>@Model.Heritage</td>
                <td align="right">@Model.TotalCost.EAFormat() </td>
                <td align="right">@Model.SellPrice.EAFormat() </td>
                <td align="right">@Model.COM.EAFormat()</td>
            </tr>
        </table>
        <div class="row">
            <div class="col-2 text-center">
                <strong>Note</strong>
            </div>
            <div class="col-10 text-center">
                @Model.Event
            </div>
        </div>
    </div>
</div>

<br />



@*@if (ViewBag.isReadOnly != null)
    {@Html.Action("CustSearch", "SR", new { id = Model.SRDID })
    }*@

@*@if (Model != null)
    {
        <script>
           $('#AssignDriver').load('@Url.Action("_AssignDriver")', { SRID: @Model.SRID, SRDID: @Model.SRDID});
           $('#Review').load('@Url.Action("_DrvReview")', { SRID: @Model.SRID,SRDID: @Model.SRDID});
        </script>
    }*@


