@using Speedbird
@model Speedbird.SightseeingServiceViewDaily

<strong>@Model.SightseeingName</strong>
<div class="row">
    <div class="col-12">
        <table class="SRDetsTbl SRDetsFullTable" width="100%">
            <thead>
                <tr>
                    <th>Folder No</th>
                    <th>Booked On</th>
                    <th>Pax Name</th>
                    <th>Pax No</th>
                    <th>Agent</th>
                    <th>No of Adults</th>
                    <th>No of Kids</th>
                    <th>Name Of Tour</th>
                    <th>Half/Full day</th>
                    <th>Pickup From</th>
                    <th>Pickup At</th>
                    <th>Pvt/Sic</th>
                    <th>Cost per car</th>
                    <th>Car Qty</th>
                    <th>Adult Cost</th>
                    <th>Child Cost</th>
                    <th>Tour Date/Time</th>
                    <th>Driver Name</th>
                    <th>Car Type</th>
                    <th>Meal inc.</th>
                    <th>Inclsions</th>
                    <th>CP</th>
                    <th>Sell Price</th>
                    <th>COM</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.BookingNo</td>
                <td>@Model.TDate.EAFormat(withTime: false)</td>
                <td>@Model.PaxName</td>
                <td>@(Model.AdultNo + Model.ChildNo)</td>
                <td>@Model.ContactName @Model.Agency @Model.PhoneNo</td>
                <td align="right">@Model.AdultNo</td>
                <td align="right">@Model.ChildNo </td>
                <td>@Model.SightseeingName</td>
                <td>@Model.OptionTypeName</td>
                <td>@Model.PickUpPoint</td>
                <td>@Model.PickupLocation </td>
                <td>@Model.Private_Sic </td>
                <td align="right">@Model.CostPerCar.EAFormat() </td>
                <td align="right">@Model.NoOfCars </td>
                <td align="right">@Model.AdultCost.ToString("0.####") </td>
                <td align="right">@Model.ChildCost.ToString("0.####") </td>
                <td>@Model.TourDate.EAFormat(true) </td>
                <td>@Model.DriverName @Model.Contact</td>
                <td>@((CarTypeEnum)Model.CarType)</td>
                <td>@Model.MealIncluded</td>
                <td>@ViewBag.Inc</td>
                <td>@Model.TotalCost.EAFormat()</td>
                <td>@Model.SellPrice.EAFormat()</td>
                <td>@Model.COM.EAFormat()</td>
            </tr>
            <tr>
                <th>Note</th>
            </tr>
            <tr>
                <td>@Model.Event</td>
            </tr>
        </table>
</div>
</div>
