@using Speedbird
@model Speedbird.TransferServiceDaily
<style>
    .modal-backdrop {
        position: relative;
    }
</style>

<div class="row">
    <div class="col-12">
        <table class="SRDetsTbl SRDetsFullTable" width="100%">
            <thead>
                <tr>
                    <th>Folder No</th>
                    <th>Booked On</th>
                    <th>Pax Name</th>
                    <th>Pax No</th>
                    <th>Agent,Agency,Conatct</th>
                    <th>On Date</th>
                    <th>Vehicle Qty</th>
                    <th>From & To</th>
                    <th>Pickup & Drop Point</th>
                    <th>Driver Name</th>
                    <th>Car</th>
                    <th>Rate Basis</th>
                    <th>Has AC</th>
                    <th>Carrier</th>
                    <th>Pay To</th>
                    <th>CP</th>
                    <th>Sell Price</th>
                    <th>COM</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.BookingNo</td>
                <td>@Model.TDate.EAFormat(withTime: false)</td>
                <td>@Model.PaxName</td>
                <td>@Model.PaxNo</td>
                <td>@Model.ContactName,@Model.Agency,@Model.PhoneNo</td>
                <td>@Model.Fdate.EAFormat()</td>
                <td align="right">@Model.NoOfVehicles</td>
                <td>@(Model.FromLoc?.ToUpper()) & @(Model.ToLoc?.ToUpper())  </td>
                <td>@(Model.PickUpPoint) & @(Model.DropPoint)</td>
                <td>@Model.DriverName @Model.Contact</td>
                <td>@((CarTypeEnum)Model.cartype)</td>
                <td>@Model.RateBasis</td>
                <td>@Model.HasAc</td>
                <td>@Model.HasCarrier</td>
                <td>@Model.PayTo</td>
                <td align="right">@Model.TotalCost.EAFormat() </td>
                <td align="right">@Model.SellPrice.EAFormat() </td>
                <td align="right">@Model.Commision.EAFormat()</td>
            </tr>
        </table>
        <div class="row">
            <div class="col-2 text-center">
                <strong>Note</strong>
            </div>
            <div class="col-10 text-center">
                @{
                    var Logs = (IEnumerable<SRlog>)ViewBag.Logs;
                }

                @foreach (var item in Logs)
                {
                    <ul>
                        <li>@item.Event</li>
                    </ul>
                }
            </div>
        </div>
        <button type="button" data-srdid="@Model.SRDID" data-srid="@Model.SRID" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Review Driver
        </button>

        <div class="modal" id="myModal">
            <div id="myModalContent">

            </div>
        </div>
    </div>
</div>
<br />
<script>
    $(function () {
        $('#myModal').on('shown.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var SRDID = button.data('srdid');
            var SRID = button.data('srid');
            $("#myModalContent").load('@Url.Action("_DrvReview","SR")', { SRDID: SRDID, SRID: SRID });

        });

    });
</script>

