@using Speedbird
@model Speedbird.TransferServiceDaily

<div class="row">
    <div class="col-12">
        <table class="SRDetsTbl SRDetsFullTable" width="100%">
            <thead>
                <tr>
                    <th>Folder No</th>
                    <th>Booked On</th>
                    <th>Pax Name</th>
                    <th>Pax No</th>
                    <th>Agent</th>
                    <th>On Date</th>
                    <th>Vehicle Qty</th>
                    <th>From Where</th>
                    <th>Picup Point</th>
                    <th>To Where</th>
                    <th>Drop Point</th>
                    <th>Driver Name</th>
                    <th>Car</th>
                    <th>Rate Basis</th>
                    <th>Has AC</th>
                    <th>Carrier</th>
                    <th>Pay To</th>
                    <th>CP</th>
                    <th>Sell Price</th>
                    <th>COM</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.BookingNo</td>
                <td>@Model.TDate.EAFormat(withTime: false)</td>
                <td>@Model.PaxName</td>
                <td>@Model.PaxNo</td>
                <td>@Model.ContactName @Model.Agency @Model.PhoneNo</td>
                <td>@Model.Fdate.EAFormat()</td>
                <td align="right">@Model.NoOfVehicles</td>
                <td>@(Model.FromLoc.ToUpper())</td>
                <td>@Model.PickUpPoint</td>
                <td>@(Model.ToLoc.ToUpper())</td>
                <td>@Model.DropPoint</td>
                <th>@Model.DriverName @Model.Contact</th>
                <td>@((CarTypeEnum)Model.cartype)</td>
                <td>@Model.RateBasis</td>
                <td>@Model.HasAc</td>
                <td>@Model.HasCarrier</td>
                <td>@Model.PayTo</td>
                <td>@Model.TotalCost</td>
                <td>@Model.SellPrice</td>
                <td>@(Model.SellPrice - Model.TotalCost)</td>
            </tr>
            <tr>
                <th>Note</th>
            </tr>
            <tr>
                <td>@Model.Event</td>
            </tr>
        </table>

    </div>
</div>


<script>


    $(function () {
        //DateTime picker


        $('.eadate').datepicker({
            dateFormat: "dd-MM-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true
        });

        //Disable the browsers default date picker
        jQuery.validator.methods["date"] = function (value, element) { return true; }


    });




</script>
