@using Speedbird
@model Speedbird.VisaDaily


<div class="row">
    <div class="col-12">
        <table class="SRDetsTbl" width="100%">
            <thead>
                <tr>
                    <th>Folder No</th>
                    <th>Booked On</th>
                    <th>Pax Name</th>
                    <th>Pax No</th>
                    <th>Agent</th>
                    <th>Passport No        </th>
                    <th>DOB    </th>
                    <th>Expiry Date    </th>
                    <th>Nationality    </th>
                    <th>Visa Country    </th>
                    <th>From Date  </th>
                    <th>To Date     </th>
                    <th>Duration    </th>
                    <th>Cost </th>
                    <th>CP </th>
                    <th>Sell Price </th>
                    <th>COM </th>
                </tr>
            </thead>
            <tr>
                <td>@Model.BookingNo</td>
                <td>@Model.TransDate.EAFormat(withTime: false)</td>
                <td>@Model.PaxName</td>
                <td>@Model.PaxNo</td>
                <td>@Model.ContactName @Model.Agency @Model.PhoneNo</td>
                <td>@Model.PassportNo</td>
                <td>@Model.DOB.EAFormat()</td>
                <td>@Model.ExpiryDate.EAFormat()</td>
                <td>@Model.Nationality</td>
                <td>@Model.VisaCountry</td>
                <td>@Model.Fdate.EAFormat()</td>
                <td>@Model.Tdate.EAFormat()</td>
                <td>@(Model.Tdate.Subtract(Model.Fdate).TotalDays)</td>
                <td align="right">@Model.Cost</td>
                <td align="right">@Model.TotalCost</td>
                <td align="right">@Model.SellPrice</td>
                <td align="right">@(Model.SellPrice - Model.TotalCost)</td>
            </tr>
            <tr>
                <th>Note</th>
            </tr>
            <tr>
                <td>@Model.Event</td>
            </tr>
        </table>
    </div>
</div>
<br />

<script>


    $(function () {
        //DateTime picker


        $('.eadate').datepicker({
            dateFormat: "dd-MM-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true
        });

        //Disable the browsers default date picker
        jQuery.validator.methods["date"] = function (value, element) { return true; }


    });




</script>
