@model  Speedbird.AtomResponse
@{
    /**/

    ViewBag.Title = "Transaction Response";
}


<style>
    table tr td {
        text-align: center;
        font-weight: bold;
    }

    .navbar {
        display: none;
    }

    footer {
        display: none;
    }
</style>

<h2 class="text-center">@ViewBag.Title</h2>
<table align="center" class="table table-responsive">

    @if (Model.postingf_code == "Ok")
    {
        <tr>
            <td>Transaction Status : Successful</td>
        </tr>
        <tr>
            <td>Merchant Txt Id : @Model.postingmmp_txn</td>
        </tr>
        <tr>
            <td>Atom Transaction Id : @Model.postingmer_txn</td>
        </tr>
        <tr>
            <td>Amount : @Model.postinamount</td>
        </tr>
        <tr>
            <td>Client Code: @Model.postingclientcode</td>
        </tr>
        <tr>
            <td>DateTime : @Model.postingdate</td>
        </tr>
    }

    @if (Model.postingf_code == "F")
    {
        <tr>
            <td>Transaction Status : Failed</td>
        </tr>
        <tr>
            <td>Merchant Txt Id : @Model.postingmmp_txn</td>
        </tr>
        <tr>
            <td>Atom Transaction Id : @Model.postingmer_txn</td>
        </tr>
        <tr>
            <td>Amount : @Model.postinamount</td>
        </tr>
        <tr>
            <td>Client Code: @Model.postingclientcode</td>
        </tr>
        <tr>
            <td>DateTime : @Model.postingdate</td>
        </tr>
    }

    @if (Model.postingf_code == "C")
    {
        <tr>
            <td>Transaction Status : Cancelled</td>
        </tr>
        <tr>
            <td>Merchant Txt Id : @Model.postingmmp_txn</td>
        </tr>
        <tr>
            <td>Atom Transaction Id : @Model.postingmer_txn</td>
        </tr>
        <tr>
            <td>Amount : @Model.postinamount</td>
        </tr>
        <tr>
            <td>Client Code: @Model.postingclientcode</td>
        </tr>
        <tr>
            <td>DateTime : @Model.postingdate</td>
        </tr>
    }
</table>


