@model IEnumerable<CartDets>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    .btn{
        width:120px !important;
    }
    #dp2{
        width:400px;
        height:50px;
    }
    a{
        color:red
    }
    /*Reused from info page*/
    ul,p{
        margin-left:50px;
    }

    /*reused*/
    .block-sb-info {
        background-color: #eeeeec;
        box-shadow: 0 3px 5px rgba(50,50,50,0.4);
        margin-bottom: 20px;
        padding: 20px;
        margin-right: 30px;
    }
    /*Reused from infopage and changed fon size*/
    h3 {
        font-family: "Merriweather Sans",serif;
        font-size: 30px;
        color: #006aa7;
        font-weight: bold;
        padding-left: 50px;
    }
    #paybtn {
        background-color: #a4ba00;
        background-image: none;
        border-color: #becd00 #82aa57 #82aa57 #becd00;
        border-image: none;
        border-radius: 0;
        border-style: solid;
        border-width: 2px;
        color: #fff !important;
        font-size: 20px;
        font-weight: normal !important;
        height: 40px !important;
        line-height: 35px !important;
        padding: 2px 8px 0 !important;
        text-shadow: none;
        text-transform: uppercase;
        display: inline-block;
    }
    label{
      margin-left:30px;
    }
    .payform{
        width:300px !important;
    }
    .paylabel {
        text-align:left;
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: bold;
        font-family: "Quattrocento Sans",serif;
        color: #333;
    }
    .w3-button {
        color: #00afec;
        display: inline-block;
        font-family: "Quattrocento Sans",serif;
        font-weight: normal;
        padding-bottom: 0;
        padding-top: 1px;
        text-decoration: none;
        text-transform: uppercase;
        border: 1px solid #00afec !important;
        border-radius: 4px;
        width:360px;
        font-size: 18px;
        height: 40px;
        margin-right:10px;
    }
    .table, th, td {
        border-top: 0px !important;
        text-align: left;
        padding:5px !important;

    }
    td {
        font-family: "Quattrocento Sans",serif;
    }

    .heading {
        color: #333 !important;
        font-size: 24px;
    }

    .price {
        color: #1d4d71;
        float: right;
        line-height: 30px;
        text-align: right;
        width: 200%;
        font-weight: bolder;
        font-size: 40px;
    }

    th, thead {
        color: #009ee0;
        font-size: 14px;
        font-weight: bold;
        text-transform: none;
        padding-left: 0;
        padding-right: 0;
    }

    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
    }

    #card {
        margin: 20px;
        width: 95.5%;
    }
    #card-body {
        border-bottom: 1px solid #00afec;
        border-top: 1px solid #00afec;
        border-right:0;
        border-left:0;
    }


    #top-image {
        height: 300px;
        width: auto;
        min-width: 100%;
        margin-bottom: 15px;
    }

    #BreadCrumb {
        margin-left: 100px;
    }

    #alert-success {
        margin-left: 100px;
        margin-top: 10px;
        width: 100%;
        height: 70px;
        font-size: 18px;
        overflow:hidden;
    }

    #cart-block {
        border: 10px solid #e2f4fd;
        height: auto;
        width: 100%;
        background-color: white;
        margin-left: 100px;
    }
    #total-block {
        border: 10px solid #009ee0;
        height: 142px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        text-align: center;
        width: 70%;
        margin-top: 10px;
    
    }

    .cart-banners {
        margin: 20px;
        height: 40px;
        background-color: #009ee0;
        line-height: 40px;
        border-radius: 0;
        padding-left: 10px;
    }

    a {
        color: #428bca;
        text-decoration: none;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    a {
        background: transparent;
    }

    .item-banners {
        background-color: #e2f4fd !important;
        margin: 20px;
        height: 45px;
        line-height: 45px;
        border-radius: 0;
        padding-left: 10px;
        width: 100%;
    }

    .cart-banners-btn {
        align-items: center;
        background-color: #fff;
        border: 1px solid #fff !important;
        border-radius: 4px;
        color: #1d4d71 !important;
        display: flex;
        float: right;
        font-family: Quattrocento Sans;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        margin: 7px 10px 6px 0;
        padding: 6px 10px 4px;
    }

    .title {
        color: #fff;
        font-family: "Quattrocento Sans",serif;
        font-size: 18px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 10px;
    }

    .btn {
        background-color: #bbbdbf;
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: normal;
        font-family: "Quattrocento Sans",serif;
        width: auto;
        padding-left: 10px;
        line-height: 30px;
    }

    .btn-breadcrumb .btn:not(:last-child):after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 13px solid #bbbdbf;
        position: absolute;
        top: 50%;
        margin-top: -17px;
        left: 100%;
        z-index: 3;
    }

    .btn-breadcrumb .btn:not(:last-child):before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 13px solid white;
        position: absolute;
        top: 50%;
        margin-top: -17px;
        margin-left: 1px;
        left: 100%;
        z-index: 3;
    }

    .btn-breadcrumb .btn {
        padding: 6px 12px 6px 24px;
    }

        .btn-breadcrumb .btn:first-child {
            padding: 6px 6px 6px 10px;
        }

        .btn-breadcrumb .btn:last-child {
            padding: 6px 18px 6px 24px;
        }

        .btn-breadcrumb .btn.btn-primary:not(:last-child):after {
            border-left: 10px solid #007bff;
        }

        .btn-breadcrumb .btn.btn-primary:not(:last-child):before {
            border-left: 10px solid #357ebd;
        }

        .btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
            border-left: 10px solid #3276b1;
        }

        .btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
            border-left: 10px solid #285e8e;
        }
</style>
<img src="/Images/World.jpg" id="top-image" />
<div class="row">
    <div class="col-md-8">

        <div class="row">
            <div class="container-fluid">
                <div class="btn-group btn-breadcrumb" id="BreadCrumb">
                    <a href="#" class="btn btn-default">Checkout</a>
                    <a href="#" class="btn btn-default">Payment</a>
                    <a href="#" class="btn btn-default">Additional Information</a>
                    <a href="#" class="btn btn-default">Checkout Complete</a>
                </div>
            </div>
            <div class="alert alert-success" id="alert-success">
                Half-day Private Tour of the historic centre of Florence-1 added to <strong>your cart</strong>.
            </div>
        </div>
        <div class="row">
            <div class="container-fluid" id="cart-block">
                <div class="cart-banners"><div class="title">Shopping Cart Contents <a class="cart-banners-btn">Add Others</a></div></div>
                <div class="card" id="card">
                    <div class="card-body" id="card-body">

                        <div class="container-fluid">
                            @{ decimal total = 0; }
                            @foreach (var item in Model)
                            {
                                @Html.Hidden("CartID",item.CartID)
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="/Images/@item.Pic" style="width:100%;height:330px; margin: 16px 0 0 0; border-top: 1px solid #00afec;" />

                                </div>
                                <div class="col-md-7">

                                    <table class="table table-light">
                                        <tbody>
                                            <tr>
                                                <th class="heading" colspan="4">@item.ServiceName</th>

                                            </tr>
                                            <tr><th>Check In</th><td>@item.CheckIn</td><td>&nbsp;</td></tr>
                                            <tr><th>Check Out</th><td>@item.CheckOut</td><td colspan="2" class="price"><i class="fa fa-users " style="font-size:48px;"></i> <small style="color:#333">5</small></td></tr>
                                            <tr>
                                                @if (item.ServiceTypeID == (int)ServiceTypeEnum.Packages || item.ServiceTypeID == (int)ServiceTypeEnum.SightSeeing)
                                                {
                                                 <th>Language</th>

                                                    foreach (var l in item.lang)
                                                    {
                                                <td>@l.GuideLanguageName </td>}
                                                }
                                                else
                                                {
                                                <td>&nbsp;</td><td>&nbsp;</td>
                                                }
                                                @{ total += item.OrigPrice;}
                                                <td colspan="2" class="price">Rs @item.OrigPrice/-</td>
                                            </tr>
                                            <tr><th>Confirmation</th><td>Quick</td><td>&nbsp;</td></tr>
                                        </tbody>


                                    </table>


                                </div>

                                <div class="item-banners">
                                    <center>
                                             @using (Html.BeginForm("Delete", "Cart", FormMethod.Post))
                                  {
                                 <button class="w3-button w3-padding-small" type="submit">Wish List</button>
                                 @Html.Hidden("id",item.CartID);
                                    <button class="w3-button w3-padding-small" type="submit">Remove From List</button>
                                  }
                                    </center>
                                   
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="item-banners" style="color:#1d4d71;font-size:18px;">
                            <center>
                               @if (Model.Any(a=>a.CouponCode!=null))
                               {
                                   @:<p style="color:green" id="applied">*Coupon Successfully Applied</p>
                               }
                               else
                               {
                                <a id="coup-click"> Do You Have a Coupon? Click Here</a>

                               }
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container" id="disc-div">                    
                                <center>
                                    <form>
                                       

                                        <table>
                                            <tr>
                                                <td>
                                                    <input id="dp2" type="text" class="form-control clickable " placeholder="Enter You Code Here. . .">
                                                </td>
                                                <td>
                                                    <input type="button" class="form-control btn btn-success" value="Apply" id="coupsub" />
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </center>                        
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                      
                  
                        <div class="item-banners" style="color:white;font-size:24px; background-color:#009ee0 !important; text-align:right;padding-right:20px;font-weight:bold;">
                            <small>Total</small>
                            <span id="totAmt"> 
                                @if(ViewBag.Amt != null)
                                {
                                    @(ViewBag.Amt)
                                }
                                else
                                {
                                    @(total)
                                }

                            </span>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                      @using (Html.BeginForm("BookCartItems", "Cart", FormMethod.Post))
                      {
                    <div class="row">
                        <div class="item-banners" style="color:white; background-color:#009ee0 !important; text-align:left;padding-right:20px;font-weight:normal;">
                            <div class="title">BILLING INFORMATION</div>
                        </div>
                        <table class="table">
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("First Name", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="">
                                    <input type="text" class="form-control col-md-6 payform" name="fname" />
                                </td>
                            </tr>
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("Sur Name", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="">
                                    <input type="text" class="form-control col-md-6 payform" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("Country", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="">
                                    <input type="text" class="form-control col-md-6 payform" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("Address 1", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="">
                                    <input type="text" class="form-control col-md-6 payform" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("City", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="">
                                    <input type="text" class="form-control col-md-6 payform" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("State", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="">
                                    <input type="text" class="form-control col-md-6 payform" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("Zip Code", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="">
                                    <input type="text" class="form-control col-md-6 payform" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("Telephone", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="">
                                    <input type="text" class="form-control col-md-6 payform" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("Email-Address", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="">
                                    <input type="text" class="form-control col-md-6 payform" name="" />
                                </td>
                            </tr>
                        </table>
                        <div class="item-banners" style="color:white; background-color:#009ee0 !important; text-align:left;padding-right:20px;font-weight:normal;">
                            <div class="title">PAYMENT </div>
                        </div>
                        <table class="table">
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("Credit Card", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="form-inline">
                                    <input type="radio" class="form-control col-md-2 " name="" style="zoom:1.5;" />
                                    <img src="/Images/visa.gif" style="float:left;" />
                                    <img src="/Images/mastercard.gif" style="float:left;" />
                                    <img src="/Images/amex.gif" style="float:left;" />
                                </td>

                            </tr>
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("Pay With Paypal", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="form-inline">
                                    <input type="radio" class="form-control col-md-2 payform" name="" style="zoom:1.5; " />
                                    <img src="/Images/paypal.png" style="float:left;width:70px;height:55px;" />
                                </td>
                            </tr>
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("Card Owner", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="">
                                    <input type="text" class="form-control col-md-6 payform" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("Card Number", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="">
                                    <input type="text" class="form-control col-md-6 payform" name="" />
                                </td>
                            </tr>
                            <tr>
                                <th class="paylabel">
                                    @Html.Label("Expiration", htmlAttributes: new { @class = "control-label " })
                                </th>
                                <td class="form-inline" colspan="4">
                                    <input type="text" class="form-control " style="width:50px !important" name="" />&nbsp;/&nbsp;
                                    <input type="text" class=" form-control" name="" style="width:50px !important" />

                                </td>

                            </tr>

                            <tr>
                                <td>
                                    <br />

                                    <input type="checkbox" name="act" value="" class="form-check-inline" style="zoom:1.5;">

                                </td>
                                <td style="font-size:20px">

                                    I have read and accept ItalyXP's Terms and Conditions<br /> and the Privacy Policy.
                                </td>
                            </tr>

                        </table>
                      
                        <div id="total-block"><div class="price" style=" padding-right:250px!important;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;">
                              @if (ViewBag.Amt != null)
                              {
                                    @(ViewBag.Amt)
                              }
                              else
                              {
                                    @(total)
                              }
                             </div>
                        <br /><br />
                        <button id="paybtn" type="submit">CLICK TO PAY</button>
                        </div>
                        
                    </div>   
                      }
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="block-sb-info" style="margin-top:52px">
            <h3>PAY WITH:</h3>

            <div class="row">
                <img src="/Images/american.png" width="300" style="margin-left:70px;" />

                <br />
            </div>
        </div>

        <div class="block-sb-info" style="margin-top:52px">
            <h3>Not Sure? Contact Us!</h3>
            <form action="/Cart/BookCartItems">
                <button id="paybtn" style="margin-left:50px;margin-bottom:10px;margin-top:20px;">START A LIVE CHAT</button>
            </form>
            <br />
            <div class="row">

                <ul>
                    <li>+4324234343</li>
                    <li>customers@xp.com</li>
                </ul>
                <p>We're online all weekdays from 9.30 a.m. to 6.00 p.m. (GMT + 1)</p>

                <br />
            </div>
        </div>
        <div class="block-sb-info" style="margin-top:52px;background-color:#d2d2d3;">
            <h3 style="color:white;">PRIVACY</h3>
            <div class="row" style="margin-left:30px;padding:20px;font-family: 'Quattrocento Sans',serif;">
                SpedBird.com respects your privacy.
                We do not sell your personal information to anyone. Please check our <a>Privacy Policy</a>
                <br />
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#disc-div").hide();
        $("#coup-click").click(function () {
            $("#disc-div").toggle();
        });
        CartID = [];
     
        $("#coupsub").click(function () {
            $("#disc-div").hide();

            $('#totAmt').html("");
            $('#coup-click').html("<p style='color:green'>*Coupon Successfully Applied</p>");

         

             

            $('#totAmt').load(
                '@Url.Action("SearchCoupon", "Cart")',
                {
                    dc: $("#dp2").val(),
                    tot: $("#Tot").val()
                }
            );
        });
    });
</script>