@model PagedList.IPagedList<Speedbird.PettyCash>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Petty Cash";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>
    </div>
    <div class="card-body">
        
        @using (Html.BeginForm("Index", "PettyCash", FormMethod.Get))
        {
            <div class="row d-print-none">
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;Date:</td>
                        <td> @Html.TextBox("dt", ViewBag.CurrentFilter as string, new {@type="date", @class = "form-control" })</td>
                        <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Manage","PettyCash")"><i class="fas fa-plus-circle fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        
        <table class="table">
            <tr>
                <th>Sr No</th>
                <th>
                   Date
                </th>
                 <th>
                     Name and Designation
                 </th>
                <th>
                    Cash to Declare at the Start
                </th>
                <th>
                    Details of Cash Expenses
                </th>
                <th>
                    Cash To Declare at the End
                </th>
                <th>
                    Remarks
                </th>
                <th></th>
                <th></th>
            </tr>
            @{int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @($"{item.Tdate:dd/MMM/yyyy}")

                    </td>
                    <td>
                        @item.NameAndDesg
                    </td>
                    <td>
                        @item.CashToDeclareStart
                    </td>
                    <td>
                        @item.DetailsOfCashExp
                    </td>
                    <td>
                        @item.CashToDeclareEnd
                    </td>
                    <td>
                        @item.Remarks
                    </td>
                    <td>
                        <a href="@Url.Action("Details","PettyCash", new {id = item.CashInHandRegID })"><i title="Details" class="fas fa-newspaper fa-inverse h3 float-right DropShadow"></i></a>

                    </td>
                    <td>
                        <a href="@Url.Action("Manage","PettyCash", new {id = item.CashInHandRegID })"><i title="Edit" class="fas fa-edit fa-inverse h3 float-right DropShadow"></i></a>
                    </td>
                </tr>
                i++;
            }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                  new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>



