


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Index","CarBike",new { sid= ViewBag.sid})"><i class="fas fa-undo-alt fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>

        @if (@ViewBag.CarBikeName != null)
        {
        <h1> @ViewBag.CarBikeName</h1>
        @Html.Hidden("CarBikeID", (int)ViewBag.CarBikeID)
        <div class="btn-group-lg" role="group" aria-label="Basic example">
            <button id="DetailsBtn" type="button" class="btn btn-secondary">Details</button>
            <button id="PriceBtn" type="button" class="btn btn-secondary">Price</button>
            <button id="ImgBtn" type="button" class="btn btn-secondary">Images</button>
            <button id="ValBtn" type="button" class="btn btn-secondary">Validity</button>
        </div>
        }
        else
        {
            ViewBag.CarBikeID = 0;
        }
       


        <hr />



        <div id="TabContent">
            @if (ViewBag.mode == 1)
            {@Html.Action("FetchDetails", "CarBike", new { id = (int)ViewBag.CarBikeID })}

            @if (ViewBag.mode == 2)
            {@Html.Action("Price", "CarBike", new { id = (int)ViewBag.CarBikeID, EID = (int)ViewBag.EID })}

            @if (ViewBag.mode == 3)
            {@Html.Action("CarPicture", "CarBike", new { id = (int)ViewBag.CarBikeID })}
        </div>
        <hr />
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        $('#DetailsBtn').click(function () {
            $('#TabContent').load(
                '@Url.Action("FetchDetails", new { id = (int)ViewBag.CarBikeID })'
            );
        });
        $('#PriceBtn').click(function () {
            var detFrm = $('#detFrm');

            //Save the details form if it exists else just move on.

                $.ajax({
                    type: 'post',
                    data: $(detFrm).serialize()
                }).done(function () {
                    $('#TabContent').load(
                        '@Url.Action("Price", new { id = (int)ViewBag.CarBikeID })'
                    );

                });


        });

        $('#ImgBtn').click(function () {
            var detFrm = $('#detFrm');
            if (typeof (detFrm[0]) == 'object') {

                $.ajax({
                    url: detFrm.action,
                    type: 'post',
                    data: $(detFrm).serialize()
                }).done(function () {
                    $('#TabContent').load(
                        '@Url.Action("CarPicture", new { id = (int)ViewBag.CarBikeID })'
                    );

                });

            } else {
                $('#TabContent').load(
                    '@Url.Action("CarPicture", new { id = (int)ViewBag.CarBikeID })'
                    );

            }
        });

          $('#ValBtn').click(function () {
            var detFrm = $('#detFrm');
            if (typeof (detFrm[0]) == 'object') {

                $.ajax({
                    url: detFrm.action,
                    type: 'post',
                    data: $(detFrm).serialize()
                }).done(function () {
                    $('#TabContent').load(
                        '@Url.Action("PVManage", new { id = (int)ViewBag.CarBikeID})'
                    );

                });

            } else {
                $('#TabContent').load(
                    '@Url.Action("PVManage", new { id = (int)ViewBag.CarBikeID })'
                    );

            }
        });


    });
</script>