<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - </title>
    <link rel="icon" href="~/Custom/BBS.ico">
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dtpic")
    @Styles.Render("~/SBBoss/Content/EAcss")

    


</head>
<body>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/jquerydtpicker")
    @Scripts.Render("~/fa5")



    <ul id="navHorz" class="nav justify-content-end small">
        <li class="nav-item">
            <i class="fas fa-user fa-inverse"></i><a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>



    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-sm-1">
                <ul class="nav flex-column small side-nav" id="navVert">
                    <li height="70px;"><br /><br /><br /><hr /></li>
                    <li class="nav-item">
                        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fas fa-magic fa-inverse"></i> Masters<i class="fas fa-angle-down float-right"></i></a>
                        <ul id="submenu-1" class="collapse">
                            <li><a href="~/SBBoss/Activity"><i class="fas fa-angle-double-right"></i>Activity</a></li>
                            <li><a href="~/SBBoss/Attraction"><i class="fas fa-angle-double-right"></i> Attraction</a></li>
                            <li><a href="~/SBBoss/GuideLanguage"><i class="fas fa-angle-double-right"></i> Guide Language</a></li>
                            <li><a href="~/SBBoss/Facility"><i class="fas fa-angle-double-right"></i> Facility</a></li>
                            <li><a href="~/SBBoss/Coupon"><i class="fas fa-angle-double-right"></i> Discount Coupons</a></li>
                            <li><a href="~/SBBoss/Cruise"><i class="fas fa-angle-double-right"></i> Cruise</a></li>
                            <li><a href="~/SBBoss/BookingStatus"><i class="fas fa-angle-double-right"></i> Booking Status</a></li>
                            <li><a href="~/SBBoss/Category"><i class="fas fa-angle-double-right"></i> Category</a></li>
                            <li><a href="~/SBBoss/OptionType"><i class="fas fa-angle-double-right"></i> Option Type</a></li>


                        </ul>
                    </li>
                    <li class="nav-item">
                        <i class="fas fa-user fa-inverse"></i><a class="nav-link active" href="~/SBBoss/Accomodation">Accomodation</a>
                    </li>
                    <li class="nav-item">
                        <i class="fas fa-user fa-inverse"></i><a class="nav-link active" href="~/SBBoss/Package">Package</a>
                    </li>
                    <li class="nav-item">
                        <i class="fas fa-magic fa-inverse" data-fa-transform="rotate-90"></i><a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="collapse" data-target="#submenu-1"><i class="fas fa-magic fa-inverse"></i> MENU 1 <i class="fas fa-angle-down float-right"></i></a>
                        <ul id="submenu-1" class="collapse">
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> SUBMENU 1.1</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> SUBMENU 1.2</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i> SUBMENU 1.3</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <i class="fas fa-sun fa-inverse"></i><a class="nav-link" href="#">Link</a>
                    </li>
                    <li>
                        <span class="fa-layers">
                            <i class="fas fa-envelope fa-inverse"></i><a class="nav-link" href="#">Link</a>
                            <span class="fa-layers-counter" style="background:Tomato">1,419</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-11" id="EAbody">



                @RenderBody()



            </div>
        </div>
    </div>


    <img src="/Areas/SBBoss/Custom/Logo.jpg" id="emblem" class="DropShadow zindex-tooltip" />


    
    <footer>
        <p class="text-center" style="margin-bottom:0px; line-height: 1.8rem; color:white"><span class="text-muted">&copy; @DateTime.Now.Year -</span> EEAAtech</p>
    </footer>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <script>
        $(function () {
            $(function () {
                $(".side-nav .collapse").on("hide.bs.collapse", function () {
                    $(this).prev().find(".float-right").removeClass("fa-angle-right").addClass("fa-angle-down");
                });
                $('.side-nav .collapse').on("show.bs.collapse", function () {
                    $(this).prev().find(".float-right").removeClass("fa-angle-down").addClass("fa-angle-right"); 
                });
            })


            //DateTime picker
            $('input[type=date]').datepicker({
                dateFormat: "dd-M-yy",
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            }).attr('type', 'text').attr('autocomplete', 'off');

            //Disable teh browsers default date picker
            jQuery.validator.methods["date"] = function (value, element) { return true; }


        });

        //autocomplete on any view without id
        //<input type="text" id="Item" name="Item" data-autocomplete-url="@@Url.Action("AutoComplete")" />
        //   $(document).ready(function () {
        //       $('*[data-autocomplete-url]')
        //           .each(function () {
        //               $(this).autocomplete({
        //                   source: $(this).data("autocomplete-url")
        //               });
        //           });
        //   });


        //Autocomplete on any view with id
        // @@Html.HiddenFor(model => model.CustomerID) //choose the ID field of your model
        // <input type="text" id="Customer" name="Customer" style="color:black;" data-autocomplete-idholder="#CustomerID" data-autocombo-url="@@Url.Action("AutoCompleteCusts")"  class="form-control" />  //for Create View
        // <input type="text"  value="@@Model.Customer.Name" id="Customer" name="Customer" style="color:black;" data-autocomplete-idholder="#CustomerID" data-autocombo-url="@@Url.Action("AutoCompleteCusts")" class="form-control" />  //for edit view
        //sample controller
        // public ActionResult AutoCompleteCusts(string term)
        //        {
        //            var filteredItems = db.Customers.Where(c => c.Name.Contains(term)).Select(c => new { id = c.CustomerID, value = c.Name });

        //           return Json(filteredItems, JsonRequestBehavior.AllowGet);
        //        }


        $(document).ready(function () {
            $('*[data-autocombo-url]')
                .each(function () {
                    $(this).autocomplete({
                        source: $(this).data("autocombo-url"),
                        minLenght: 3,
                        delay: 500,
                        select: function (event, ui) {
                            $($(this).data("autocomplete-idholder")).val(ui.item.id);
                        }
                    });
                });
        });

    </script>




</body>

</html>
