<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - </title>
    <link rel="icon" href="~/Custom/BBS.ico">
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dtpic")
    @Styles.Render("~/SBBoss/Content/EAcss")
    @Styles.Render("~/Content/fa5")
    
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/datatables.min.css" />


</head>
<body>

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/jquerydtpicker")
    <script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
    <script>
        $(function () {
            $.fn.select2.defaults.set("theme", "bootstrap");
        })
    </script>

    

    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-10" id="EAbody">
                @{Html.RenderAction("SRQueue","SR"); }
                @RenderBody()
            </div>
            <div class="col-sm-2">
                <ul class="nav flex-column small side-nav DropShadow" id="navVert">
                    <li height="70px;"><br /><br /><br /><hr /></li>
                    <li class="nav-item"><i class="fas fa-motorcycle fa-inverse"></i><a class="nav-link" href="~/SBBoss/SR/Manage">Enquiry</a></li>
                    <li class="nav-item">
                        <a href="#" data-toggle="collapse" data-target="#submenu-book"><span style="display:block; "><i class="fas fa-book-open" ></i> Bookings  <i class="float-right fas fa-angle-down"></i></span></a>
                        <ul id="submenu-book" class="collapse">
                            <li class="nav-item"><i class="fas fa-question-circle fa-inverse"></i></i><a class="nav-link" href="~/SBBoss/CustomerQuery">Customer Queries</a></li>
                            <li class="nav-item"><i class="fab fa-btc fa-inverse"></i><a class="nav-link" href="~/SBBoss/SR">Bookings</a></li>
                            <li class="nav-item"><i class="fas fa-calendar-alt fa-inverse"></i><a class="nav-link" href="~/SBBoss/SR/SRDiaryDets">Daily Diary</a></li>
                            <li class="nav-item"><i class="fas fa-newspaper fa-inverse"></i><a class="nav-link" href="~/SBBoss/MiceVisa/Mice">Mice</a></li>
                            <li class="nav-item"><i class="fas fa-calendar-alt fa-inverse"></i><a class="nav-link" href="~/SBBoss/Booking/Index">Web Bookings</a></li>
                            <li class="nav-item"><i class="fas fa-chart-line fa-inverse"></i><a class="nav-link" href="~/SBBoss/Review/Index">Reviews</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="collapse" data-target="#submenu-fin"><span style="display:block;"><i class="fas fa-dollar-sign fa-inverse"></i> Finance<i class="fas fa-angle-down float-right"></i></span></a>
                        <ul id="submenu-fin" class="collapse">
                            <li><i class="far fa-money-bill-alt fa-inverse"></i><a class="nav-link" href="~/SBBoss/Tax">Taxes</a></li>
                            <li><i class="fas fa-motorcycle fa-inverse"></i><a class="nav-link" href="~/SBBoss/Banks">Banks</a></li>
                            <li class="nav-item"><i class="fas fa-home fa-inverse"></i><a class="nav-link" href="~/SBBoss/PettyCash">Petty Cash</a></li>
                            <li class="nav-item"><i class="fab fa-readme fa-inverse"></i><a class="nav-link" href="~/SBBoss/RP/Reciept">Reciepts</a></li>
                            <li class="nav-item"><i class="fab fa-readme fa-inverse"></i><a class="nav-link" href="~/SBBoss/RP/DReciept?check=@((int)0)">Driver Reciepts</a></li>
                            <li class="nav-item"><i class="fab fa-readme fa-inverse"></i><a class="nav-link" href="~/SBBoss/RP/DReciept?check=@((int)1)">Driver Payments</a></li>

                            <li class="nav-item"><i class="fab fa-readme fa-inverse"></i><a class="nav-link" href="~/SBBoss/RP/Payment">Payments</a></li>


                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="collapse" data-target="#submenu-emp"><span style="display:block;"><i class="fas fa-male fa-inverse"></i> Employees<i class="fas fa-angle-down float-right"></i></span></a>
                        <ul id="submenu-emp" class="collapse">
                            <li class="nav-item"><i class="far fa-calendar-times"></i><a class="nav-link" href="~/SBBoss/LeaveApplication">Leave Application</a></li>
                            <li class="nav-item"><i class="fas fa-newspaper fa-inverse"></i><a class="nav-link" href="~/SBBoss/Log">Log Details</a></li>
                            <li class="nav-item"><i class="fab fa-avianex fa-inverse"></i><a class="nav-link" href="~/SBBoss/Holiday">Holidays</a></li>
                            <li class="nav-item"><i class="fas fa-align-center "></i><a class="nav-link" href="~/SBBoss/LeaveType">Leave Type</a></li>
                            <li class="nav-item"><i class="fab fa-black-tie "></i><a class="nav-link" href="~/SBBoss/LeaveEntitlement">Leave Entitlement</a></li>
                            <li class="nav-item"><i class="fas fa-calendar-check fa-inverse"></i><a class="nav-link" href="~/SBBoss/LeaveApplication/ConfirmOrCancel">Leave Approval</a></li>
                            <li class="nav-item"><i class="far fa-clock fa-inverse"></i><a class="nav-link" href="~/SBBoss/Log/BossIndex">Change Log</a></li>
                            <li><a href="~/SBBoss/ServiceCommision"><span style="display:block;"><i class="fab fa-cuttlefish"></i> Service Commision</span></a></li>
                            <li><a href="~/SBBoss/Group"><span style="display:block;"><i class="fas fa-code-branch"></i> Add Groups</span></a></li>

                            <li><a href="~/SBBoss/UserRights/AddFuncGroups"><span style="display:block;"><i class="fas fa-code-branch"></i> Add Function Groups</span></a></li>
                            <li><a href="~/SBBoss/UserRights/AddUserGroups"><span style="display:block;"><i class="fas fa-users"></i> Add User Groups</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="collapse" data-target="#submenu-serv"><span style="display:block;"><i class="fas fa-magic fa-inverse"></i> Services<i class="fas fa-angle-down float-right"></i></span></a>
                        <ul id="submenu-serv" class="collapse">
                            <li class="nav-item"><i class="fas fa-home fa-inverse"></i><a class="nav-link" href="~/SBBoss/Accomodation">Accomodation</a></li>
                            <li class="nav-item"><i class="fas fa-calendar-plus fa-inverse"></i><a class="nav-link " href="~/SBBoss/Package?sid=@((int)Speedbird.ServiceTypeEnum.Packages)">Package</a></li>
                            <li class="nav-item"><i class="fas fa-ship fa-inverse"></i><a class="nav-link " href="~/SBBoss/Package?sid=@((int)Speedbird.ServiceTypeEnum.Cruise)">Cruise</a></li>
                            <li class="nav-item"><i class="fas fa-bus fa-inverse"></i><a class="nav-link " href="~/SBBoss/Package?sid=@((int)Speedbird.ServiceTypeEnum.SightSeeing)">Sight Seeing</a></li>
                            <li class="nav-item"><i class="fas fa-motorcycle fa-inverse"></i><a class="nav-link" href="~/SBBoss/CarBike">Car/Bike</a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="collapse" data-target="#submenu-cont"><span style="display:block;"><i class="fas fa-cogs fa-inverse"></i> Setup<i class="fas fa-angle-down float-right"></i></span></a>
                        <ul id="submenu-cont" class="collapse">
                            <li class="nav-item"><i class="fas fa-taxi fa-inverse"></i><a class="nav-link" href="~/SBBoss/Driver"> Driver</a></li>
                            <li class="nav-item"><i class="fas fa-address-book fa-inverse"></i><a class="nav-link" href="~/SBBoss/Coupon/Agents"> Agent Discount</a></li>
                            <li class="nav-item"><i class="fas fa-address-book fa-inverse"></i><a class="nav-link" href="~/SBBoss/Agent"> Agents </a></li>

                            <li class="nav-item"><i class="far fa-user fa-inverse"></i><a class="nav-link" href="~/SBBoss/Supplier"> Supplier</a></li>
                            <li class="nav-item"><i class="fab fa-accusoft fa-inverse"></i><a class="nav-link" href="~/SBBoss/Coupon"> Coupons</a></li>
                            <li class="nav-item"><i class="fab fa-cc-visa fa-inverse"></i><a class="nav-link" href="~/SBBoss/MiceVisa/Visa"> Visa</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="collapse" data-target="#submenu-1"><span style="display:block;"><i class="fab fa-monero fa-inverse"></i> Masters<i class="fas fa-angle-down float-right"></i></span></a>
                        <ul id="submenu-1" class="collapse">
                            <li><a href="~/SBBoss/GeoTree"><span style="display:block;"><i class="fas fa-angle-double-right"></i> GeoTree</span></a></li>
                            <li><a href="~/SBBoss/Questions"><span style="display:block;"><i class="fas fa-angle-double-right"></i> Questions</span></a></li>
                            <li><a href="~/SBBoss/Activity"><span style="display:block;"><i class="fas fa-angle-double-right"></i> Activity</span></a></li>
                            <li><a href="~/SBBoss/Attraction"><span style="display:block;"><i class="fas fa-angle-double-right"></i> Attraction</span></a></li>
                            <li><a href="~/SBBoss/Attribute"><span style="display:block;"><i class="fas fa-angle-double-right"></i> Attribute</span></a></li>
                            <li><a href="~/SBBoss/GuideLanguage"><span style="display:block;"><i class="fas fa-angle-double-right"></i> Guide Language</span></a></li>
                            <li><a href="~/SBBoss/Facility"><span style="display:block;"><i class="fas fa-angle-double-right"></i> Facility</span></a></li>
                            <li><a href="~/SBBoss/BookingStatus"><span style="display:block;"><i class="fas fa-angle-double-right"></i> Booking Status</span></a></li>
                            <li><a href="~/SBBoss/Category"><span style="display:block;"><i class="fas fa-angle-double-right"></i> Category</span></a></li>
                            <li><a href="~/SBBoss/OptionType"><span style="display:block;"><i class="fas fa-angle-double-right"></i> Option Type</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" data-toggle="collapse" data-target="#submenu-own"><span style="display:block;"><i class="fas fa-home fa-inverse"></i> Assets<i class="fas fa-angle-down float-right"></i></span></a>
                        <ul id="submenu-own" class="collapse">
                            <li class="nav-item"><i class="fas fa-align-justify fa-inverse"></i><a class="nav-link" href="~/SBBoss/AssetBill">Bills</a></li>
                            <li class="nav-item"><i class="fas fa-car fa-inverse"></i><a class="nav-link" href="~/SBBoss/Trip">Car Trip Details</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <ul id="navHorz" class="nav small">
        <li class="nav-item">
            <i class="fas fa-user fa-inverse"></i>
        </li>
        @Html.Partial("_LoginPartial")
    </ul>
    <a href="/SBBoss/Admin"><img src="/Areas/SBBoss/Custom/Logo.jpg" id="emblem" class="zindex-tooltip" /></a>
    <div class="EAfoot">
        <p class="text-center" style="margin-bottom:0px; line-height: 1.8rem; color:white"><span class="text-muted">&copy; @DateTime.Now.Year -</span> EEAAtech</p>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <script>
        $(function () {

            $(".side-nav .collapse").on("hide.bs.collapse", function () {
                $(this).prev().find(".float-right").removeClass("fa-angle-right").addClass("fa-angle-down");
            });
            $('.side-nav .collapse').on("show.bs.collapse", function () {
                $(this).prev().find(".float-right").removeClass("fa-angle-down").addClass("fa-angle-right");
            });



            //DateTime picker
            $('input[type=date]').datepicker({
                dateFormat: "dd-M-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true,
            timeFormat: "hh:mm"

        }).attr('type', 'text').attr('autocomplete', 'off');

            //Disable the browsers default date picker
            jQuery.validator.methods["date"] = function (value, element) { return true; }
        });

        $('.eadatetime').datetimepicker({
            dateFormat: "dd-MM-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true,
            timeFormat: "hh:mm"

        });
        $('.eadate').datepicker({
            dateFormat: "dd-MM-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true,
          

        });

        //GeoSelector
         $(document).ready(function () {
                function formatState(state) {
                    if (!state.id) {
                        return state.text;
                    }
                    var parts = state.text.split(",");
                    return parts[0];

                };



                $(".GeoSelect").select2({
                    placeholder: "Type 3 letters to choose",
                    minimumInputLength: 3,
                    templateSelection: formatState,

                    ajax: {
                        url: '@(Url.Action("GetLocations", "GeoTree"))',
                        dataType: 'json',
                        quietMillis: 250,
                        results: function (data, page) {
                            return { results: data.data };
                        }
                    }
                });


         });

        //autocomplete on any view without id
        //<input type="text" id="Item" name="Item" data-autocomplete-url="@@Url.Action("AutoComplete")" />
        //   $(document).ready(function () {
        //       $('*[data-autocomplete-url]')
        //           .each(function () {
        //               $(this).autocomplete({
        //                   source: $(this).data("autocomplete-url")
        //               });
        //           });
        //   });


        //Autocomplete on any view with id
        // @@Html.HiddenFor(model => model.CustomerID) //choose the ID field of your model
        // <input type="text" id="Customer" name="Customer" style="color:black;" data-autocomplete-idholder="#CustomerID" data-autocombo-url="@@Url.Action("AutoCompleteCusts")"  class="form-control" />  //for Create View
        // <input type="text"  value="@@Model.Customer.Name" id="Customer" name="Customer" style="color:black;" data-autocomplete-idholder="#CustomerID" data-autocombo-url="@@Url.Action("AutoCompleteCusts")" class="form-control" />  //for edit view
        //sample controller
        // public ActionResult AutoCompleteCusts(string term)
        //        {
        //            var filteredItems = db.Customers.Where(c => c.Name.Contains(term)).Select(c => new { id = c.CustomerID, value = c.Name });

        //           return Json(filteredItems, JsonRequestBehavior.AllowGet);
        //        }


        $(document).ready(function () {
            $('*[data-autocombo-url]')
                .each(function () {
                    $(this).autocomplete({
                        source: $(this).data("autocombo-url"),
                        minLenght: 3,
                        delay: 500,
                        select: function (event, ui) {
                            $($(this).data("autocomplete-idholder")).val(ui.item.id);
                        }
                    });
                });
        });

    </script>




</body>

</html>
