<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - </title>
    <link rel="icon" href="~/Custom/BBS.ico">
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dtpic")
    @Styles.Render("~/SBBoss/Content/EAcss")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/datatables.min.css" />


</head>
<body>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/jquerydtpicker")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>

    <div class="container-fluid">
        <div class="col-12" id="EAbody">
            @{Html.RenderAction("SRQueue", "SR"); }
            @RenderBody()
        </div>
        <ul id="navHorz" class="nav small">
            <li class="nav-item">
                <a href="~/sbboss/Admin"><i class="fas fa-home mr-5"></i></a>
            </li>


            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", new { @area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("ReturnUrl", (string)ViewBag.ReturnUrl)
            <ul class="nav mr-3">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage", routeValues: new { @area = "" }, htmlAttributes: new { title = "Manage" })</li>
                        @*<li>@Html.ActionLink("Password Reset", "ForgotPassword", "Account")</li>*@
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Users
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a href="~/SBBoss/Group/Index">User Groups</a></li>
                        <li><a href="~/SBBoss/UserRights/AddUserGroups">Add Users To Groups</a></li>
                        <li><a href="~/SBBoss/UserRights/AddFuncGroups">Add Functions To Groups</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bookings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <li><a href="~/SBBoss/SR/Manage?DirectBF=true">Direct Book</a></li>
                        <li><a href="~/SBBoss/SR">Folder Search</a></li>
                        <li><a href="~/SBBoss/SR/Manage">Enquiry</a></li>
                        <li><a href="~/SBBoss/CustomerQuery">Customer Queries</a></li>
                        <li><a href="~/SBBoss/SR/SRDiaryDets">Daily Diary</a></li>
                        <li><a href="~/SBBoss/MiceVisa/Mice">Mice</a></li>
                        <li><a href="~/SBBoss/Booking/Index">Web Bookings</a></li>
                        <li><a href="~/SBBoss/Review/Index">Reviews</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Finance
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <li><a href="~/SBBoss/Tax">Taxes</a></li>
                        <li><a href="~/SBBoss/Banks">Banks</a></li>
                        <li> <a href="~/SBBoss/PettyCash">Petty Cash</a></li>
                        <li> <a href="~/SBBoss/FinanceInfo?mode=0">Settled Driver</a></li>
                        <li> <a href="~/SBBoss/FinanceInfo?mode=1">Settled Supplier</a></li>
                        <li> <a href="~/SBBoss/FinanceInfo?mode=2">Settled Agent</a></li>
                         <li> <a href="~/SBBoss/FinanceInfo?mode=3">Settled Walkins</a></li>
                        @*<li> <a href="~/SBBoss/RP/Reciept">Recieve from Agent</a></li>
        <li> <a href="~/SBBoss/RP/Payment">Pay Supplier</a></li>
        <li> <a href="~/SBBoss/RP/DReciept?check=@((int)0)">Recieve from Driver</a></li>
        <li> <a href="~/SBBoss/RP/DReciept?check=@((int)1)">Pay Driver</a></li>*@
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Employees
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <li><a href="~/SBBoss/LeaveApplication">Leave Application</a></li>
                        <li><a href="~/SBBoss/Log/">Log Details</a></li>
                        <li><a href="~/SBBoss/Holiday">Holidays</a></li>
                        <li><a href="~/SBBoss/LeaveType">Leave Type</a></li>
                        <li><a href="~/SBBoss/LeaveEntitlement">Leave Entitlement</a></li>
                        <li><a href="~/SBBoss/LeaveApplication/ConfirmOrCancel">Leave Approval</a></li>
                        <li><a href="~/SBBoss/Log/BossIndex">Change Log</a></li>
                        <li><a href="~/SBBoss/ServiceCommision">Service Commision</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <li><a href="~/SBBoss/Accomodation">Accomodation</a></li>
                        <li><a href="~/SBBoss/Package?sid=@((int)Speedbird.ServiceTypeEnum.Packages)">Package</a></li>
                        <li><a href="~/SBBoss/Package?sid=@((int)Speedbird.ServiceTypeEnum.Cruise)">Cruise</a></li>
                        <li><a href="~/SBBoss/Package?sid=@((int)Speedbird.ServiceTypeEnum.SightSeeing)">Sight Seeing</a></li>
                        <li><a href="~/SBBoss/CarBike">Car/Bike</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Setup
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <li><a href="~/SBBoss/Driver"> Driver</a></li>
                        <li><a href="~/SBBoss/Agent"> Agents </a></li>
                        <li><a href="~/SBBoss/Coupon/Agents"> Agent Discount</a></li>
                        <li><a href="~/SBBoss/Supplier"> Supplier</a></li>
                        <li><a href="~/SBBoss/Coupon"> Coupons</a></li>
                        <li><a href="~/SBBoss/MiceVisa/Visa"> Visa</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        @*<li><a href="~/Config/Manage/1">Configuration</a></li>*@
                        <li><a href="~/SBBoss/GeoTree"> GeoTree</a></li>
                        <li><a href="~/SBBoss/Questions"> Questions</a></li>
                        <li><a href="~/SBBoss/Activity"> Activity</a></li>
                        <li><a href="~/SBBoss/Attraction"> Attraction</a></li>
                        <li><a href="~/SBBoss/Attribute">Attribute</a></li>
                        <li><a href="~/SBBoss/GuideLanguage"> Guide Language</a></li>
                        <li><a href="~/SBBoss/Facility">Facility</a></li>
                        <li><a href="~/SBBoss/BookingStatus"> Booking Status</a></li>
                        <li><a href="~/SBBoss/Category"> Category</a></li>
                        <li><a href="~/SBBoss/OptionType">Option Type</a></li>
                        <li><a href="~/SBBoss/LeaveType">Leave Type</a></li>
                        <li><a href="~/SBBoss/Config">Payment Configuration</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Assets
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <li> <a class="nav-link" href="~/SBBoss/AssetBill">Bills</a></li>
                        <li> <a class="nav-link" href="~/SBBoss/Trip">Car Trip Details</a></li>
                        <li> <a class="nav-link" href="~/SBBoss/OwnedAsset">Owned Assets</a></li>
                    </ul>
                </li>
                @*<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reports
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <li><a href="~/SBBoss/Employee">Commisions</a></li>
                        
                    </ul>
                </li>*@
            </ul>
                }

            }
            else
            {
                <li class="nav-item  mr-1">@Html.ActionLink("Log in", "Login", "Account", routeValues: new { @area = "" }, htmlAttributes: new { id = "loginLink" })</li>
            }

        </ul>
        <div class="EAfoot">
            <p class="text-center" style="margin-bottom:0px; line-height: 1.8rem; color:white"><span class="text-muted">&copy; @DateTime.Now.Year -</span>EEAATech</p>
        </div>
    </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
    <script>
        $(function () {
            $.fn.select2.defaults.set("theme", "bootstrap");
        })
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <script>
        $(function () {

            $(".side-nav .collapse").on("hide.bs.collapse", function () {
                $(this).prev().find(".float-right").removeClass("fa-angle-right").addClass("fa-angle-down");
            });
            $('.side-nav .collapse').on("show.bs.collapse", function () {
                $(this).prev().find(".float-right").removeClass("fa-angle-down").addClass("fa-angle-right");
            });



            //DateTime picker
            $('input[type=date]').datepicker({
                dateFormat: "dd-M-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true,
            timeFormat: "HH:mm"

        }).attr('type', 'text').attr('autocomplete', 'off');

            //Disable the browsers default date picker
            //jQuery.validator.methods["date"] = function (value, element) { return true; }
        });

        $('.eadatetime').datetimepicker({
            dateFormat: "dd-MM-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true,
            timeFormat: "HH:mm"

        });
        $('.eadate').datepicker({
            dateFormat: "dd-MM-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true
        });

        //GeoSelector
         $(document).ready(function () {
                function formatState(state) {
                    if (!state.id) {
                        return state.text;
                    }
                    var parts = state.text.split(",");
                    return parts[0];

                };



                $(".GeoSelect").select2({
                    placeholder: "Type 3 letters to choose",
                    minimumInputLength: 3,
                    templateSelection: formatState,

                    ajax: {
                        url: '@(Url.Action("GetLocations", "GeoTree"))',
                        dataType: 'json',
                        quietMillis: 250,
                        results: function (data, page) {
                            return { results: data.data };
                        }
                    }
                });


         });

        //autocomplete on any view without id
        //<input type="text" id="Item" name="Item" data-autocomplete-url="@@Url.Action("AutoComplete")" />
        //   $(document).ready(function () {
        //       $('*[data-autocomplete-url]')
        //           .each(function () {
        //               $(this).autocomplete({
        //                   source: $(this).data("autocomplete-url")
        //               });
        //           });
        //   });


        //Autocomplete on any view with id
        // @@Html.HiddenFor(model => model.CustomerID) //choose the ID field of your model
        // <input type="text" id="Customer" name="Customer" style="color:black;" data-autocomplete-idholder="#CustomerID" data-autocombo-url="@@Url.Action("AutoCompleteCusts")"  class="form-control" />  //for Create View
        // <input type="text"  value="@@Model.Customer.Name" id="Customer" name="Customer" style="color:black;" data-autocomplete-idholder="#CustomerID" data-autocombo-url="@@Url.Action("AutoCompleteCusts")" class="form-control" />  //for edit view
        //sample controller
        // public ActionResult AutoCompleteCusts(string term)
        //        {
        //            var filteredItems = db.Customers.Where(c => c.Name.Contains(term)).Select(c => new { id = c.CustomerID, value = c.Name });

        //           return Json(filteredItems, JsonRequestBehavior.AllowGet);
        //        }


        $(document).ready(function () {
            $('*[data-autocombo-url]')
                .each(function () {
                    $(this).autocomplete({
                        source: $(this).data("autocombo-url"),
                        minLenght: 3,
                        delay: 500,
                        select: function (event, ui) {
                            $($(this).data("autocomplete-idholder")).val(ui.item.id);
                        }
                    });
                });
        });

    </script>




</body>

</html>
