<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - </title>
    <link rel="icon" href="~/Custom/BBS.ico">
    @*@Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/AdminCss")
        @Styles.Render("~/Content/dtpic")*@

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/EAadmin.css" >
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>

    @*@Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/jquerydtpicker")*@


    <ul id="navHorz" class="nav justify-content-end small">
        <li class="nav-item">
            <i class="fas fa-user fa-inverse"></i><a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>



    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-sm-1">
                <ul class="nav flex-column small" id="navVert">
                    <li height="70px;"><br /><br /><br /><hr /></li>
                    <li class="nav-item">
                        <i class="fas fa-user fa-inverse"></i><a class="nav-link active" href="#">Active</a>
                    </li>
                    <li class="nav-item">
                        <i class="fab fa-github-square fa-lg fa-inverse"></i><a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <i class="fas fa-magic fa-inverse" data-fa-transform="rotate-90"></i><a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <i class="fas fa-sun "></i><a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    <li>
                        <span class="fa-layers fa-fw">
                            <i class="fas fa-envelope fa-inverse"></i>
                            <span class="fa-layers-counter" style="background:Tomato">1,419</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-11" id="EAbody">



                @RenderBody()


                <img src="/Areas/SBBoss/Custom/Logo.jpg" id="emblem" class="DropShadow" />
            </div>
        </div>
    </div>





    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - EEAAtech</p>
    </footer>


    @*@Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




</body>

</html>
