<style>
    header{
        background-color:cornflowerblue;
        height:30px;
        width:100%;
    }
    .card {
        padding: 0 !important;
        background-color: rgba(215, 209, 209, 0.00);
    }
  
</style>


<div class="container-fluid ">
    <div class="row">
        <div class="col card">
            <div class="card-header">
                <header>
                    <center><b>Service Requests</b></center>
                </header>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Service</th>
                    <th>Enquiry Source</th>
                </tr>
                @foreach (var item in (IEnumerable<Speedbird.ServiceRequestDets>)ViewBag.OpenSR)
                {
                <tr>
                    <td>  @($"{item.TDate:dd/MMM/yyyy}")</td>
                    <td>@item.FName&nbsp;@item.SName</td>
                    <td>@((Speedbird.ServiceTypeEnum)item.ServiceTypeID) </td>
                    <td>@((Speedbird.EnquirySourceEnum)item.EnquirySource) </td>
                </tr>             
                }
            </table>
        </div>
        <div class="col card">
            <div class="card-header">
                <header><center><b>Commisions</b></center> </header>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Service Request No</th>
                    <th>Total Sell Cost</th>
                    <th>Commsion</th>
                    
                </tr>
                @foreach (var item in ViewBag.Services)
                  {
                    <tr>              
                        <td>@item.SRID</td>
                        <td>@item.SellPrice </td>
                        <td>@item.Total</td>
                    </tr>
                  }
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col card">
            <div class="card-header">
                <header> <center><b>Attendance</b></center></header>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Date</th>
                    <th>Log In</th>
                    <th>Log Out</th>
                   
                </tr>
                @foreach (var item in (IEnumerable<Speedbird.UserLogRecDets>)ViewBag.UserLogs)
                {
                <tr>
                    <td>  @($"{item.LogIn:dd/MMM/yyyy}")</td>
                    <td>  @($"{item.LogIn:HH:MM}")</td>
                    <td>  @($"{item.LogOut:HH:MM}")</td>
                </tr>
                }
            </table>
        </div>
        <div class="col card">
            <div class="card-header">
                <header><center><b>Leave Applications</b></center> </header>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Application Date</th>
                    <th>Leave Start Date</th>
                    <th>Leave Type</th>
                    <th>No Of Days</th>

                </tr>
                @foreach (var item in (IEnumerable<Speedbird.LeaveApplicationDets>)ViewBag.LvApp)
                {
                <tr>
                    <td>  @($"{item.ApplicationDate:dd/MMM/yyyy}")</td>
                    <td>  @($"{item.LeaveStartDate:dd/MMM/yyyy}")</td>
                    <td>  @item.LeaveTypeName</td>
                    <td>  @item.NoOfDays</td>
                </tr>
                }
            </table>
        </div>

    </div>
</div>


<br /><br />
<div class="alert alert-info" role="alert">
    <h1 class="alert-heading">Spectacular Speedbird !</h1>
    <p>Welcome! This is the Office section of the Spectacular Speedbird web tool.</p>
    <hr>
    <p class="mb-0">We hope you enjoy using it as much as we have enjoyed making it for you.</p>
    <br />
    <address>
        <strong>EEAAtech</strong><br>
        c/o: Erryl Alvares<br>
        Miramar<br>
        <abbr title="Phone">P:</abbr> 9923379793
    </address>
</div>
