@model PagedList.IPagedList<Speedbird.ServiceCommision>

@using PagedList.Mvc;
@{

    ViewBag.Title = "Employee Commisions";

}



<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>        

    </div>
    <div class="card-body">
        
        <table class="table">
            <tr>
                
                <th>
                    ServiceType Name
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Percentage(%)
                </th>
                <th></th>
            </tr>
            
            @foreach (var item in Model)
            {
            <tr>
            
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perc)
                </td>
                <td>
                    <a href="@Url.Action("Manage","ServiceCommision", new {id = item.ServiceID })"><i title="Edit" class="fas fa-edit fa-inverse h3 float-right DropShadow"></i></a>
                </td>
            </tr>
            
            }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                  new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>



