@model PagedList.IPagedList<ItemsVw>
@using PagedList.Mvc;
@{
    ViewBag.Title = "List of " + ViewBag.IteName ;
}

<center>
    <h2 class="section-to-print"><b>@ViewBag.Title</b></h2>
    
    @using (Html.BeginForm("Index", "Items", FormMethod.Get))
    {        
        <div class="row section-to-Not-print">
            <div>
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp; @ViewBag.IteName Name:</td>
                        <td> @Html.TextBox("PropName", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>

                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>
            </div>
        </div>
    }
</center>

<p>
    @Html.ActionLink("Create New", "Manage", new { Ite = ViewBag.ite })
</p>
<table class="table">
    <tr>
        <th>
            Item Name
        </th>
       <th>Type</th>
        <th>Expiry Days</th>
        <th>Unit</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>

        <td>
            @Html.ActionLink("Edit", "Manage", new { id = item.ItemId })
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
