@model Speedbird.Package

@{
    ViewBag.Title = $"Manage Category";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5"> Details</span>
        <a href="@Url.Action("Manage","Package",new {id=ViewBag.Pack.PackageID,sid=(int)ViewBag.Pack.ServiceTypeID})"><i class="fas fa-undo-alt fa-inverse h3 float-right DropShadow"></i></a>

    </div>
    <div class="card-body">
        
<table class="table section-to-print " width="70%">
            <tr>
                @if (ViewBag.Pack.ServiceTypeID == 1)
                {
                <td>Package Name</td>
                }
                else if (ViewBag.Pack.ServiceTypeID == 2)
                {
                <td>Cruise Name</td>
                }
                else if (ViewBag.Pack.ServiceTypeID == 3)
                {
                <td>Sight Seeing</td>
                }
                <td>@ViewBag.Pack.PackageName</td>
            </tr>

            <tr>
                <td>Duration</td>
                <td>@ViewBag.Pack.Duration</td>
            </tr>
              @if (ViewBag.Pack.ServiceTypeID == 1)
                {
                 <tr>
                <td>Group Size</td>
                <td>@ViewBag.Pack.GroupSize</td>
            </tr>
                }
          

        </table> 
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
    </div>
    <div class="card-body">
        
        <div class="section-to-Not-print">
       @using (Html.BeginForm("CatManage", "Package", FormMethod.Post))
       {
            @Html.AntiForgeryToken()

            <div class="form-horizontal ">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                  @Html.Hidden("id", (int)ViewBag.Pack.PackageID)
       
                <div class="form-group">
                    @Html.Label("Category", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("CategoryID", null, new { @class = "form-control" } )
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
    }
        </div>
       <br />
        

        <hr />
        <table class="table section-to-print index-css" width="100%">
            <tr>
                <th>Category Name</th>
                

                <th class="section-to-Not-print"></th>
            </tr>
        @foreach(var item in(IEnumerable<Speedbird.CategoryDets>)ViewBag.Category)
        {
            <tr>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    <a href="@Url.Action("Delete","Package",new {PackID = Model.PackageID ,CatID= item.CategoryID
                        })">Delete</a>
                </td>
            </tr>
        }
          
        </table>
   
   
    </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
