@model Speedbird.Package

@using (Html.BeginForm("Manage", "Package", FormMethod.Post,new { id="detFrm"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("ServiceTypeID", (int)ViewBag.sid)

    if (Model?.PackageID > 0)
    { @Html.HiddenFor(model => model.PackageID) }

<div class="form-row">
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Name</span></div>
        @Html.EditorFor(model => model.PackageName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PackageName, "", new { @class = "text-danger" })
    </div>
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Duration</span></div>
        @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
    </div>
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Coupon Code</span></div>
        @Html.EditorFor(model => model.CouponCode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CouponCode, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Difficutly</span></div>
        @Html.EditorFor(model => model.Dificulty, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Dificulty, "", new { @class = "text-danger" })
    </div>
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Group size</span></div>
        @Html.EditorFor(model => model.GroupSize, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.GroupSize, "", new { @class = "text-danger" })
    </div>
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Stops at</span></div>
        <select id="GeoTreeID" name="GeoTreeID" class="GeoSelect form-control" multiple="multiple">
            @foreach (var o in ViewBag.GeoId)
            {
                <option value="@o.Value" selected="selected">@o.Text</option>
            }
        </select>
    </div>
</div>

<div class="form-row">
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Itinerary</span></div>
        <div class="form-control" style="padding:0px !important">@Html.TextAreaFor(model => model.Itinerary, 3, 43, htmlAttributes: new { @class = "form-control" })</div>
        @Html.ValidationMessageFor(model => model.Itinerary, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-row">
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Description</span></div>
        <div class="form-control" style="padding:0px !important">@Html.TextAreaFor(model => model.Description, 3, 43, htmlAttributes: new { @class = "form-control" })</div>
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-row">
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Highlights</span></div>
        <div class="form-control" style="padding:0px !important">@Html.TextAreaFor(model => model.Highlights, 3, 43, htmlAttributes: new { @class = "form-control" })</div>
        @Html.ValidationMessageFor(model => model.Highlights, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-row">
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Start Time</span></div>
        <div class="form-control" style="padding:0px !important">@Html.TextAreaFor(model => model.StartTime, 3, 43, htmlAttributes: new { @class = "form-control" })</div>
        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-row">
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Inclusions</span></div>
        <div class="form-control" style="padding:0px !important">@Html.TextAreaFor(model => model.Inclusion, 3, 43, htmlAttributes: new { @class = "form-control" })</div>
        @Html.ValidationMessageFor(model => model.Inclusion, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-row">
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Exclusions</span></div>
        <div class="form-control" style="padding:0px !important">
            @Html.TextAreaFor(model => model.Exclusion, 3, 43, htmlAttributes: new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(model => model.Exclusion, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Activities</span></div>
        <select id="ActID" name="ActID" class="form-control sel2Lkup" data-setu="ActSave" data-geturl="GetAct" multiple="multiple">
            @foreach (var o in ViewBag.Acts)
            {
                <option value="@o.Value" selected="selected">@o.Text</option>}
        </select>
    </div>
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Categories</span></div>
        <select id="CatID" name="CatID" class="form-control sel2Lkup" data-setu="CatSave" multiple="multiple">
            @foreach (var o in ViewBag.Cats)
            {
                <option value="@o.Value" selected="selected">@o.Text</option>}
        </select>
    </div>
</div>

<div class="form-row">
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Languages</span></div>
        <select id="LanID" name="LanID" class="form-control sel2Lkup" data-setu="LanSave" multiple="multiple">
            @foreach (var o in ViewBag.Lang)
            {
                <option value="@o.Value" selected="selected">@o.Text</option>}
        </select>
    </div>
    <div class="input-group col mb-3">
        <div class="input-group-prepend"><span class="input-group-text">Attractions</span></div>
        <select id="AttID" name="AttID" class="form-control sel2Lkup" data-setu="AttSave" multiple="multiple">
            @foreach (var o in ViewBag.Atts)
            {
                <option value="@o.Value" selected="selected">@o.Text</option>}
        </select>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</div>
}

<script>
    $(function(){
        //Activities
        $("#ActID").select2({
            placeholder: "Type 3 letters to choose",
            minimumInputLength: 3,

            ajax: {
                url: '@(Url.Action("GetAct", "Package"))',
                dataType: 'json',
                quietMillis: 250,
                results: function (data, page) {
                    return { results: data.data };
                }
            }
        });


        //Categories
        $("#CatID").select2({
            placeholder: "Type 3 letters to choose",
            minimumInputLength: 3,

            ajax: {
                url: '@(Url.Action("GetCat", "Package"))',
                dataType: 'json',
                quietMillis: 250,
                results: function (data, page) {
                    return { results: data.data };
                }
            }
        });

         //Attractions
        $("#AttID").select2({
            placeholder: "Type 3 letters to choose",
            minimumInputLength: 3,

            ajax: {
                url: '@(Url.Action("GetAtt", "Package"))',
                dataType: 'json',
                quietMillis: 250,
                results: function (data, page) {
                    return { results: data.data };
                }
            }
        });

        //Language
        $("#LanID").select2({
            placeholder: "Type 3 letters to choose",
            minimumInputLength: 3,

            ajax: {
                url: '@(Url.Action("GetLan", "Package"))',
                dataType: 'json',
                quietMillis: 250,
                results: function (data, page) {
                    return { results: data.data };
                }
            }
        });

        //Save Select2 data
        $(".sel2Lkup").on('change', function (e) {
            $.post('/SBBoss/Package/' + $(this).data('setu'), { PackageId: $('#PackageID').val(), ActIds: $(this).val() })
        });


        $("textarea").jqte();
    });

    //GeoSelector
         $(document).ready(function () {
                function formatState(state) {
                    if (!state.id) {
                        return state.text;
                    }
                    var parts = state.text.split(",");
                    return parts[0];

                };



                $(".GeoSelect").select2({
                    placeholder: "Type 3 letters to choose",
                    minimumInputLength: 3,
                    templateSelection: formatState,

                    ajax: {
                        url: '@(Url.Action("GetLocations", "GeoTree"))',
                        dataType: 'json',
                        quietMillis: 250,
                        results: function (data, page) {
                            return { results: data.data };
                        }
                    }
                });


         });
</script>