@model PagedList.IPagedList<Speedbird.PackageDets>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Packages";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>        
    </div>
    <div class="card-body">
        <h5 class="card-title">&nbsp;</h5>
        @using (Html.BeginForm("Index", "Package", FormMethod.Get))
        {
            <div class="row d-print-none">                
                    <table>
                        <tr style="text-align:center">
                            <td>&nbsp;Package Name:</td>
                            <td> @Html.TextBox("AN", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>
                            <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                        </tr>
                    </table>
                
            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Manage","Package",new {sid= ViewBag.sid})"><i class="fas fa-plus-circle fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>
        <table class="table">
            <tr>
                <th>Sr No</th>
                <th>
                    @if(ViewBag.sid == 1)
                    {
                        @:Package Name
                    }
                    @if(ViewBag.sid == 2)
                    {
                        @:Cruise Name
                    }
                     @if(ViewBag.sid == 3)
                    {
                        @:Sight Seeing
                    }
                    
                </th>
                <th>
                    Description
                </th>
                <th>
                    Duration
                </th>
                <th>
                    Itinerary
                </th>
                <th>
                    @if(ViewBag.sid == 2)
                    {
                        @:Star Rating
                    }
                    else
                    {
                        @:Dificulty
                    }
                    
                </th>
                @if (ViewBag.sid == 1 && ViewBag.sid == 3)
                {
                <th>
                    GroupSize
                </th>
                <th>
                    Guide Langugae
                </th>
                <th>
                    Start Time
                </th>
                <th>
                    Inclusion
                </th>
                <th>
                    Exclusion
                </th>
                }
                    
                <th></th>
            </tr>
            @{int i = 1;}
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Itinerary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dificulty)
                </td>
                @if (ViewBag.sid == 1 && ViewBag.sid == 3)
                {

                <td>
                    @Html.DisplayFor(modelItem => item.GroupSize)
                </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GuideLanguageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inclusion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Exclusion)
                    </td>
                }
                <td>
                    <a href="@Url.Action("Manage","Package", new {id = item.PackageID })"><i title="Edit" class="fas fa-edit fa-inverse h3 float-right DropShadow"></i></a>
                </td>
            </tr>
                i++;
             }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>




