@model PagedList.IPagedList<Speedbird.PackageDets>
@using PagedList.Mvc;

//For datatables
<link rel="stylesheet" type="text/css" href="/Content/datatables.min.css" />
<script type="text/javascript" src="/Scripts/datatables.min.js"></script>
<style>
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }
</style>
<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">&nbsp;</h5>
        @using (Html.BeginForm("Index", "Package", FormMethod.Get))
        {
            <div class="row d-print-none">
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;Name:</td>
                        <td> @Html.TextBox("AN", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>
                        <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Manage","Package",new {sid= ViewBag.sid})"><i class="fas fa-plus-circle fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>
        
        <table id="PkgTbl" class="table table-sm table-striped">
            <thead class="thead-light">
                <tr role="row">
                    <th><input type="text" class="form-control" placeholder="Filter Number"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Name"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Locations"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Duration"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Categories"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Suppliers"></th>
                    <th><input type="text" class="form-control" placeholder="Filter Supplier Contracts"></th>
                </tr>
                <tr role="row">
                    <th scope="col">Auto No.</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="no-sort">Locations</th>
                    <th scope="col">Duration</th>
                    <th scope="col" class="no-sort">Categories</th>
                    <th scope="col" class="no-sort">Suppliers</th>
                    <th scope="col" class="no-sort">Sup.Cont. No.</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        
        
        
        <hr/>
        <table class="table">
            <tr>
                <th>Sr No</th>
                <th>
                    @if (ViewBag.sid == 1)
                    {
                        @:Package Name
                    }
                    @if (ViewBag.sid == 2)
                    {
                        @:Cruise Name
                    }
                    @if (ViewBag.sid == 3)
                    {
                        @:Sight Seeing
                    }

                </th>
                <th>
                    Description
                </th>
                <th>
                    Duration
                </th>
                <th>
                    Itinerary
                </th>
                <th>
                    @if (ViewBag.sid == 2)
                    {
                        @:Star Rating
                    }
                    else
                    {
                        @:Dificulty
                    }

                </th>
                @if (ViewBag.sid == 1 && ViewBag.sid == 3)
                {
                    <th>
                        GroupSize
                    </th>
                    <th>
                        Guide Langugae
                    </th>
                    <th>
                        Start Time
                    </th>
                    <th>
                        Inclusion
                    </th>
                    <th>
                        Exclusion
                    </th>
                }
                <th>
                    Coupon Code
                </th>

                <th></th>
            </tr>
            @{int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PackageName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Itinerary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dificulty)
                    </td>
                    @if (ViewBag.sid == 1 && ViewBag.sid == 3)
                    {

                        <td>
                            @Html.DisplayFor(modelItem => item.GroupSize)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuideLanguageName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Inclusion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Exclusion)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.CouponCode)
                    </td>
                    <td>
                        <a href="@Url.Action("Manage","Package", new { id = item.PackageID, sid=item.ServiceTypeID })"><i title="Edit" class="fas fa-edit fa-inverse h3 float-right DropShadow"></i></a>
                    </td>
                </tr>
                i++;
            }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
             new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>



<script>
    $(function () {
        var oTable = $('#PkgTbl').DataTable({            
            serverSide: true,
            searching: true,
            ajax: {
                "type": "POST",
                "url": '@Url.Action("GetPkgList",new {sid=1 })',
                "contentType": 'application/json; charset=utf-8',
                'data': function (data) {
                    return data = JSON.stringify(data);
                }
            },
            processing: true,
            paging: true,
            pagingType: "full_numbers",
            deferRender: true,
            columns: [
                { data: "PackageID" },
                { data: "PackageName" },
                { data: "GeoName" },
                { data: "Duration" },
                { data: "CategoryName" },
                { data: "SupplierNames" },
                { data: "SupplierContractNos" }
            ],
            columnDefs: [{
                targets: 'no-sort',
                orderable: false
            }]
        });



        $("#PkgTbl thead th input[type=text]").on('change', function () {
            oTable.column($(this).parent().index() + ':visible')
                .search(this.value)
                .draw();
        });

    })


</script>
