


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Index","Package",new { sid= ViewBag.sid})"><i class="fas fa-undo-alt fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>

       
            <h1> @ViewBag.PackageName</h1>
            @Html.Hidden("PackageId", (int)ViewBag.PackageId)
            <div class="btn-group-lg" role="group" aria-label="Basic example">
                <button id="DetailsBtn" type="button" class="btn btn-secondary">Details</button>
                <button id="PriceBtn" type="button" class="btn btn-secondary">Price</button>
                <button id="ImgBtn" type="button" class="btn btn-secondary">Images</button>
                <button id="ValBtn" type="button" class="btn btn-secondary">Validity</button>
            </div>

         
                            @*<li class="nav-item">
                                <a class="nav-link" href="~/SBBoss/Package/PackPicture/@Model.PackageID?stid=@Model.ServiceTypeID">Image</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/SBBoss/Package/LangManage/@Model.PackageID">Language</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/SBBoss/Package/PVManage/@Model.PackageID">Validity</a>*@
                      

            <hr />
        


            <div id="TabContent">
                @if (ViewBag.mode == 1)
                { @Html.Action("FetchDetails", "Package", new { id = (int)ViewBag.PackageId, sid = (int)ViewBag.sid }) }

                @if (ViewBag.mode == 2)
                { @Html.Action("PackPrice", "Package", new { id = (int)ViewBag.PackageId, sid = (int)ViewBag.sid, EID = (int)ViewBag.EID }) }

                @if (ViewBag.mode == 3)
                { @Html.Action("PackPicture", "Package", new { id = (int)ViewBag.PackageId, sid = (int)ViewBag.sid}) }
            </div>
        <hr />
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        $('#DetailsBtn').click(function () {
            $('#TabContent').load(
                '@Url.Action("FetchDetails", new { id = (int)ViewBag.PackageId, sid = (int)ViewBag.sid })'
            );
        });
        $('#PriceBtn').click(function () {
            var detFrm = $('#detFrm');

            //Save the details form if it exists else just move on.
            if (typeof (detFrm[0]) == 'object') {

                $.ajax({
                    url: detFrm.action,
                    type: 'post',
                    data: $(detFrm).serialize()
                }).done(function () {
                    $('#TabContent').load(
                        '@Url.Action("PackPrice", new { id = (int)ViewBag.PackageId , sid = (int)ViewBag.sid })'
                    );

                });

            } else {
                $('#TabContent').load(
                        '@Url.Action("PackPrice", new { id = (int)ViewBag.PackageId , sid = (int)ViewBag.sid })'
                    );
            }
        });

        $('#ImgBtn').click(function () {
            var detFrm = $('#detFrm');
            if (typeof (detFrm[0]) == 'object') {

                $.ajax({
                    url: detFrm.action,
                    type: 'post',
                    data: $(detFrm).serialize()
                }).done(function () {
                    $('#TabContent').load(
                        '@Url.Action("PackPicture", new { id = (int)ViewBag.PackageId , sid = (int)ViewBag.sid })'
                    );

                });

            } else {
                $('#TabContent').load(
                    '@Url.Action("PackPicture", new { id = (int)ViewBag.PackageId , sid = (int)ViewBag.sid })'
                    );

            }
        });

          $('#ValBtn').click(function () {
            var detFrm = $('#detFrm');
            if (typeof (detFrm[0]) == 'object') {

                $.ajax({
                    url: detFrm.action,
                    type: 'post',
                    data: $(detFrm).serialize()
                }).done(function () {
                    $('#TabContent').load(
                        '@Url.Action("PVManage", new { id = (int)ViewBag.PackageId , sid = (int)ViewBag.sid })'
                    );

                });

            } else {
                $('#TabContent').load(
                    '@Url.Action("PVManage", new { id = (int)ViewBag.PackageId , sid = (int)ViewBag.sid })'
                    );

            }
        });

    });
</script>