@model Speedbird.Package


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Index","Package",new { sid= ViewBag.sid})"><i class="fas fa-undo-alt fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>

        @if (Model?.PackageID > 0)
        {
            <h1> @Html.DisplayFor(model => model.PackageName)</h1>
            <div class="btn-group-lg" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Details</button>
                <button type="button" class="btn btn-secondary">Price</button>
                <button type="button" class="btn btn-secondary">Images</button>
                <button type="button" class="btn btn-secondary">Validity</button>
            </div>

            @*<nav class="navbar navbar-expand-sm bg-light" role="navigation">
                    <a class="navbar-brand" href="#">Details For this @ViewBag.Title: </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="~/SBBoss/Package/ActManage/@Model.PackageID">Activity</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/SBBoss/Package/AttractManage/@Model.PackageID">Attraction</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/SBBoss/Package/CatManage/@Model.PackageID">Category</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/SBBoss/Package/PackPrice/@Model.PackageID">Price</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/SBBoss/Package/PackPicture/@Model.PackageID?stid=@Model.ServiceTypeID">Image</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/SBBoss/Package/LangManage/@Model.PackageID">Language</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/SBBoss/Package/PVManage/@Model.PackageID">Validity</a>
                            </li>
                        </ul>
                    </div>
                </nav>*@


            <hr />
        }


            <div id="TabContent">
                @using (Html.BeginForm("Manage", "Package", FormMethod.Post))
    {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Hidden("ServiceTypeID", (int)ViewBag.sid)

if (Model?.PackageID > 0)
{ @Html.HiddenFor(model => model.PackageID) }

            <div class="form-row">
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Name</span></div>
                    @Html.EditorFor(model => model.PackageName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PackageName, "", new { @class = "text-danger" })
                </div>
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Duration</span></div>
                    @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                </div>
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Coupon Code</span></div>
                    @Html.EditorFor(model => model.CouponCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CouponCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-row">
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Difficutly</span></div>
                    @Html.EditorFor(model => model.Dificulty, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Dificulty, "", new { @class = "text-danger" })
                </div>
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Group size</span></div>
                    @Html.EditorFor(model => model.GroupSize, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GroupSize, "", new { @class = "text-danger" })
                </div>
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Stops at</span></div>
                    <select id="GeoTreeID" name="GeoTreeID" class="GeoSelect form-control" multiple="multiple">
                        @foreach (var o in ViewBag.GeoId)
                         {
                            <option value="@o.Value" selected="selected">@o.Text</option>
                         }
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Itinerary</span></div>
                    @Html.TextAreaFor(model => model.Itinerary, 3, 43, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Itinerary, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row">
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Description</span></div>
                    @Html.TextAreaFor(model => model.Description, 3, 43, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row">
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Highlights</span></div>
                    @Html.TextAreaFor(model => model.Highlights, 3, 43, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Highlights, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row">
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Start Time</span></div>
                    @Html.TextAreaFor(model => model.StartTime, 3, 43, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                </div>                
            </div>
            <div class="form-row">
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Inclusions</span></div>
                    @Html.TextAreaFor(model => model.Inclusion, 3, 43, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Inclusion, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row">
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Exclusions</span></div>
                    @Html.TextAreaFor(model => model.Exclusion, 3, 43, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Exclusion, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-row">
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Activities</span></div>
                    <select id="ActID" name="ActID" class="form-control sel2Lkup"  data-setu="ActSave" data-geturl="GetAct" multiple="multiple">
                        @foreach (var o in ViewBag.Acts)
                           { <option value="@o.Value" selected="selected">@o.Text</option> }
                    </select>
                </div>
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Categories</span></div>
                    <select id="CatID" name="CatID" class="form-control sel2Lkup" data-setu="CatSave" multiple="multiple">
                        @foreach (var o in ViewBag.Cats)
                           { <option value="@o.Value" selected="selected">@o.Text</option> }
                    </select>
                </div>                
            </div>

            <div class="form-row">
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Languages</span></div>
                    <select id="LanID" name="LanID" class="form-control sel2Lkup" data-setu="LanSave" multiple="multiple">
                        @foreach (var o in ViewBag.Lang)
                           { <option value="@o.Value" selected="selected">@o.Text</option> }
                    </select>
                </div>
                <div class="input-group col mb-3">
                    <div class="input-group-prepend"><span class="input-group-text">Attractions</span></div>
                    <select id="AttID" name="AttID" class="form-control sel2Lkup" data-setu="AttSave" multiple="multiple">
                        @foreach (var o in ViewBag.Atts)
                           { <option value="@o.Value" selected="selected">@o.Text</option> }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
}




            </div>
        <hr />
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(function(){
        //Activities
        $("#ActID").select2({
            placeholder: "Type 3 letters to choose",
            minimumInputLength: 3,

            ajax: {
                url: '@(Url.Action("GetAct", "Package"))',
                dataType: 'json',
                quietMillis: 250,
                results: function (data, page) {
                    return { results: data.data };
                }
            }
        });


        //Categories
        $("#CatID").select2({
            placeholder: "Type 3 letters to choose",
            minimumInputLength: 3,

            ajax: {
                url: '@(Url.Action("GetCat", "Package"))',
                dataType: 'json',
                quietMillis: 250,
                results: function (data, page) {
                    return { results: data.data };
                }
            }
        });

         //Attractions
        $("#AttID").select2({
            placeholder: "Type 3 letters to choose",
            minimumInputLength: 3,

            ajax: {
                url: '@(Url.Action("GetAtt", "Package"))',
                dataType: 'json',
                quietMillis: 250,
                results: function (data, page) {
                    return { results: data.data };
                }
            }
        });

        //Language
        $("#LanID").select2({
            placeholder: "Type 3 letters to choose",
            minimumInputLength: 3,

            ajax: {
                url: '@(Url.Action("GetLan", "Package"))',
                dataType: 'json',
                quietMillis: 250,
                results: function (data, page) {
                    return { results: data.data };
                }
            }
        });

        //Save Select2 data
        $(".sel2Lkup").on('change', function (e) {
            $.post('/SBBoss/Package/' + $(this).data('setu'), { PackageId: $('#PackageID').val(), ActIds: $(this).val() })
        });

    });
</script>