@model PagedList.IPagedList<Speedbird.Supplier>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Supplier";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>
    </div>
    <div class="card-body">
        
        @using (Html.BeginForm("Index", "Supplier", FormMethod.Get))
        {
            <div class="row d-print-none">
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;Supplier Name:</td>
                        <td> @Html.TextBox("SP", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>
                        <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Manage","Supplier")"><i class="fas fa-plus-circle fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        
        <table class="table">
            <tr>
                <th>Sr No</th>
                <th>
                    Supplier Name
                </th>
                <th></th>
                <th></th>
            </tr>
            @{int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierName)
                    </td>
                    <td>
                        <a href="@Url.Action("PaymentList","Supplier", new {SupplierID = item.SupplierID })" ><i title="Payment List" class="fas fa-rupee-sign fa-inverse h3 DropShadow"></i></a>&nbsp;&nbsp;

                    </td>
                    <td>
                        <a href="@Url.Action("Manage","Supplier", new {id = item.SupplierID })"><i title="Edit" class="fas fa-edit fa-inverse h3 float-left DropShadow"></i></a>
                    </td>

                </tr>
                i++;
            }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                  new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>



