<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - </title>
    <link rel="icon" href="~/Custom/BBS.ico">
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dtpic")
    @Styles.Render("~/Content/EAcss")
    @Scripts.Render("~/fa5")

    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Merriweather+Sans">

</head>
<body>
    @*<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>*@
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    @Html.Partial("_MenuPartial")

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/jquerydtpicker")
    <script src="/Scripts/jquery.masonry.min.js"></script>
    <script src="/Scripts/imagesloaded.pkgd.min.js"></script>
    <div id="TopBody">
        @RenderBody()
        <hr />

    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            //Change the "a" in menu and body
            var sel = $('.dropdown-menu a');
            sel.addClass('myamenu');

            var bdy = $("#TopBody a");
            bdy.addClass('myatag');

            function formatState(state) {
                if (!state.id) {
                    return state.text;
                }
                var parts = state.text.split(",");
                return parts[0];

            };

             $(".GeoSelect").select2({
                    placeholder: "Type 3 letters to choose",
                    minimumInputLength: 3,
                    templateSelection: formatState,

                    ajax: {
                        url: '@(Url.Action("GetLocations", "GeoTree"))',
                        dataType: 'json',
                        quietMillis: 250,
                        results: function (data, page) {
                            return { results: data.data };
                        }
                    }
            });


            //DateTime picker
            $('input[type=date]').datepicker({
                dateFormat: "dd-M-yy",
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            }).attr('type', 'text').attr('autocomplete', 'off');

            //Disable the browsers default date picker
            jQuery.validator.methods["date"] = function (value, element) { return true; }




        });


        //autocomplete on any view without id
        //<input type="text" id="Item" name="Item" data-autocomplete-url="@@Url.Action("AutoComplete")" />
        //   $(document).ready(function () {
        //       $('*[data-autocomplete-url]')
        //           .each(function () {
        //               $(this).autocomplete({
        //                   source: $(this).data("autocomplete-url")
        //               });
        //           });
        //   });


        //Autocomplete on any view with id
        // @@Html.HiddenFor(model => model.CustomerID) //choose the ID field of your model
        // <input type="text" id="Customer" name="Customer" style="color:black;" data-autocomplete-idholder="#CustomerID" data-autocombo-url="@@Url.Action("AutoCompleteCusts")"  class="form-control" />  //for Create View
        // <input type="text"  value="@@Model.Customer.Name" id="Customer" name="Customer" style="color:black;" data-autocomplete-idholder="#CustomerID" data-autocombo-url="@@Url.Action("AutoCompleteCusts")" class="form-control" />  //for edit view
        //sample controller
        // public ActionResult AutoCompleteCusts(string term)
        //        {
        //            var filteredItems = db.Customers.Where(c => c.Name.Contains(term)).Select(c => new { id = c.CustomerID, value = c.Name });

        //           return Json(filteredItems, JsonRequestBehavior.AllowGet);
        //        }


        $(document).ready(function () {
            $('*[data-autocombo-url]')
                .each(function () {
                    $(this).autocomplete({
                        source: $(this).data("autocombo-url"),
                        minLenght: 3,
                        delay: 500,
                        select: function (event, ui) {
                            $($(this).data("autocomplete-idholder")).val(ui.item.id);
                        }
                    });
                });
        });

    </script>


</body>

</html>
