@using Speedbird
@model Speedbird.SRdetail

@{ Html.RenderPartial("WritePVs/_CommonHidden", Model); }

<table class="SRDetsTbl" width="100%">
    <thead>
        <tr>
            <th>Pax Name     </th>
            <th>Hotel        </th>
            <th>Check In     </th>
            <th>Check Out    </th>
            <th>Adult Qty    </th>
            <th>Child Qty    </th>
            <th>Infant Qty   </th>
            <th>Room Qty     </th>
            <th>Room Type    </th>
            <th>Rm. Category </th>
            <th>Ext. Bed Qty </th>
        </tr>
        <tr>
            <th>Ext Bed Cost </th>
            <th>Ac/ Non Ac   </th>
            <th>BF Cost/Day  </th>
            <th>Ln Cost/Day  </th>
            <th>Dn Cost/Day  </th>
            <th>Room Rate    </th>
            <th>Ext Service  </th>
            <th>Qty Ext Srv. </th>
            <th>Ext Cost     </th>
            <th>Pay To       </th>
            <th>Sell Price   </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> @Html.EASelectListP("CustomerId", (IEnumerable<SelectListItem>)ViewBag.CustomerList, "", "Pax Name", (string)ViewBag.SelectedCustomerId)</td>
            <td> @Html.EATextForP(m => m.Model, "Hotel Name")                                                                                            </td>
            <td> @Html.EADateForP(m => m.Fdate, "Checkin Date")                                                                                          </td>
            <td> @Html.EADateForP(m => m.Tdate, "Checkout Date")                                                                                         </td>

            <td> @Html.EANumberForP(m => m.AdultNo, "No. of Adults")                                                                                     </td>
            <td> @Html.EANumberForP(m => m.ChildNo, "No. of Children")                                                                                   </td>
            <td> @Html.EANumberForP(m => m.InfantNo, "No. of Infants")                                                                                   </td>
            <td> @Html.EANumberForP(m => m.Qty, "No. of Rooms")                                                                                          </td>

            <td> @Html.EATextForP(m => m.PickUpPoint, "Room Type")                                                                                       </td>
            <td> @Html.EASelectListForP(m => m.OptionTypeID, "Room Category")                                                                            </td>
            <td> @Html.EANumberForP(m => m.NoExtraBeds, "No. Ext Beds")                                                                                  </td>
        </tr><tr>
            <td> @Html.EANumberForP(m => m.CarType, "Ext Beds Cost")                                                                                     </td>
            <td> @Html.EAChkBoxP("HasAc", "AC/ No AC")                                                                                                   </td>
            <td> @Html.EANumberForP(m => m.BFCost, "Daily Bf Cost")                                                                                      </td>
            <td> @Html.EANumberForP(m => m.LunchCost, "Daily Ln Cost")                                                                                   </td>
            <td> @Html.EANumberForP(m => m.DinnerCost, "Daily Dn Cost")                                                                                  </td>

            <td> @Html.EANumberForP(m => m.EBCostPNight, "Room Rate")                                                                                            </td>
            <td> @Html.EASelectListForP(m => m.Heritage, "Extra Service")                                                                                </td>
            <td> @Html.EANumberForP(m => m.NoExtraService, "Qty Ext Service")                                                                            </td>
            <td> @Html.EANumberForP(m => m.ExtraServiceCost, "Ext Cost")                                                                                 </td>

            <td> @Html.EASelectListForP(m => m.PayTo)                                                                                                    </td>
            <td> @Html.EANumberForP(m => m.SellPrice)                                                                                                    </td>
        </tr>
        </tbody>
    </table>
        @{ Html.RenderPartial("WritePVs/_SupplierInfo", Model); }


        @*@if (ViewBag.isReadOnly != null)
            {@Html.Action("CustSearch", "SR", new { id = Model.SRDID })
        }

            @if (Model != null)
            {
                <script>
                   $('#AssignDriver').load('@Url.Action("_AssignDriver")', { SRID: @Model.SRID, SRDID: @Model.SRDID});
                   $('#Review').load('@Url.Action("_DrvReview")', { SRID: @Model.SRID,SRDID: @Model.SRDID});
                </script>
            }*@


        <script>



            $(function () {
                //DateTime picker


                $('.eadate').datepicker({
                    dateFormat: "dd-MM-yy",
                    showButtonPanel: true,
                    changeMonth: true,
                    changeYear: true
                });

                //Disable the browsers default date picker
                jQuery.validator.methods["date"] = function (value, element) { return true; }



            });


            $(document).ready(function () {
                $('*[data-autocombo-url]')
                    .each(function () {
                        $(this).autocomplete({
                            source: $(this).data("autocombo-url"),
                            minLenght: 3,
                            delay: 500,
                            select: function (event, ui) {
                                $("#" + $(this).data("autocomplete-idholder")).val(ui.item.id).trigger('change');
                            }
                        });
                    });
            });

        </script>
