@using Speedbird
@model Speedbird.SRdetail

<div class="form-row">
 
</div>

    <div class="form-row">
        <div class="input-group col mb-3">

            @if (Model?.SRDID > 0)
    {
                <div class="input-group col-3 mb-3">

                    @if (ViewBag.IsReadOnly == null)
    {
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#AssignDriverModal" data-srdid="@Model.SRDID">
                            @if (Model?.DriverID == null)
    {
                                @:  Assign Driver
                            }
                            else
                            {
                                @: Change Driver
                            }

                        </button>
                        <div class="input-group-prepend"><span class="input-group-text" style="color:blue">@ViewBag.DrvNm</span></div>

                    }
                    else
                    {
                        <div class="input-group-prepend"><span class="input-group-text">Driver Name</span></div>
                        <input type="text" value="@ViewBag.DrvNm" class="form-control" />
                    }



                </div>
            }

            @if (ViewBag.IsReadOnly == null)
            {
                if (Model?.DriverID > 0)
                {
                    <div class="input-group col mb-3">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#DrvReviewModal" data-srdid="@Model.SRDID">
                            Feedback
                        </button>
                    </div>

                }
            }
        </div>
    </div>



    @if (ViewBag.isReadOnly != null)
    {@Html.Action("CustSearch", "SR", new { id = Model.SRDID })
}

    @if (Model != null)
    {
        <script>
           $('#AssignDriver').load('@Url.Action("_AssignDriver")', { SRID: @Model.SRID, SRDID: @Model.SRDID});
           $('#Review').load('@Url.Action("_DrvReview")', { SRID: @Model.SRID,SRDID: @Model.SRDID});
        </script>
    }


    <script>



        $(function () {
            //DateTime picker
            

            $('.eadate').datepicker({
                dateFormat: "dd-MM-yy",
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            });

            //Disable the browsers default date picker
            jQuery.validator.methods["date"] = function (value, element) { return true; }

        });



    </script>
