@using Speedbird
@model Speedbird.SRdetail

<hr>
<div class="form-row">
    @Html.EAAutocompleteFor(m => m.SupplierID, "SR", "AutoCompleteSup", "Supplier",(string)ViewBag.Supplier)
    @Html.EATextFor(m => m.SuppInvNo)
    @Html.EADateFor(m => m.SuppInvDt)
    @Html.EATextFor(m => m.SuppInvAmt)
</div>
<div class="form-row">
    @Html.EATextFor(m => m.CouponCode)
    @Html.EATextFor(m => m.SuppConfNo)
    @Html.EATextFor(m => m.ContractNo)
    @Html.EASpacer()
</div>
