@using Speedbird
@model Speedbird.SRdetail


@Html.EAIdFor(m =>m.SRDID, Model?.SRID.HasValue ?? false)
@Html.EAIdFor(m =>m.IsCanceled, Model?.SRID.HasValue ?? false)
<div class="form-row">
    @Html.EASelectList("CustomerId", (IEnumerable<SelectListItem>)ViewBag.CustomerId, "", "Pax Name")
    @Html.EADateFor(m => m.Fdate,"Transfer Date")
    @Html.EANumberFor(m => m.Qty, "No. of Vehicles")
    @Html.EATextFor(m => m.FromLoc, "From Where")
</div>
<div class="form-row">
    @Html.EATextFor(m => m.PickUpPoint)
    @Html.EATextFor(m => m.ToLoc, "To Where")
    @Html.EATextFor(m => m.DropPoint)
    @Html.EASelectList("CarType", (IEnumerable<SelectListItem>)ViewBag.CarType, "", "Vehicle Type")
</div>
<div class="form-row">
    @Html.EASelectList("Heritage", (IEnumerable<SelectListItem>)ViewBag.RateBasis, "", "Rate Basis")
    @Html.EAChkBox("HasAc")
    @Html.EAChkBox("HasCarrier")
    @Html.EANumberFor(m => m.BFCost, "Vehicle Cost")
</div>
<div class="form-row">    
    @Html.EASelectListFor(m => m.PayTo)
    @Html.EANumberFor(m => m.Cost)
    @Html.EANumberFor(m => m.SellPrice)
    @Html.EASpacer()
</div>
<hr>
<div class="form-row">
    @Html.EAAutocompleteFor(m => m.DriverID, "SR", "AutoCompleteDriver", "Driver", (string)ViewBag.Driver)
    @Html.EASelectList("NoExtraBeds", new List<SelectListItem> { new SelectListItem { Text = "1st choose Driver", Value = "0" } } , "", "Car")
    @Html.EATextFor(m => m.SuppInvNo)
    @Html.EATextFor(m => m.CouponCode)
</div>
<div class="form-row">
    @Html.EATextFor(m => m.SuppInvAmt)
    @Html.EADateFor(m => m.SuppInvDt)
    @Html.EATextFor(m => m.SuppConfNo)
    @Html.EATextFor(m =>m.ContractNo)
</div>
    <div class="form-row">
        <div class="input-group col mb-3">

            @*@if (Model?.SRDID > 0)
    {
                <div class="input-group col-3 mb-3">

                    @if (ViewBag.IsReadOnly == null)
    {
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#AssignDriverModal" data-srdid="@Model.SRDID">
                            @if (Model?.DriverID == null)
    {
                                @:  Assign Driver
                            }
                            else
                            {
                                @: Change Driver
                            }

                        </button>
                        <div class="input-group-prepend"><span class="input-group-text" style="color:blue">@ViewBag.DrvNm</span></div>

                    }
                    else
                    {
                        <div class="input-group-prepend"><span class="input-group-text">Driver Name</span></div>
                        <input type="text" value="@ViewBag.DrvNm" class="form-control" />
                    }



                </div>
            }*@

            @*@if (ViewBag.IsReadOnly == null)
            {
                if (Model?.DriverID > 0)
                {
                    <div class="input-group col mb-3">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#DrvReviewModal" data-srdid="@Model.SRDID">
                            Feedback
                        </button>
                    </div>

                }
            }*@
        </div>
    </div>



    @*@if (ViewBag.isReadOnly != null)
    {@Html.Action("CustSearch", "SR", new { id = Model.SRDID })
}

    @if (Model != null)
    {
        <script>
           $('#AssignDriver').load('@Url.Action("_AssignDriver")', { SRID: @Model.SRID, SRDID: @Model.SRDID});
           $('#Review').load('@Url.Action("_DrvReview")', { SRID: @Model.SRID,SRDID: @Model.SRDID});
        </script>
    }*@


    <script>



        $(function () {
            //DateTime picker
            

            $('.eadate').datepicker({
                dateFormat: "dd-MM-yy",
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            });

            //Disable the browsers default date picker
            jQuery.validator.methods["date"] = function (value, element) { return true; }

            function setDriverCars(driverid) {
                $.get('@Url.Action("AutoCompleteCars")', { DriverId: driverid }, function (response) {
                    
                    $('#NoExtraBeds').html('');
                    
                    if (response.length > 0) {
                        var options = '';
                        for (var i = 0; i < response.length; i++) {
                            if (response[i].id == @(Model?.NoExtraBeds ??-1)) {
                                options += '<option selected value="' + response[i].id + '">' + response[i].value + '</option>';
                            } else {
                                options += '<option value="' + response[i].id + '">' + response[i].value + '</option>';
                            }
                        }
                    }
                        options += '<option value="Select">No Cars defined</option>';
                        $('#NoExtraBeds').append(options);
                });
            }

            //If in edit mode we may already have the driverid and thus should fetch his cars
            if ($("#DriverID").val() > 0) {
                setDriverCars($("#DriverID").val());
            }

            //fetch driver cars on selection of driver
            $("#DriverID").on("change", function () {
                setDriverCars($(this).val());
            });

        });


        $(document).ready(function () {
            $('*[data-autocombo-url]')
                .each(function () {
                    $(this).autocomplete({
                        source: $(this).data("autocombo-url"),
                        minLenght: 3,
                        delay: 500,
                        select: function (event, ui) {
                            $("#" + $(this).data("autocomplete-idholder")).val(ui.item.id).trigger('change');
                        }
                    });
                });
        });

    </script>
