@model PagedList.IPagedList<Speedbird.OwnCarTripDets>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Car Trip Details";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">&nbsp;</h5>
        @using (Html.BeginForm("Index", "Driver", FormMethod.Get))
        {
            <div class="row d-print-none">
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;Car Name:</td>
                        <td> @Html.TextBox("AN", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>
                        <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Manage","Trip")"><i class="fas fa-plus-circle fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        
        <table class="table">
            <tr>
                <th>Sr No</th>
                <th>
                    Car Name
                </th>
                <th>
                    Driver Name
                </th>
                <th>
                    Trip Start
                </th>
                <th>
                    Start Kms
                </th>
                <th>
                    End Kms
                </th>
               
                <th></th>
            </tr>
            @{int i = 1;}
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarBikeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverName)
                </td>
                <td>
                    @($"{item.TripStart:dd/MMM/yyyy HH:mm}")

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartKms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndKms)
                </td>
                <td>
                    <a href="@Url.Action("Manage","Trip", new {id = item.DriverID })"><i title="Edit" class="fas fa-edit fa-inverse h3 float-right DropShadow"></i></a>
                </td>
            </tr>
                i++;
            }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                  new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>



