@using Speedbird
@model Speedbird.CarBikevw
<div class="row">
    <div class="col-10">
        <table class="SRDetsTbl">
            <thead>
                <tr>
                    <th>Pax Name</th>
                    <th>Vehicle Type</th>
                    <th>Model</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Pickup Location</th>
                    <th>Pickup Address</th>
                    <th>Drop Location</th>
                    <th>Drop Address</th>
                    <th>Net Rate</th>
                    <th>No of Days</th>
                    <th>No Of Vehicles</th>
                    <th>Net Cost</th>
                    <th>Pay To</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.PaxName</td>
                <td>@((CarTypeEnum)Model.CarType)</td>
                <td>@Model.Car</td>
                <td>@Model.Fdate.EAFormat()</td>
                <td>@Model.Tdate.EAFormat()</td>
                <td>@Model.FromLoc</td>
                <td>@Model.PickUpPoint</td>
                <td>@Model.ToLoc</td>
                <td>@Model.DropPoint</td>
                <td align="right">@Model.Cost</td>
                <td>@Model.Qty</td>
                <td>@Model.NoExtraBeds</td>
                <td>@(Model.Cost * Model.Qty * Model.NoExtraBeds)</td>
                <td>@Model.PayTo</td>
            </tr>
        </table>
        @{Html.RenderPartial("ReadPVs/_SupplierInfo", Model); }
    </div>
    <div class="col-2" style="padding-left:0px;">
        @{Html.RenderPartial("ReadPVs/_Fin", Model); }
    </div>
</div>

    @*@foreach (var item in ViewBag.ufs)
        {
            <span class="badge badge-secondary"><a target="_blank" style="color:white !important;" href="/Images/@item.Path">@item.UploadName</a> &nbsp; <a style="color:#fe7575 !important;" href="@Url.Action("Delete","SR",new {pid=item.SRUID , id=item.SRID})">X</a></span>
        }

        @using (Html.BeginForm("SRUpload", "SR", FormMethod.Post, new { id = "ServiceDetsUpld-" + Model.SRDID, enctype = "multipart/form-data" }))
        {
            <div class="form-inline">
                @Html.AntiForgeryToken()
                @Html.Hidden("SRID", (int)Model.SRID)
                @Html.Hidden("SRDID", (int)Model.SRDID)
                @Html.EAText("UploadName", "", "File Description")


                @Html.TextBox("UploadedFile", "", new { type = "file", @class = "UploadedFile", @data_uf = Model.SRDID })
            </div>
        }*@





    <script>


        $(function () {
            //DateTime picker


            $('.eadate').datepicker({
                dateFormat: "dd-MM-yy",
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            });

            //Disable the browsers default date picker
            jQuery.validator.methods["date"] = function (value, element) { return true; }


        });




    </script>
