@using Speedbird
@model Speedbird.FlightServiceView

<div class="row">
    <div class="col-10">
        <table class="SRDetsTbl SRDetsFullTable" width="100%">
            <thead>
                <tr>
                    <th>Pax Name              </th>
                    <th>Adult Qty              </th>
                    <th>Child Qty              </th>
                    <th>Infant Qty             </th>
                    <th>Intnl/ Dom      </th>
                    <th>From                 </th>
                    <th>To                   </th>
                    <th>Class                </th>
                    <th>Airline Code         </th>
                </tr>
                <tr>
                    <th>Flight No             </th>
                    <th>Departure On          </th>
                    <th>Arrival On            </th>
                    <th>Ticket No.             </th>
                    <th>GDSConf No.            </th>
                    <th>Airline PNR           </th>
                    <th>Extra                </th>
                    <th>Extra Details         </th>
                    <th></th>                                    
                </tr>
            </thead>
            <tr>
                <td>@Model.PaxName</td>
                <td align="right">@Model.AdultNo</td>
                <td align="right">@Model.ChildNo </td>
                <td align="right">@Model.InfantNo </td>
                <td>@Model.IsInternational </td>
                <td>@(Model.FromLoc.ToUpper()) </td>
                <td>@(Model.ToLoc.ToUpper()) </td>
                <td>@Model.Class </td>
                <td>@Model.AirlineCode </td>
            </tr>
            <tr>
                <td>@Model.FlightNo</td>
                <td align="right">@Model.DepartureOn.EAFormat(true) </td>
                <td align="right">@Model.ArrivalOn.EAFormat(true) </td>
                <td>@Model.TicketNo </td>
                <td>@Model.GDSConfNo</td>
                <td>@Model.AirlinePNR</td>
                <td>@Model.Extra </td>
                <td>@Model.ExtraDetails </td>
                <td></td>                
            </tr>
        </table>
        @{Html.RenderPartial("ReadPVs/_SupplierInfo", Model); }
    </div>
    <div class="col-2" style="padding-left:0px;">
        @{Html.RenderPartial("ReadPVs/_Fin", Model); }                
    </div>
</div>
<br />



@*@if (ViewBag.isReadOnly != null)
{@Html.Action("CustSearch", "SR", new { id = Model.SRDID })
}*@

@*@if (Model != null)
    {
        <script>
           $('#AssignDriver').load('@Url.Action("_AssignDriver")', { SRID: @Model.SRID, SRDID: @Model.SRDID});
           $('#Review').load('@Url.Action("_DrvReview")', { SRID: @Model.SRID,SRDID: @Model.SRDID});
        </script>
    }*@


