@using Speedbird
@model Speedbird.Insurancevw
<div class="row">
    <div class="col-10">
        <table class="SRDetsTbl">
            <thead>
                <tr>
                    <th>Pax Name</th>
                    <th>DOB</th>
                    <th>Today Date</th>
                    <th>Destination</th>
                    <th>Policy Name</th>
                    <th>Policy type</th>
                    <th>No Of Days</th>
                    <th>Valid From</th>
                    <th>Valid To</th>
                    <th>Net Cost</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.PaxName</td>
                <td>@Model.DOB</td>
                <td>@DateTime.Today</td>
                <td>@Model.Destination</td>
                <td>@Model.PolicyName</td>
                <td>@Model.PolicyType</td>
                <td>@Model.NoOfDays</td>
                <td>@Model.ValidFrom</td>
                <td>@Model.ValidTo</td>
                <td>@Model.Cost</td>
            </tr>
        </table>
        @{Html.RenderPartial("ReadPVs/_SupplierInfo", Model); }
    </div>
    <div class="col-2" style="padding-left:0px;">
        @{Html.RenderPartial("ReadPVs/_Fin", Model); }
    </div>
</div>

    @*@foreach (var item in ViewBag.ufs)
        {
            <span class="badge badge-secondary"><a target="_blank" style="color:white !important;" href="/Images/@item.Path">@item.UploadName</a> &nbsp; <a style="color:#fe7575 !important;" href="@Url.Action("Delete","SR",new {pid=item.SRUID , id=item.SRID})">X</a></span>
        }

        @using (Html.BeginForm("SRUpload", "SR", FormMethod.Post, new { id = "ServiceDetsUpld-" + Model.SRDID, enctype = "multipart/form-data" }))
        {
            <div class="form-inline">
                @Html.AntiForgeryToken()
                @Html.Hidden("SRID", (int)Model.SRID)
                @Html.Hidden("SRDID", (int)Model.SRDID)
                @Html.EAText("UploadName", "", "File Description")


                @Html.TextBox("UploadedFile", "", new { type = "file", @class = "UploadedFile", @data_uf = Model.SRDID })
            </div>
        }*@





    <script>


        $(function () {
            //DateTime picker

            $('.eadate').datepicker({
                dateFormat: "dd-MM-yy",
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true
            });

            //Disable the browsers default date picker
            jQuery.validator.methods["date"] = function (value, element) { return true; }


        });




    </script>
