@using Speedbird
@model Speedbird.Railvw
<div class="row">
    <div class="col-10">
        <table class="SRDetsTbl">
            <thead>
                <tr>
                    <th>Pax Name</th>
                    <th>Age</th>
                    <th>Date of travel</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Bus Name</th>
                    <th>Bus No</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Class</th>
                    <th>Booking Type</th>
                    <th>Ticket No</th>
                    <th>Ticket Cost</th>
                    <th>Additional Cost</th>
                    <th>Additional Details</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.PaxName</td>
                <td>@Model.Age</td>
                <td>@Model.DOT.EAFormat()</td>
                <td>@Model.FromLoc</td>
                <td>@Model.ToLoc</td>
                <td>@Model.TrainName</td>
                <td>@Model.TrainNo</td>
                <td>@Model.Arrival.EAFormat(withTime:true)</td>
                <td>@Model.Departure.EAFormat(withTime: true)</td>
                <td>@((BookingTypeEnum)Model.CarType)</td>
                <td>@Model.Class</td>
                <td>@Model.TicketNo</td>
                <td align="right">@Model.BFCost</td>
                <td align="right">@Model.AddCost</td>
                <td>@Model.AddDetl</td>
                <td align="right">@Model.TotalCost</td>
            </tr>
        </table>
        @{Html.RenderPartial("ReadPVs/_SupplierInfo", Model); }
    </div>
    <div class="col-2" style="padding-left:0px;">
        @{Html.RenderPartial("ReadPVs/_Fin", Model); }
    </div>
</div>
@foreach (var item in ViewBag.ufs)
{
    <span class="badge badge-secondary"><a target="_blank" style="color:white !important;" href="/Images/@item.Path">@item.UploadName</a> &nbsp; <a style="color:#fe7575 !important;" href="@Url.Action("Delete","SR",new {pid=item.SRUID , id=item.SRID})">X</a></span>
}

<div class="row">
    <div class="col">
        @using (Html.BeginForm("SRUpload", "SR", FormMethod.Post, new { @class = "form-inline", id = "ServiceDetsUpld-" + Model.SRDID, enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("SRID", (int)Model.SRID)
            @Html.Hidden("SRDID", (int)Model.SRDID)
            @Html.EAText("UploadName", "", "File Description")


            @Html.TextBox("UploadedFile", "", new { type = "file", @class = "UploadedFile", @data_uf = Model.SRDID })
        }
    </div>
</div>







<script>


    $(function () {
        //DateTime picker


        $('.eadate').datepicker({
            dateFormat: "dd-MM-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true
        });

        //Disable the browsers default date picker
        jQuery.validator.methods["date"] = function (value, element) { return true; }


    });

</script>
