@using Speedbird
@model Speedbird.SightseeingServiceView

<div class="row">
    <div class="col-10">
        <table class="SRDetsTbl SRDetsFullTable" width="100%">
            <thead>
                <tr>
                    <th>Pax Name</th>
                    <th>No of Adults</th>
                    <th>No of Kids</th>
                    <th>Name of Tour</th>
                    <th>Tour On</th>
                    <th>Half/Full day</th>
                    <th>Pickup From</th>
                    <th>Pickup Time</th>
                    <th>Pickup At</th>
                    <th>Pickup Time</th>
                    <th>Pvt/Sic</th>
                    <th>Cost per car</th>
                    <th>Car Qty</th>
                    <th>Adult Cost</th>
                    <th>Child Cost</th>
                    <th>Car Type</th>
                    <th>Meal inc.</th>
                    <th>Inclusions</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.PaxName</td>
                <td align="right">@Model.AdultNo</td>
                <td align="right">@Model.ChildNo </td>
                <td>@Model.SightseeingName</td>
                <td>@Model.TourDate.EAFormat(withTime:false) </td>
                <td>@Model.OptionTypeName</td>
                <td>@Model.PickUpPoint</td>
                <td>@Model.TourDate.EAFormatTime(withTime:true)</td>
                <td>@Model.PickupLocation </td>
                <td>@Model.PickupTime.EAFormatTime(withTime: true)</td>
                <td>@Model.Private_Sic </td>
                <td align="right">@Model.CostPerCar </td>
                <td align="right">@Model.NoOfCars </td>
                <td align="right">@Model.AdultCost </td>
                <td align="right">@Model.ChildCost </td>
                <td>@((CarTypeEnum)Model.CarType)</td>
                <td>@Model.MealIncluded</td>
                <td>@ViewBag.Inc</td>
            </tr>
        </table>
        <table class="SRDetsTbl">
            <thead>
                <tr>
                    <th>Driver</th>
                    <th>Car</th>
                    <th>Invoice No.</th>
                    <th>Coupon</th>
                    <th>Inv. Amt.</th>
                    <th>Inv. Date</th>
                    <th>Conf No.</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.DriverName</td>
                <td>@Model.Car</td>
                <td>@Model.SuppInvNo</td>
                <td>@Model.CouponCode</td>
                <td align="right">@Model.SuppInvAmt</td>
                <td>@Model.SuppInvDt.EAFormat()</td>
                <td>@Model.SuppConfNo</td>
            </tr>
        </table>
        @if (Model.IsCancelled == true)
        {
        <p class="alert alert-primary">This Booking is Cancelled wth Cancellation Cost @(Model.ProdCanxCost + Model.SBCanxCost)</p>
        }


        @foreach (var item in ViewBag.ufs)
        {
            <span class="badge badge-secondary"><a target="_blank" style="color:white !important;" href="/Images/@item.Path">@item.UploadName</a> &nbsp; <a style="color:#fe7575 !important;" href="@Url.Action("Delete","SR",new {pid=item.SRUID , id=item.SRID})">X</a></span>
        }

        <div class="row">
            <div class="col">
                @using (Html.BeginForm("SRUpload", "SR", FormMethod.Post, new { @class = "form-inline", id = "ServiceDetsUpld-" + Model.SRDID, enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("SRID", (int)Model.SRID)
                    @Html.Hidden("SRDID", (int)Model.SRDID)
                    @Html.EAText("UploadName", "", "File Description")


                    @Html.TextBox("UploadedFile", "", new { type = "file", @class = "UploadedFile", @data_uf = Model.SRDID })
                }
            </div>
        </div>
        <div class="refund_box" id="@Model.SRDID">
            <div class="row">
                <div class="col">
                    @using (Html.BeginForm("SRCanxServiceAsync", "SR", FormMethod.Post, new { @class = "form-inline", id = "CanxService-" + Model.SRDID }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("SRID", (int)Model.SRID)
                        @Html.Hidden("SRDID", (int)Model.SRDID)
                        @Html.EAText("ProdCanxCost", "", "Prod. Canx Cost")
                        @Html.EAText("SBCanxCost", "", "SB Canx Cost")<br />
                        @Html.EAText("Note", "", "Note")
                        <input type="submit" value="Cancel Service" class="btn alert-danger" />
                    }
                </div>
            </div>
        </div>


    </div>
    <div class="col-2" style="padding-left:0px;">
        @{Html.RenderPartial("ReadPVs/_Fin", Model); }
    </div>
</div>
<br />


@*@if (ViewBag.isReadOnly != null)
    {@Html.Action("CustSearch", "SR", new { id = Model.SRDID })
    }*@

@*@if (Model != null)
    {
        <script>
           $('#AssignDriver').load('@Url.Action("_AssignDriver")', { SRID: @Model.SRID, SRDID: @Model.SRDID});
           $('#Review').load('@Url.Action("_DrvReview")', { SRID: @Model.SRID,SRDID: @Model.SRDID});
        </script>
    }*@


