@using Speedbird
@model Speedbird.SupplierInfo
<table class="SRDetsTbl">
    <thead>
        <tr>
            <th>Supplier</th>
            <th>Invoice No.</th>
            <th>Inv. Date</th>
            <th>Inv. Amt.</th>
            <th>Coupon</th>
            <th>Conf No.</th>
            <th>Contract</th>
        </tr>
    </thead>
    <tr>
        <td>@Model.SupplierName</td>
        <td>@Model.SuppInvNo</td>
        <td>@Model.SuppInvDt.EAFormat()</td>
        <td>@Model.SuppInvAmt</td>
        <td>@Model.CouponCode</td>
        <td>@Model.SuppConfNo</td>
        <td>@Model.ContractNo</td>
    </tr>
</table>
<script>


    $(function () {
        //DateTime picker


        $('.eadate').datepicker({
            dateFormat: "dd-MM-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true
        });

        //Disable the browsers default date picker
        jQuery.validator.methods["date"] = function (value, element) { return true; }


    });




</script>
