@using Speedbird
@model Speedbird.SupplierInfo

<div class="refund_box + @Model.SRID">
    <div class="row">
        <div class="col">
            @using (Html.BeginForm("SRCanxServiceAsync", "SR", FormMethod.Post, new { @class = "form-inline", id = "CanxService-" + Model.SRDID }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("SRID", (int)Model.SRID)
                @Html.Hidden("SRDID", (int)Model.SRDID)
                @Html.EAText("ProdCanxCost", "", "Prod. Canx Cost")
                @Html.EAText("SBCanxCost", "", "SB Canx Cost")<br />
                @Html.EAText("Note", "", "Note")
                <input type="submit" value="Cancel Service" class="btn alert-danger" />
            }
        </div>
    </div>
</div>
<table class="SRDetsTbl">
    <thead>
        <tr>
            <th>Supplier</th>
            <th>Invoice No.</th>
            <th>Inv. Date</th>
            <th>Inv. Amt.</th>
            <th>Coupon</th>
            <th>Conf No.</th>
            <th>Contract</th>
        </tr>
    </thead>
    <tr>
        <td>@Model.SupplierName</td>
        <td>@Model.SuppInvNo</td>
        <td>@Model.SuppInvDt.EAFormat()</td>
        <td>@Model.SuppInvAmt</td>
        <td>@Model.CouponCode</td>
        <td>@Model.SuppConfNo</td>
        <td>@Model.ContractNo</td>
    </tr>
</table>


@foreach (var item in ViewBag.ufs)
{
    <span class="badge badge-secondary"><a target="_blank" style="color:white !important;" href="/Images/@item.Path">@item.UploadName</a> &nbsp; <a style="color:#fe7575 !important;" href="@Url.Action("Delete","SR",new {pid=item.SRUID , id=item.SRID})">X</a></span>
}

<div class="row">
    <div class="col">
        @using (Html.BeginForm("SRUpload", "SR", FormMethod.Post, new { @class = "form-inline", id = "ServiceDetsUpld-" + Model.SRDID, enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("SRID", (int)Model.SRID)
            @Html.Hidden("SRDID", (int)Model.SRDID)
            @Html.EAText("UploadName", "", "File Description")


            @Html.TextBox("UploadedFile", "", new { type = "file", @class = "UploadedFile", @data_uf = Model.SRDID })
        }
    </div>
</div>






<script>


    $(function () {
        //DateTime picker


        $('.eadate').datepicker({
            dateFormat: "dd-MM-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true
        });

        //Disable the browsers default date picker
        jQuery.validator.methods["date"] = function (value, element) { return true; }


        $(".refund_box").hide();
        $("#refund").on("click", function () {
            $(".refund_box").toggle();
        });

    });




</script>
