@using Speedbird
@model Speedbird.TransferServiceView

<div class="row">
    <div class="col-10">
        <table class="SRDetsTbl SRDetsFullTable" width="100%">
            <thead>
                <tr>
                    <th>Pax Name</th>
                    <th>On Date</th>
                    <th>Vehicle Qty</th>
                    <th>From Where</th>
                    <th>Pickup Point</th>
                    <th>Pickup Time</th>
                    <th>To Where</th>
                    <th>Drop Point</th>
                    <th>Car</th>
                    <th>Rate Basis</th>
                    <th>Has AC</th>
                    <th>Carrier</th>
                    <th>Pay To</th>
                </tr>
            </thead>
            <tr>
               <td>@Model.PaxName</td>
                <td>@Model.Fdate.EAFormat(withTime:false)</td>
                <td align="right">@Model.NoOfVehicles</td>
                <td>@(Model.FromLoc.ToUpper())</td>
                <td>@Model.PickUpPoint</td>
                <td>@Model.Fdate.EAFormatTime(withTime:true)</td>
                <td>@(Model.ToLoc.ToUpper())</td>
                <td>@Model.DropPoint</td>
                <td>@((CarTypeEnum)Model.cartype)</td>
                <td>@Model.RateBasis</td>
                <td>@Model.HasAc</td>
                <td>@Model.HasCarrier</td>
                <td>@Model.PayTo</td>
            </tr>
        </table>

        <table class="SRDetsTbl">
            <thead>
                <tr>
                    <th>Driver</th>
                    <th>Car</th>
                    <th>Invoice No.</th>
                    <th>Coupon</th>
                    <th>Inv. Amt.</th>
                    <th>Inv. Date</th>
                    <th>Conf No.</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.DriverName</td>
                <td>@Model.Car</td>
                <td>@Model.SuppInvNo</td>
                <td>@Model.CouponCode</td>
                <td align="right">@Model.SuppInvAmt</td>
                <td>@Model.SuppInvDt.EAFormat()</td>
                <td>@Model.SuppConfNo</td>
            </tr>
        </table>
        @foreach (var item in ViewBag.ufs)
        {
            <span class="badge badge-secondary"><a target="_blank" style="color:white !important;" href="/Images/@item.Path">@item.UploadName</a> &nbsp; <a style="color:#fe7575 !important;" href="@Url.Action("Delete","SR",new {pid=item.SRUID , id=item.SRID})">X</a></span>
        }

        <div class="row">
            <div class="col">
                @using (Html.BeginForm("SRUpload", "SR", FormMethod.Post, new { @class = "form-inline", id = "ServiceDetsUpld-" + Model.SRDID, enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("SRID", (int)Model.SRID)
                    @Html.Hidden("SRDID", (int)Model.SRDID)
                    @Html.EAText("UploadName", "", "File Description")


                    @Html.TextBox("UploadedFile", "", new { type = "file", @class = "UploadedFile", @data_uf = Model.SRDID })
                }
            </div>
        </div>
        <div class="refund_box" id="@Model.SRDID">
            <div class="row">
                <div class="col">
                    @using (Html.BeginForm("SRCanxServiceAsync", "SR", FormMethod.Post, new { @class = "form-inline", id = "CanxService-" + Model.SRDID }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("SRID", (int)Model.SRID)
                        @Html.Hidden("SRDID", (int)Model.SRDID)
                        @Html.EAText("ProdCanxCost", "", "Prod. Canx Cost")
                        @Html.EAText("SBCanxCost", "", "SB Canx Cost")<br />
                        @Html.EAText("Note", "", "Note")
                        <input type="submit" value="Cancel Service" class="btn alert-danger" />
                    }
                </div>
            </div>
        </div>



    </div>
    <div class="col-2" style="padding-left:0px;">
        @{Html.RenderPartial("ReadPVs/_Fin", Model); }
    </div>
</div>
<br />



@if (ViewBag.isReadOnly != null)
{@Html.Action("CustSearch", "SR", new { id = Model.SRDID })
}

@*@if (Model != null)
    {
        <script>
           $('#AssignDriver').load('@Url.Action("_AssignDriver")', { SRID: @Model.SRID, SRDID: @Model.SRDID});
           $('#Review').load('@Url.Action("_DrvReview")', { SRID: @Model.SRID,SRDID: @Model.SRDID});
        </script>
    }*@






<script>


    $(function () {
        //DateTime picker


        $('.eadate').datepicker({
            dateFormat: "dd-MM-yy",
            showButtonPanel: true,
            changeMonth: true,
            changeYear: true
        });


        //Disable the browsers default date picker
        jQuery.validator.methods["date"] = function (value, element) { return true; }



    });




</script>
