@model Speedbird.Models.PaymentViewModel

@Html.Hidden("DriverID", (int?)ViewBag.DriverID)
@Html.Hidden("SupplierID", (int?)ViewBag.SupplierID)
@Html.Hidden("AgentId", (string)ViewBag.AgentId)
@Html.Hidden("mode", (int?)ViewBag.Mode)

@if (ViewBag.Mode == (int)Speedbird.PayToEnum.Driver)
{

    <div class="row">

        <div class="col-6">

            <h4>Pay To Us</h4>

            <table class="table SRDetsTbl left">
                <thead>
                    <tr>
                        <th>BF</th>
                        <th>Pax Name</th>
                        <th>Date</th>
                        <th>CP</th>
                        <th>SP</th>
                        <th><input type="checkbox" id="checksleft" name="allchecks" /></th>
                    </tr>
                </thead>
                <tbody>
                    @Html.EditorFor(model => model.LeftBkPayVm)
                    <tr>
                        <td colspan="3" class="text-center"><strong>Total</strong></td>
                        <td colspan="2" id="ltot"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h4>Pay To Driver</h4>
            <table class="table SRDetsTbl right">
                <thead>
                    <tr>
                        <th>BF</th>
                        <th>Pax Name</th>
                        <th>Date</th>
                        <th>CP</th>
                        <th>SP</th>
                        <th><input type="checkbox" id="checksright" name="allchecks" /></th>
                    </tr>
                </thead>
                <tbody>

                    @Html.EditorFor(model => model.RightBkPayVm)
                    <tr>
                        <td colspan="3" class="text-center"><strong>Total</strong></td>
                        <td colspan="2" id="rtot"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span style="text-align:center; margin:auto;"><strong>GrandTotal :</strong><span id="gtotal"></span></span>
    </div>
}

@if (ViewBag.Mode == (int)Speedbird.PayToEnum.Supplier)
{

    <div class="row">

        <div class="col-6">

            <h4>Pay To Us</h4>

            <table class="table SRDetsTbl left">
                <thead>
                    <tr>
                        <th>BF</th>
                        <th>Pax Name</th>
                        <th>Date</th>
                        <th>CP</th>
                        <th>SP</th>
                        <th><input type="checkbox" id="checksleft" name="allchecks" /></th>
                    </tr>
                </thead>
                <tbody>
                    @Html.EditorFor(model => model.LeftBkPayVm)
                    <tr>
                        <td colspan="3" class="text-center"><strong>Total</strong></td>
                        <td colspan="2" id="ltot"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h4>Pay To Supplier</h4>
            <table class="table SRDetsTbl right">
                <thead>
                    <tr>
                        <th>BF</th>
                        <th>Pax Name</th>
                        <th>Date</th>
                        <th>CP</th>
                        <th>SP</th>
                        <th><input type="checkbox" id="checksright" name="allchecks" /></th>
                    </tr>
                </thead>
                <tbody>

                    @Html.EditorFor(model => model.RightBkPayVm)
                    <tr>
                        <td colspan="3" class="text-center"><strong>Total</strong></td>
                        <td colspan="2" id="rtot"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span style="text-align:center; margin:auto;"><strong>GrandTotal :</strong><span id="gtotal"></span></span>
    </div>
}

@if (ViewBag.Mode == (int)Speedbird.PayToEnum.Agent)
{

    <div class="row">

        <div class="col-6">

            <h4>Pay To Us</h4>

            <table class="table SRDetsTbl left">
                <thead>
                    <tr>
                        <th>BF</th>
                        <th>Pax Name</th>
                        <th>Date</th>
                        <th>CP</th>
                        <th>SP</th>
                        <th><input type="checkbox" id="checksleft" name="allchecks" /></th>
                    </tr>
                </thead>
                <tbody>
                    @Html.EditorFor(model => model.RightBkPayVm)
                    <tr>
                        <td colspan="3" class="text-center"><strong>Total</strong></td>
                        <td colspan="2" id="ltot"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h4>Pay To Agents</h4>
            <table class="table SRDetsTbl right">
                <thead>
                    <tr>
                        <th>BF</th>
                        <th>Pax Name</th>
                        <th>Date</th>
                        <th>CP</th>
                        <th>SP</th>
                        <th><input type="checkbox" id="checksright" name="allchecks" /></th>
                    </tr>
                </thead>
                <tbody>

                    @Html.EditorFor(model => model.LeftBkPayVm)
                    <tr>
                        <td colspan="3" class="text-center"><strong>Total</strong></td>
                        <td colspan="2" id="rtot"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span style="text-align:center; margin:auto;"><strong>GrandTotal :</strong><span id="gtotal"></span></span>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        $("#checksleft").click(function () {
            $('.left input:checkbox').not(this).prop('checked', this.checked);
        });

        $("#checksright").click(function () {
            $('.right input:checkbox').not(this).prop('checked', this.checked);
        });
    });
</script>
<script>
    $(function () {


        $('.left input:checkbox, .right input:checkbox').change(function (e) {
            var totalLeft = 0;
            var totalRight = 0;
            var Total = 0;
            $('.left .checktotal:checked').each(function () {
                totalLeft += Number($(this).val());
                Total += Number($(this).val());
            });
            $('.right .checktotal:checked').each(function () {
                totalRight += Number($(this).val());
                Total -= Number($(this).val());
            });
            $('#ltot').text(totalLeft + ".00 Rs");
            $('#rtot').text(totalRight + ".00 Rs");
            $('#gtotal').text(Total + ".00 Rs");
        });

    });
</script>