@model PagedList.IPagedList<Cruise>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Cruise";
}

<center>
    <h2 class="section-to-print"><b>@ViewBag.Title</b></h2>
    
    @using (Html.BeginForm("Index", "Cruise", FormMethod.Get))
    {
        <div class="row section-to-Not-print">
            <div>
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;Cruise Name:</td>
                        <td> @Html.TextBox("AN", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>

                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>
            </div>
        </div>
    }
</center>

<p>
    @Html.ActionLink("Create New", "Manage")
</p>
<table class="table">
    <tr>
        <th>Sr No</th>
        <th>
            Cruise Name
        </th>
        <th>
            Description
        </th>
        <th>
            Duration
        </th>
        <th>
            Itinerary
        </th>
        <th>
            Star Rating
        </th>
    </tr>
    @{int i = 1;}
@foreach (var item in Model) {
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CruiseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Itinerary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StarRating)
        </td>
        <td>
            @Html.ActionLink("Edit", "Manage", new { id = item.CruiseID })
        </td>
    </tr>
    i++;
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
