@model PagedList.IPagedList<Speedbird.Tax>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Tax";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>        
    </div>
    <div class="card-body">
        <h5 class="card-title">&nbsp;</h5>
        @using (Html.BeginForm("Index", "Tax", FormMethod.Get))
        {
            <div class="row d-print-none">                
                    <table>
                        <tr style="text-align:center">
                            <td>&nbsp;Tax Name:</td>
                            <td> @Html.TextBox("AN", ViewBag.CurrentFilter as string, new { @class = "form-control" })</td>
                            
                            <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                        </tr>
                    </table>
                
            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Manage","Tax")"><i class="fas fa-plus-circle fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">
        
        <table class="table">
            <tr>
                <th>Tax Id</th>
                <th>
                    Tax Name
                </th>
                <th>ServiceType</th>
                <th>Effective From</th>
                <th>Percentage</th>
                <th></th>
            </tr>
            
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxName)
                </td>
                <td>
                    @(((Speedbird.ServiceTypeEnum)item.ServiceTypeId).ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WEF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)
                </td>
                <td>
                    <a href="@Url.Action("Manage","Tax", new {id = item.TaxId })"><i title="Edit" class="fas fa-edit fa-inverse h3 float-right DropShadow"></i></a>
                </td>
            </tr>
             }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>




