@model PagedList.IPagedList<Speedbird.GeoTree>
@using PagedList.Mvc;
@{
    ViewBag.Title = "GeoTree";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">&nbsp;</h5>
        @using (Html.BeginForm("Index", "GeoTree", FormMethod.Get, new { id = "SearchGeo" }))
        {
            <div class="row d-print-none">
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;Geo Location Name:</td>

                        <td>
                            <select id="GeoId" name="GeoId" style="width:500px;" data-AllowMultiple="false" class="GeoSelect"></select>
                        </td>

                        <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        @using (Html.BeginForm("AddGeo", "GeoTree", FormMethod.Post, new { id = "AddGeo" }))
        {
            @Html.AntiForgeryToken()
            <table>
                <tr>
                    <td width="80%">
                        <span class="h3">@ViewBag.Title : @ViewBag.GeoName </span>
                    </td>
                    <td>
                        @Html.TextBox("GeoName", "", new { @class = "form-control", @style = "padding-top:12px;", placeholder= "Enter new location" })
                        @Html.Hidden("GeoParentId", (int)ViewBag.GeoParentid)
                    </td>
                    <td>
                        <a style="margin-left:10px; padding-top:12px;" href="#" onclick="document.getElementById('AddGeo').submit();"><i class="fas fa-plus-circle fa-inverse h3 float-right DropShadow"></i></a>
                    </td>
                    <td>
                        @if (ViewBag.GeoGrandParentId != null)
                        {
                            <a style="margin-left:10px; padding-top:12px;" href="@Url.Action("Index","GeoTree", new {GeoParentId = ViewBag.GeoGrandParentId  })"><i class="fas fa-arrow-circle-up fa-inverse h3 float-right DropShadow"></i></a>
                        }
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>

        @if (@ViewBag.GeoBrdCrmb != null) { 
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/SBBoss/GeoTree">Worldwide</a></li>
                    @foreach (var bc in @ViewBag.GeoBrdCrmb)
                    {
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "GeoTree", new { GeoId = bc.GeoTreeID })">@bc.GeoName</a></li>
                    }
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.GeoName</li>
                </ol>
            </nav>
        }

        <table class="table table-condensed">
            <tr>
                <th width="70%">
                    Location Name
                </th>
                <th>Edit</th>
                <th>Add Children</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.GeoName)
                    </td>
                    <td>
                        <a href="@Url.Action("Manage","GeoTree", new {id = item.GeoTreeID })"><i title="Edit" class="fas fa-edit fa-inverse h3 DropShadow"></i></a>
                    </td>
                    <td>
                        <a href="@Url.Action("Index","GeoTree", new {GeoId = item.GeoTreeID })"><i title="AddKids" class="fas fa-plus-circle fa-inverse h3 DropShadow"></i></a>
                    </td>
                </tr>

            }

        </table>


    </div>
</div>



<script>
    $('#GeoId').on('select2:select', function (e) {
        $('#SearchGeo').submit();
    });

    $(function () {
        $('#GeoName').focus();
    });
</script>
