@model PagedList.IPagedList<Speedbird.SRdetailDets>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Activity";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>
    </div>
    <div class="card-body">
        <h5 class="card-title">&nbsp;</h5>
        @using (Html.BeginForm("Index", "Employee", FormMethod.Get))
        {
            <div class="row d-print-none">
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;From Date:</td>
                        <td> @Html.TextBox("fd", ViewBag.CurrentFilter as string, new { @class = "form-control eadate", Type = "Text" })</td>
                        <td>&nbsp;To Date:</td>
                        <td> @Html.TextBox("td", ViewBag.CurrentFilter as string, new { @class = "form-control eadate", Type = "Text" })</td>
                        <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">Commisions</span>
    </div>
    <div class="card-body">
        <h5>&nbsp;</h5>
          
            <table class="table table-striped">
                <tr>
                    <th>Date</th>
                    <th>Booking No</th>
                    <th>Total Sell Cost</th>
                    <th>Commsion</th>

                </tr>
                @foreach (var item in Model)
            {
                <tr>
                    <td> @($"{item.Tdate:dd/MMM/yyyy}")</td>
                    <td>@item.BookingNo</td>
                    <td>@item.SellPrice </td>
                    <td>@item.Total</td>
                </tr>
        }
            </table>
        
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                   new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>



