@model PagedList.IPagedList<Speedbird.Paymentvw>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Driver Payment History";
}


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h5">Search</span>
    </div>
    <div class="card-body">
        
        @using (Html.BeginForm("PaymentList", "Driver", FormMethod.Get))
        {
            if (ViewBag.SupplierID !=null)
            {
                @Html.Hidden("DriverId",(int)ViewBag.DriverID )
            }
            <div class="row d-print-none">
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;Driver Name:</td>
                        <td>
                            <input type="text" id="DriverName" name="DriverName" style="color:black;"value="@ViewBag.DriverName"  class="form-control" disabled />
                        </td>
                        <td>&nbsp;From Date:</td>
                        <td> @Html.TextBox("fd", ViewBag.CurrentFilter as string, new { @class = "form-control eadate",type="text" })</td>
                        <td>&nbsp;To Date:</td>
                        <td> @Html.TextBox("td", ViewBag.CurrentFilter as string, new { @class = "form-control eadate" ,type = "text" })</td>
                        <td><input type="submit" value="Search" class="btn btn-primary" /></td>
                    </tr>
                </table>

            </div>
        }
    </div>
</div>


<div class="card border rounded DropShadow">
    <div class="position-absolute text-center rounded DropShadow" id="EAcardTitle">
        <span class="h3">@ViewBag.Title</span>
        <a href="@Url.Action("Index","Driver")"><i class="fas fa-undo-alt fa-inverse h3 float-right DropShadow"></i></a>
    </div>
    <div class="card-body">

        <table class="table">
            <tr>
                <th>Sr No</th>
                <th>Date</th>
                <th>
                    Amount
                </th>
                <th>
                    Note
                </th>
                <th>
                    Type
                </th>
                <th>
                    Bank Name
                </th>
                <th>
                    Cheque No
                </th>
                <th>
                    Transaction No
                </th>
            </tr>
            @{int i = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @i
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @((Speedbird.AmtType)item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChequeNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionNo)
                    </td>
                </tr>
                i++;
            }

        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
                  new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    </div>
</div>



